<script>
    let table;
    $(document).ready(() => {
        init();
    })

    function init() {
        table = $('#repTB').DataTable({
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                "targets": [0, 4],
                "width": "250px"
            }, {
                "targets": [1, 7],
                "width": "400px"
            }, {
                "targets": [2, 3, 5, 6, 8, 13, 14],
                "width": "200px"
            }, {
                "targets": [9, 10, 11, 12, 15, 16, 17],
                "width": "150px"
            }]
        });
        table.columns.adjust().draw();
        $('#cntnum-srch').focus();
    }

    function setValue(e) {
        if (e.charCode == 13) {
            let cntNum = $('#cntnum-srch').val();
            if (cntNum == '') {
                return;
            }
            $('#btnSearch').removeAttr('disabled');
            $('#cntnum-srch').attr('readonly', true)
        }
    }

    function checkValue(val) {
        if (val == '') {
            $('#btnSearch').attr('disabled', true);
        }
    }

    function clearPage(obj) {
        obj.blur();
        table.rows().remove().draw();
        $('#cntnum-srch').val('');
        $('#cntnum-srch').removeAttr('readonly')
        $('#btnSearch, #btnExport').attr('disabled', true);
        $('#cntnum-srch').focus();
    }

    function exportExcel(obj) {
        obj.blur();

        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#repTB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'รายงาน Post',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
        document.getElementById("repTB").deleteCaption();
    }

    function search(obj) {
        obj.blur();
        $(obj).attr('disabled', true);
        $('#btnClear').attr('disabled', true);
        $('#wait').show();
        let cntNum = $('#cntnum-srch').val();
        let qry =
            `declare @result varchar(500);
             exec WebCC_REP_POST 'R', '${userId}', '${cntNum}', @result output
             select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                clearNotFound();
                return;
            }

            let result = jsn.dbitems[jsn.dbrows - 1].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', '', result);
                clearNotFound();
                return;
            }

            table.rows().remove().draw();
            if (!(jsn.dbrows > 1)) {
                $('#btnExport').attr('disabled', true);
                swalConfirm('warning', 'ไม่พบข้อมูล', "");
                clearNotFound();
                return
            }

            $('#btnExport, #btnClear').removeAttr('disabled');
            $(obj).removeAttr('disabled');
            $('#wait').hide();
            jsn.dbitems.forEach((itm, idx, arr) => {
                if (idx < arr.length - 1) {
                    table.row.add([itm.DOCNAME, itm.STORE, itm.PRNDATE, itm.CNTNUM,
                        itm.CNTNAME, itm.CNTDATE, itm.FREEZEDATE,
                        itm.SUBDEPTCODE + ' - ' + itm.SUBDEPTNAME,
                        itm.SKU_COUNT, itm.SOH, itm.PHYCNT, itm.VARIANCE_QNT,
                        itm.VARIANCE_PERC, textToNumeric(itm.EXTPHYCNT_RETAIL),
                        textToNumeric(itm.EXTPHYCNT_COST), textToNumeric(itm.EXTPHY_RETAILVAR),
                        textToNumeric(itm.EXTPHY_COSTVAR), itm.HOLDREF
                    ]).draw(false);
                }
            })
        })
    }

    function clearNotFound() {
        $('#btnSearch, #btnClear').removeAttr('disabled');
        $('#wait').hide();
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Post Report</h3>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12 pl-0">
            <div class="col-md-3 col-xs-12">
                <label for="cntnum-srch">เลขที่ใบนับ</label>
                <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                    placeholder="กรุณาระบุเลขที่ใบนับแล้วกด Enter" autocomplete="off" onkeypress='setValue(event);'
                    onchange='checkValue(this.value);'>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pl-0">
            <div class="col-md-6 col-xs-12">
                <br>
                <span style='float: left;'>
                    <button class='btn btn-primary' id='btnSearch' disabled onclick='search(this);'><i
                            class="fa fa-search" aria-hidden="true"></i> ค้นหา</button>
                    <button class='btn btn-info' id='btnClear' onclick='clearPage(this);'><i class="fa fa-eraser"
                            aria-hidden="true"></i> เคลียร์</button>
                </span>
            </div>
            <div class="col-md-6 col-xs-12">
                <br>
                <span style='float: right;'>
                    <button class='btn btn-warning' id='btnExport' disabled onclick='exportExcel(this);'><i
                            class="fa fa-download" aria-hidden="true"></i> Export Excel</button>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 pl-0">
            <table class='table table-bordered table-striped' id='repTB'>
                <thead>
                    <tr>
                        <th class='text-center'>รายงาน</th>
                        <th class='text-center'>ชื่อสาขา</th>
                        <!-- <th class='text-center'>หน้าที่</th> -->
                        <th class='text-center'>วันที่พิมพ์</th>
                        <th class='text-center'>ใบนับเลขที่</th>
                        <th class='text-center'>ชื่อการนับ</th>
                        <th class='text-center'>Count Date</th>
                        <th class='text-center'>Freeze Date</th>
                        <th class='text-center'>Sub-Department</th>
                        <th class='text-center'>SKU Count</th>
                        <th class='text-center'>Stock on Hand</th>
                        <th class='text-center'>Physical Count</th>
                        <th class='text-center'>Quantity Variance</th>
                        <th class='text-center'>% Variance</th>
                        <th class='text-center'>Ext Physical Count Retail</th>
                        <th class='text-center'>Ext Physical Count Cost</th>
                        <th class='text-center'>Ext Retail Variance</th>
                        <th class='text-center'>Ext Code Variance</th>
                        <th class='text-center'>เลขที่ Hold</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row" id='wait' hidden>
        <center>
            <img src="../images/wait.gif" alt="">
        </center>
    </div>
</div>