<script>
    let table;
    $(document).ready(() => {
        init();
    })

    function init() {
        $('#store-srch').select2({
            placeholder: 'เลือกสาขา'
        });
        getStoreByUser();
        table = $('#repTB').DataTable({
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                "targets": [0, 1, 3, 5, 8, 9, 10],
                "width": "200px"
            }, {
                "targets": [2],
                "width": "150px"
            }, {
                "targets": [4],
                "width": "700px"
            }, {
                "targets": [6, 7],
                "width": "300px"
            }]
        });
        table.columns.adjust().draw();
    }

    function getStoreByUser() {
        let qry = `
        exec WebCC_LoadStoreByUser '${userId}'
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let append = {
                    id: itm.ST_CODE,
                    text: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`
                }
                let newOption = new Option(append.text, append.id, false, false);
                $('#store-srch').append(newOption).trigger('change');
            });
        });
    }

    function search(obj) {
        obj.blur();
        $(obj).attr('disabled', true);
        $('#wait').show();
        let cntNum = $('#cntnum-srch').val();
        let stc = $('#store-srch').val();
        let startDate = $('#startcntdt-srch').val();
        let endDate = $('#endcntdt-srch').val();
        let skubcr = $('#skubcr-srch').val();
        let qry =
            `declare @result varchar(500);
             exec WebCC_REP_Transaction 'R', '${userId}', ${stc ? `'${stc}'` : null}, ${cntNum ? `'${cntNum}'` : null}, ${startDate ? `'${startDate}'` : null}, ${endDate ? `'${endDate}'` : null}, @result output
             select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                clearNotFound();
                return;
            }

            table.rows().remove().draw();
            if (!(jsn.dbrows > 1)) {
                $('#btnExport').attr('disabled', true);
                swalConfirm('warning', 'ไม่พบข้อมูล', "");
                clearNotFound();
                return
            }

            $('#btnExport').removeAttr('disabled');
            $(obj).removeAttr('disabled');
            $('#wait').hide();
            jsn.dbitems.forEach((itm, idx, arr) => {
                if (idx < arr.length - 1) {
                    table.row.add([itm.CNTNUM, itm.CNTDATE, itm.SKCODE, itm.BARCODE, itm.PRNAME,
                        `<center><button class='btn btn-success w-50' onclick="getScanCount(this, '${itm.CNTNUM}', '${itm.SKCODE}');" value='${itm.SCAN_COUNT}'><i class="fa fa-search" aria-hidden="true"></i> ${itm.SCAN_COUNT}</button></center>`,
                        `<center><button class='btn btn-success w-50' onclick="getEditTrans(this, '${itm.CNTNUM}', '${itm.SKCODE}');" value='${itm.LOCATION_EDIT_COUNT}'><i class="fa fa-search" aria-hidden="true"></i> ${itm.LOCATION_EDIT_COUNT}</button></center>`,
                        `<center><button class='btn btn-success w-50' onclick="getEditLocation(this, '${itm.CNTNUM}', '${itm.SKCODE}');" value='${itm.SKU_EDIT_COUNT}'><i class="fa fa-search" aria-hidden="true"></i> ${itm.SKU_EDIT_COUNT}</button></center>`,
                        itm.CATEGORY, itm.BRAND, itm.MODEL
                    ]).draw(false);
                }
            })
        })
    }


    function clearNotFound() {
        $('#btnSearch').removeAttr('disabled');
        $('#wait').hide();
    }

    function getScanCount(obj, cntNum, skcode) {
        obj.blur();
        clearTB('scancount');
        let qry = `declare @result varchar(500)
                    exec WebCC_REP_Transaction_DetTrans 'R', '${userId}', '${cntNum}', ${skcode}, @result output
                    select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[jsn.dbrows - 1].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', '', result);
                return;
            }

            if (!(jsn.dbrows > 1)) {
                swalConfirm('warning', 'ไม่พบข้อมูล', "");
                return
            }

            let table = $('#table').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    filename: 'รายงานสแกนของใบนับ ' + cntNum + ', SKU ' + skcode,
                    title: null
                }]
            });
            jsn.dbitems.forEach((itm, idx, arr) => {
                if (idx == 0) {
                    $('#skuDet').val(itm.SKCODE);
                    $('#prnameDet').val(itm.PRNAME);
                    $('#brandDet').val(itm.BRAND);
                    $('#modelDet').val(itm.MODEL);
                    $('#categoryDet').val(itm.CATEGORY);
                    $('#barcodeDet').val(itm.BARCODE);
                } else {
                    if (idx < arr.length - 1) {
                        table.row.add([itm.CNTNUM, itm.CNTDATE, itm.LOCATION, itm.CNTQNT, itm.USERID,
                            itm.TRANDATE
                        ]).draw(false);
                    }
                }

                if (idx == arr.length - 1) {
                    $('#modal').modal('show');
                }
            })
        })
    }

    function clearTB(type) {
        $('#table').remove();
        if (type == 'scancount') {
            $('#tbDiv').html(`<table class='table table-bordered table-striped' id='table'>
                                    <thead>
                                        <tr>
                                            <th class='text-center'>เลขที่ใบนับ</th>
                                            <th class='text-center'>วันที่นับ</th>
                                            <th class='text-center'>Location</th>
                                            <th class='text-center'>จำนวนนับ</th>
                                            <th class='text-center'>ผู้ทำการนับ</th>
                                            <th class='text-center'>วันเวลาที่นับ</th>
                                        </tr>
                                    </thead>
                                </table>`);
        } else if (type == 'edittrans') {
            $('#tbDiv').html(`<table class='table table-bordered table-striped' id='table'>
                                    <thead>
                                        <tr>
                                            <th class='text-center'>เลขที่ใบนับ</th>
                                            <th class='text-center'>วันที่นับ</th>
                                            <th class='text-center'>Location</th>
                                            <th class='text-center'>จำนวนนับก่อนแก้ไข</th>
                                            <th class='text-center'>จำนวนนับที่แก้ไข</th>
                                            <th class='text-center'>ผู้ทำการนับ</th>
                                            <th class='text-center'>วันเวลาที่แก้ไข</th>
                                        </tr>
                                    </thead>
                                </table>`);
        } else {
            $('#tbDiv').html(`<table class='table table-bordered table-striped' id='table'>
                                    <thead>
                                        <tr>
                                            <th class='text-center'>เลขที่ใบนับ</th>
                                            <th class='text-center'>วันที่นับ</th>
                                            <th class='text-center'>จำนวนนับก่อนแก้ไข</th>
                                            <th class='text-center'>จำนวนนับที่แก้ไข</th>
                                            <th class='text-center' >ผู้ทำการนับ</th>
                                            <th class='text-center'>วันเวลาที่แก้ไข</th>
                                        </tr>
                                    </thead>
                                </table>`);
        }

    }

    function getEditTrans(obj, cntNum, skcode) {
        obj.blur();
        clearTB('edittrans');
        let qry = `declare @result varchar(500)
                    exec WebCC_REP_Transaction_DetEditItemLoc 'R', '${userId}', '${cntNum}', ${skcode}, @result output
                    select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[jsn.dbrows - 1].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', '', result);
                return;
            }

            if (!(jsn.dbrows > 1)) {
                swalConfirm('warning', 'ไม่พบข้อมูล', "");
                return
            }

            let table = $('#table').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    filename: 'รายงานแก้ไขยอดนับระดับ Transaction ของใบนับ ' + cntNum +
                        ', SKU ' + skcode,
                    title: null
                }]
            });
            jsn.dbitems.forEach((itm, idx, arr) => {
                if (idx == 0) {
                    $('#skuDet').val(itm.SKCODE);
                    $('#prnameDet').val(itm.PRNAME);
                    $('#brandDet').val(itm.BRAND);
                    $('#modelDet').val(itm.MODEL);
                    $('#categoryDet').val(itm.CATEGORY);
                    $('#barcodeDet').val(itm.BARCODE);
                } else {
                    if (idx < arr.length - 1) {
                        table.row.add([itm.CNTNUM, itm.CNTDATE, itm.LOCATION, itm.OLDQNT, itm.NEWQNT,
                            itm.USERID, itm.TRANDATE
                        ]).draw(false);
                    }
                }

                if (idx == arr.length - 1) {
                    $('#modal').modal('show');
                }
            })
        })
    }

    function getEditLocation(obj, cntNum, skcode) {
        obj.blur();
        clearTB('editvariance');
        let qry = `declare @result varchar(500)
                    exec WebCC_REP_Transaction_DetEditItemSum 'R', '${userId}', '${cntNum}', ${skcode}, @result output
                    select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            console.log(jsn)
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[jsn.dbrows - 1].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', '', result);
                return;
            }

            if (!(jsn.dbrows > 1)) {
                swalConfirm('warning', 'ไม่พบข้อมูล', "");
                return
            }

            let table = $('#table').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'excel',
                    filename: 'รายงานแก้ไขยอดนับระดับ Variance ของใบนับ ' + cntNum + ', SKU ' +
                        skcode,
                    title: null
                }]
            });
            jsn.dbitems.forEach((itm, idx, arr) => {
                if (idx == 0) {
                    $('#skuDet').val(itm.SKCODE);
                    $('#prnameDet').val(itm.PRNAME);
                    $('#brandDet').val(itm.BRAND);
                    $('#modelDet').val(itm.MODEL);
                    $('#categoryDet').val(itm.CATEGORY);
                    $('#barcodeDet').val(itm.BARCODE);
                } else {
                    if (idx < arr.length - 1) {
                        table.row.add([itm.CNTNUM, itm.CNTDATE, itm.OLDQNT, itm.NEWQNT, itm.USERID,
                            itm.TRANDATE
                        ]).draw(false);
                    }
                }

                if (idx == arr.length - 1) {
                    $('#modal').modal('show');
                }
            })
        })
    }

    function exportExcel(obj) {
        obj.blur();

        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#repTB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'Transaction Report',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
        document.getElementById("repTB").deleteCaption();
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Transaction Report</h3>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12 pl-0">
            <div class="col-md-3 col-xs-12">
                <label for="cntnum-srch">เลขที่ใบนับ</label>
                <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                    placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
            </div>
            <div class="col-md-3 col-xs-12">
                <label for="store-srch">สาขา</label>
                <select id='store-srch' name='store-srch' class='form-control' style='width: 100%;'>
                    <option value=''>เลือกสาขา</option>
                </select>
            </div>
            <div class="col-md-3 col-xs-12">
                <label for="startcntdt-srch">ช่วงวันที่ของการนับ - เริ่มต้น</label>
                <input type="date" name="startcntdt-srch" id="startcntdt-srch" class='form-control' autocomplete="off">
            </div>
            <div class="col-md-3 col-xs-12">
                <label for="endcntdt-srch">ช่วงวันที่ของการนับ - สิ้นสุด</label>
                <input type="date" name="endcntdt-srch" id="endcntdt-srch" class='form-control' autocomplete="off">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pl-0">
            <div class="col-md-6 col-xs-12">
                <br>
                <span style='float: left;'>
                    <button class='btn btn-primary' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                            aria-hidden="true"></i> ค้นหา</button>
                </span>
            </div>
            <div class="col-md-6 col-xs-12">
                <br>
                <span style='float: right;'>
                    <button class='btn btn-warning' id='btnExport' disabled onclick='exportExcel(this);'><i
                            class="fa fa-download" aria-hidden="true"></i> Export Excel</button>
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 pl-0">
            <table class='table table-bordered table-striped' id='repTB'>
                <thead>
                    <tr>
                        <th class='text-center'>เลขที่ใบนับ</th>
                        <th class='text-center'>วันที่นับ</th>
                        <th class='text-center'>SKU</th>
                        <th class='text-center'>Barcode</th>
                        <th class='text-center'>ชื่อสินค้า</th>
                        <th class='text-center'>จำนวนครั้งที่สแกน</th>
                        <th class='text-center'>จำนวนครั้งที่แก้ไขระดับ Location</th>
                        <th class='text-center'>จำนวนครั้งที่แก้ไขระดับ SKU</th>
                        <th class='text-center'>กลุ่มสินค้า</th>
                        <th class='text-center'>ยี่ห้อ</th>
                        <th class='text-center'>รุ่น</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div id="modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style='width: 70%'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="col-md-4 col-xs-12">
                                <label for="skuDet">SKU</label>
                                <input type="text" name="skuDet" id="skuDet" class='form-control' readonly>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="barcodeDet">Barcode</label>
                                <input type="text" name="barcodeDet" id="barcodeDet" class='form-control' readonly>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="prnameDet">ชื่อสินค้า</label>
                                <input type="text" name="prnameDet" id="prnameDet" class='form-control' readonly>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="brandDet">Brand</label>
                                <input type="text" name="brandDet" id="brandDet" class='form-control' readonly>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="modelDet">Model</label>
                                <input type="text" name="modelDet" id="modelDet" class='form-control' readonly>
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <label for="categoryDet">กลุ่มสินค้า</label>
                                <input type="text" name="categoryDet" id="categoryDet" class='form-control' readonly>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 col-xs-12" id='tbDiv'>
                            <table class='table table-bordered table-striped' id='table'>
                            </table>
                        </div>
                    </div>
                    <div class="row" id='wait' hidden>
                        <center>
                            <img src="../images/wait.gif" alt="">
                        </center>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
</div>