<script>
    let detTB, header, objArr;
    let count = 0;
    let insitms = [];
    let insitm = '';
    let xl_header;
    let failtable;
    $(document).ready(() => {
        init()
    })

    function init() {
        if (!profileList.includes('1143')) {
            $('#importtab').hide();
        } else {
            $('#importtab').show();
        }

        if (!profileList.includes('1144')) {
            header = `<thead>
                            <tr>
                                <th class='text-center'>SKU</th>
                                <th class='text-center'>สี</th>
                                <th class='text-center'>อัพโหลดโดย</th>
                                <th class='text-center'>อัพเดทเมื่อวันที่</th>
                            </tr>
                        </thead>`;
            objArr = [{
                targets: [0],
                width: '50px'
            }, {
                targets: [1, 2],
                width: '100px'
            }, {
                targets: [3],
                width: '150px'
            }]
        } else {
            header = `<thead>
                            <tr>
                                <th class='text-center'>SKU</th>
                                <th class='text-center'>สี</th>
                                <th class='text-center'>อัพโหลดโดย</th>
                                <th class='text-center'>อัพเดทเมื่อวันที่</th>
                                <th class='text-center'></th>
                            </tr>
                        </thead>`;
            objArr = [{
                targets: [0],
                width: '50px'
            }, {
                targets: [1, 2],
                width: '100px'
            }, {
                targets: [3],
                width: '150px'
            }, {
                targets: [4],
                width: '20px'
            }]
        }
        $('#detTB').append(header)
        detTB = $('#detTB').DataTable({
            columnDefs: objArr
        });
    }

    function search(obj) {
        obj.blur();
        let skuSearch = $('#sku-srch').val();
        let colorSearch = $('#color-srch').val();

        let qry =
            `exec WebCC_SearchSKUColor ${skuSearch ? `'${skuSearch}'` : null}, ${colorSearch ? `'${colorSearch}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                detTB.rows().remove().draw(false);
                return;
            }

            detTB.rows().remove().draw(false);
            if (jsn.dbrows == 0) {
                swalConfirm('warning', 'ไม่พบข้อมูลที่ต้องการค้นหา', '');
                return;
            }

            jsn.dbitems.forEach((itm, idx, arr) => {
                let [sku, color, lupdUser, lupd] = [itm.SKCODE, itm.COLOR, itm.USERID, itm.LUPD];
                let objItms = (!profileList.includes('1144')) ? [sku, color, lupdUser, lupd] : [sku,
                    color, lupdUser, lupd,
                    `<center><button class='btn btn-danger' onclick='deleteSku(this, ${sku})'><i class="fa fa-trash-o" aria-hidden="true"></i></button></center>`
                ];
                detTB.row.add(objItms).draw(false);
            })
        })
    }

    function deleteSku(obj, sku) {
        obj.blur();
        swal({
                title: 'คุณต้องการลบ ใช่หรือไม่?',
                text: 'SKU - ' + sku,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = ` declare @result varchar(500)
                            exec WebCC_DeleteSKUColor ${sku}, @result output
                            select @result as RESULT`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    let result = jsn.dbitems[0].RESULT
                    if (result != 'OKOK') {
                        swalConfirm('warning', 'ลบข้อมูลไม่สำเร็จ', result)
                        return
                    }

                    swalAl('success', 'ลบข้อมูลสำเร็จ', '');
                    $('#btnSearch').click();
                });
            }
        );
    }

    function handleFileSelect(evt) {
        clearTable();
        $('#btnProcess').removeAttr("disabled");

        $('#inpfile').attr('disabled', true);

        console.log('File is selected  ')
        let tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        let fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        insitm = '';
        let reader = new FileReader();
        reader.onload = function (event) {
            let data = event.target.result;
            let workbook = XLSX.read(data, {
                type: 'binary'
            });
            let sheetNames = workbook.SheetNames;
            let worksheet = workbook.Sheets[sheetNames[0]];

            let xl_row = XLSX.utils.sheet_to_row_object_array(worksheet);
            xl_header = getHeaders(worksheet);
            let lstheader = xl_header.map((itm) => itm.toLowerCase());
            if (!lstheader.includes('sku') || !lstheader.includes('color')) {
                clearAll();
                swalConfirm('warning', 'กรุณาตรวจสอบไฟล์', 'ไฟล์ Excel ควรมีคอลัมน์ดังนี้\r\nSKU และ COLOR')
                return
            }

            let skuHeader, colorHeader;
            xl_header.map((itm, idx, arr) => {
                if (itm.toLowerCase() == 'sku') {
                    skuHeader = itm;
                }

                if (itm.toLowerCase() == 'color') {
                    colorHeader = itm
                }

                if (idx == arr.length - 1) {
                    let header =
                        `<tr><th class='text-center'>SKU</th><th class='text-center'>COLOR</th></tr>`;
                    $('#header').html(header);

                    let headerf =
                        `<tr style="color:black;"><th class='text-center'>SKU</th><th class='text-center'>COLOR</th><th class='text-center'>ERROR MESSAGE</th></tr>`;
                    $('#failheader').html(headerf);

                    let detail = '';
                    let detailf = '';
                    let tempsku = 'X';
                    let idx = 0;

                    for (let i = 0; i < xl_row.length; i++) {
                        let itm = xl_row[i];

                        let sku = itm[skuHeader]
                        if (!sku) continue;

                        sku = sku.replace(/\./g, '').replace(/\+/g, '')
                            .replace(/\//g, '');
                        let color = itm[colorHeader];
                        if (!color) continue;
                        color = color.trim().replace('\r\n', '');

                        if (sku == '' || sku.length != 8 || sku.includes('E') || IsNullOrEmpty(color)) {
                            continue;
                        }

                        if (tempsku.includes(sku)) {
                            detailf +=
                                `<tr><td>${sku}</td><td>${color.trim()}</td><td>รายการ SKU ซ้ำ</td></tr>`;
                            continue;
                        }

                        if (i % 1000 == 0) {
                            insitm = insitm.substring(0, insitm.length - 1)
                            insitms[idx] = insitm;
                            ++idx;
                            insitm = '';
                        }

                        insitm += `(''${loginId}'',''${i+1}'',''${sku}'',''${color}'',''${userId}'',null),`;
                        detail += `<tr><td>${sku}</td><td>${color.trim()}</td></tr>`;

                        tempsku = tempsku + 'X' + sku;
                    }

                    if (insitm != '') {
                        insitm = insitm.substring(0, insitm.length - 1)
                        insitms[idx] = insitm;
                    }
                    $('#body').html(detail);
                    $('#importTB').DataTable({
                        "pageLength": 10
                    });
                    $('#btnAll').show();
                    $('#importDiv').show();

                    $('#failbody').html(detailf);
                    failtable = $('#failTB').DataTable({
                        "pageLength": 10,
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            filename: 'รายการข้อมูลสีที่มีปัญหา',
                            title: null
                        }]
                    });
                    if (failtable.rows().data().length > 0) {
                        $('#failDiv').show();
                    }

                }
            })
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    async function process(obj) {
        obj.blur();
        swal({
                title: 'คุณต้องการเพิ่มข้อมูลสีใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                $('#btnProcess').attr('disabled', true);
                importData();
            }
        );
    }

    async function importData() {
        let table = $('#importTB').DataTable();

        if (table.rows().data().length == 0) {
            swalConfirm('warning', 'เงื่อนไข!!!',
                'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
            clearAll();
            return;
        }

        count = table.rows().data().length;

        let delTmp = await deleteTmpImportSkuColor(loginId);
        if (delTmp != '') {
            swalConfirm('error', 'ไม่สำเร็จ', delTmp)
            return
        }

        let insertNewTmp = await insertNewTmpSkuColor();
        if (insertNewTmp != '') {
            swalConfirm('error', 'ไม่สำเร็จ', insertNewTmp)
            return
        }

        let qry = `
                    declare @result varchar(500)
                    EXEC WebCC_ImportSKUColor '${userId}', ${loginId}, @result output
                    select @result as RESULT`;
        let pdata = {
            query: qry
        }

        ajaxExec(pdata, async function (isok, ret) {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                await deleteTmpImportSkuColor(loginId);
                clearInputFile(inpfile);
                return
            }

            if (jsn.dbitems[jsn.dbitems.length - 1].RESULT == 'OKOK') {
                swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count +
                    ' แถว');
                await deleteTmpImportSkuColor(loginId);
                clearInputFile(inpfile);
                return;
            }

            swalConfirm('warning', 'กรุณาแก้ไขไฟล์', jsn.dbitems[jsn.dbitems.length - 1]
                .RESULT);

            jsn.dbitems.map(async (itm, idx, arr) => {
                if (idx <= arr.length - 2) {
                    failtable.row.add([itm.SKCODE, itm.COLOR, itm.ERRMSG]).draw(true);
                    if (idx == arr.length - 2) {
                        if (failtable.rows().data().length > 0) {
                            $('#failDiv').show();
                        }
                        await deleteTmpImportSkuColor(loginId);
                    }
                }

                if (idx == arr.length - 1) {
                    await deleteTmpImportSkuColor(loginId);
                }
            })
        });
    }

    async function deleteTmpImportSkuColor(loginId) {
        return new Promise((res, rej) => {
            let qry = `delete TMPIMPORTSKUCOLOR where LOGINID = '${loginId}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, (isok, ret) => {
                let jsn = JSON.parse(ret);
                if (!(isok && jsn.dbcode === 0)) {
                    rej(jsn.dbmessage);
                }

                res('')
            })
        })
    }

    async function insertNewTmpSkuColor() {
        var countins = 0;
        var msg = '';
        return new Promise((res, rej) => {
            try {
                insitms.forEach(async (itm, idx, arr) => {
                    if (itm != '')
                        await insertStep1000Rows(itm);
                    if (idx == arr.length - 1) {
                        res('')
                    }
                })
            } catch (err) {
                rej(err.message)
            }

        })
    }

    async function insertStep1000Rows(insitm) {
        return new Promise((res, rej) => {
            var qry = `exec ('insert into TMPIMPORTSKUCOLOR values ${insitm}') `;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                var jsn = JSON.parse(ret);
                if (jsn.dbcode == 888)
                    rej(new Error(jsn.dbmessage))

                res('')
            });
        })
    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        $('#btnAll').hide();
        $('#importDiv').hide();
        $('#inpfile').attr('disabled', false);
        $('#btnProcess').removeAttr("disabled");
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<h4>รายการข้อมูลสีที่ต้องการอัพโหลด</h4>
                              <table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
        $('#failTB').remove();
        $('#failDiv').html(`<label>รายการข้อมูลสีที่มีปัญหา</label>
                        <table id="failTB" class="table table-striped table-bordered">
                            <thead id="failheader">

                            </thead>
                            <tbody id="failbody">

                            </tbody>
                        </table>`);
        $('#failDiv').hide();
    }

    function change2Det() {
        clearAll()
    }
</script>
<style>
    #failTB{
        color : red;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>กำหนดข้อมูลสี</h3>
        </div>
    </div><br>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#detail" onclick='change2Det()'>ค้นหาข้อมูลสี</a></li>
            <li id='importtab'><a data-toggle="tab" href="#import">อัพโหลดข้อมูลสี</a></li>
        </ul>

        <div class="tab-content">
            <div id="detail" class="tab-pane fade in active">
                <br>
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <label for="sku-srch">ระบุ SKU ที่ต้องการค้นหา</label>
                        <input type="text" name="sku-srch" id="sku-srch" class='form-control'
                            placeholder="ระบุ SKU ที่ต้องการค้นหา">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="color-srch">ระบุสีที่ต้องการค้นหา</label>
                        <input type="text" name="color-srch" id="color-srch" class='form-control'
                            placeholder="ระบุสีที่ต้องการค้นหา">
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <button class='btn btn-info' id='btnSearch' onclick='search(this)'>ค้นหา</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <table class="table table-striped table-bordered" id='detTB'>

                        </table>
                    </div>
                </div>
            </div>
            <div id="import" class="tab-pane fade">
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <pre><h4>คุณสามารถอัพโหลดข้อมูลสีได้ที่หน้านี้ โดยในไฟล์ต้องมีคอลัมน์ SKU, COLOR(แดง,ขาว) หรือ แดง</h4></pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="inpfile">เลือกไฟล์</label>
                        <input type="file" onchange="handleFileSelect()" name="inpfile" id="inpfile"
                            accept=".xls, .xlsx">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="col-md-6 col-xs-12">
                            <div id="importDiv" hidden>
                                <label>รายการข้อมูลสีที่ต้องการอัพโหลด</label>
                                <table id="importTB" class="table table-striped table-bordered">
                                    <thead id="header">

                                    </thead>
                                    <tbody id="body">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <div id="failDiv" hidden>
                                <label>รายการข้อมูลสีที่มีปัญหา</label>
                                <table id="failTB" class="table table-striped table-bordered">
                                    <thead id="failheader">

                                    </thead>
                                    <tbody id="failbody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div id="btnAll" hidden>
                        <div class="col-md-12 col-xs-12">
                            <button onclick='javascript:process(this);' class='btn btn-primary mr-2 mb-2'
                                id="btnProcess"><i class="fa fa-upload" aria-hidden="true"></i> Process</button>
                            <button onclick='javascript:clearAll();' class='btn btn-danger mb-2' id="btnCancel"><i
                                    class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                </div>
                <br>
            </div>
        </div>
    </div>
</div>