<script>
    var mode;
    $(document).ready(() => {
        init()
    })

    function init() {
        table = $('#schedTb').DataTable({
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                    "targets": [0, 1],
                    "width": "280px"
                },
                {
                    "targets": [4, 5],
                    "width": "70px"
                },
                {
                    "targets": [2, 3],
                    "width": "400px"
                }
            ]
        });
        table.columns.adjust().draw();

    }

    function search(obj) {
        obj.blur();

        if (!profileList.includes('1139')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'ตรวจสอบมาตรฐานสี');
            return;
        }

        let setId = $('#setcolor-srch').val() != '' ? $('#setcolor-srch').val() : null;

        if (!IsNullOrEmpty(setId) && setId.length > 20) {
            swalConfirm('warning', 'ไม่สามารถค้นหาได้', 'กรุณาใส่ชื่อสีให้ถูกต้อง');
            return;
        }

        table.rows().remove().draw(false);
        let qry =
            `exec WebCC_SearchColorMap ${setId ? `'${setId}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                table.row.add([
                    itm.COLORNAME, itm.COLORCODE, itm.USERID, itm.LUPD,
                    `<center>
                        <button class='btn btn-success w-100' onclick="AddColor(this, 'A', '${itm.COLORNAME}', '${itm.COLORCODE}', '${itm.USERID}');">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไขสี</button>
                    </center>`,
                    `<center>
                        <button class='btn btn-danger w-100' onclick="deleteColor(this, '${itm.COLORNAME}');">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> ลบสี</button>
                    </center>`
                ]).draw(false);

            })
        })
    }

    function AddColor(obj, MODE, COLORNAME, COLORCODE, USERID) {
        obj.blur();
        if (!profileList.includes('1140')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'เพิ่มมาตรฐานสี');
            return;
        }
        // console.log(COLORNAME+COLORCODE+USERID);
        $('#searchPanel').hide();
        if (COLORNAME!=null) {
            $('#colorname-edt').val(COLORNAME);
            $('#colorcode-edt').val(COLORCODE);
            $('#userid-edt').val(USERID);
        }
        else{
            $('#colorname-edt').val('');
            $('#colorcode-edt').val('');
            $('#userid-edt').val('');
        }
        mode = MODE;
        console.log(mode);
        $('#addColorePanel').show();
    }

    function updateColor(obj) {
        try{obj.blur();}catch{}

        if (!profileList.includes('1140')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'แก้ไขมาตรฐานสี');
            return;
        }

        let colorname = $('#colorname-edt').val();
        let colorcode = $('#colorcode-edt').val();
        let userid = $('#userid-edt').val();
        if (colorname.length > 200 || colorcode.length > 200) {
            alert('ชื่อและรหัสสีห้ามเกิน20หลัก');
            return;
        }

        swal({
                title: 'คุณต้องการเพิ่มข้อมูลใช่หรือไม่',
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                // if (cntqnt == 0) {
                //     swalConfirm('warning', 'ไม่สามารถเพิ่มได้', 'กรุณาระบุจำนวนให้ถูกต้อง');
                //     return;
                // }
                console.log(mode);
                let qry = `declare @result varchar(500)
                            exec WebCC_AddEditColorMap ${mode}, ${colorname}, ${colorcode}, ${userid}, @result output
                            select @result as RESULT`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }
                    let result = jsn.dbitems[0].RESULT;
                    if (result.includes("มีข้อมูลมาตรฐานสี")) {
                        swal({
                                title: `NOOK มีข้อมูลมาตรฐานสี'${colorname}'ในระบบแล้ว
                                                คุณต้องการเพิ่มข้อมูลสีใช่ หรือไม่?`,
                                text: '',
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonText: "ยกเลิก",
                                confirmButtonClass: 'btn-danger',
                                cancelButtonText: "ตกลง",
                                cancelButtonClass: 'btn-primary',
                                closeOnCancel: false,
                            },
                            function (isConfirm) {
                                if (isConfirm) return;
                                $(".cancel").attr('disabled', true);

                                $('#btnProcess').attr('disabled', true);
                                mode = 'E';
                                updateColor();
                            }
                        );
                        return;
                    }
                    else if (!result.includes('OKOK')) {
                        swalConfirm('warning', 'ไม่สามารถเพิ่มข้อมูลได้', result);
                        return;
                    }

                    swalAl('success', 'เพิ่ม/แก้ไข สีสำเร็จ', '');
                    clearEditCount();
                    $('#addColorePanel').hide();
                    $('#searchPanel').show();
                    table.search('').draw();
                })
            }
        );
    }

    function deleteColor(obj , colorname) {
        obj.blur();

        if (!profileList.includes('1141')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'ลบมาตรฐานสี');
            return;
        }

        swal({
                title: `คุณต้องการลบสี${colorname}ใช่หรือไม่`,
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = `declare @result varchar(500)
                            exec WebCC_DeleteColorMap ${colorname} , @result output
                            select @result as RESULT`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    let result = jsn.dbitems[0].RESULT;
                    if (!result.includes('OKOK')) {
                        swalConfirm('warning', 'ไม่สามารถลบข้อมูลได้', result);
                        return;
                    }
                    swalAl('success', 'ลบสีสำเร็จ', '');
                })
            }
        );
    }

    function back2SrchPnl(obj) {
        try{obj.blur();}catch{}

        swal({
                title: 'คุณต้องการกลับสู่หน้าหลักใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: true,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                clearEditCount();
                $('#addColorePanel').hide();
                $('#searchPanel').show();
                table.search('').draw();
            }
        );
    }

    function clearEditCount() {
        // tableEdt.rows().remove().draw(false);
        $('#setcolor-srch').val('');
        $('#btnSearch').click();
        // tableEdt.search('').draw();
    }
</script>
<style>
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>มาตรฐานสี</h3>
        </div>
    </div>
    <div class="row" id='searchPanel'>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="setcolor-srch">ชื่อสี</label>
                        <input type="text" name="setcolor-srch" id="setcolor-srch" class='form-control'
                            placeholder="กรอกชื่อสี" autocomplete="off">
                    </div>
                    <div class="col-md-12 p-0">
                        <div class="col-md-12 col-xs-12">
                            <br>
                            <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                    aria-hidden="true"></i> ค้นหา</button>
                            <span style='float: right;'>
                                <button id='btnCloseCntLocation' onclick='AddColor(this, "A", null, null, null);'
                                    class='btn btn-warning mr-2 mb-2'><i class="fa fa-times-circle-o"
                                        aria-hidden="true"></i>
                                    เพิ่มสีมาตรฐาน</button>
                            </span>
                        </div>
                    </div>
                </div><br>
                <hr>
                <div class="row">
                    <div class="col-md-12 p-0">
                        <div class="col-md-12 col-xs-12">

                        </div>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12 p-0" id='schedDiv'>
                        <table id='schedTb' class='table table-striped table-bordered'>
                            <thead id='schedHeader'>
                                <tr>
                                    <th class='text-center'>ชื่อสี</th>
                                    <th class='text-center'>รหัสสี</th>
                                    <th class='text-center'>ผู้กำหนดข้อมูล</th>
                                    <th class='text-center'>วันที่แก้ไข</th>
                                    <th class='text-center'>EDIT</th>
                                    <th class='text-center'>DELETE</th>
                                </tr>
                            </thead>
                            <tbody id='schedBody'></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><br>
    </div>
    <div class="row" id='addColorePanel' hidden>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <button class='btn btn-primary' id='btnBack2SrchPnl' onclick='back2SrchPnl(this);'><i
                                    class="fa fa-arrow-left" aria-hidden="true"></i> ย้อนกลับ</button>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <label for="colorname-edt">ชื่อสี</label>
                            <input type="text" id='colorname-edt' name='colorname-edt' class='form-control'
                                placeholder="กรุณากรอกชื่อสี" autocomplete="off">
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label for="colorcode-edt">รหัสสี</label>
                            <input type="text" id='colorcode-edt' name='colorcode-edt' class='form-control'
                                placeholder="กรุณากรอกรหัสสี" autocomplete="off">
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label for="userid-edt">USER ID</label>
                            <input type="text" id='userid-edt' name='userid-edt' class='form-control'
                                placeholder="กรุณากรอกชื่อUSER ID" autocomplete="off">
                        </div>
                        <div class="col-md-3 col-xs-12"></div>
                    </div> <br>
                    <div class="row" id='btnGroupUpdate'>
                        <div class="col-md-12 col-xs-12">
                            <button class="btn btn-success mr-2 mb-2" id='btnUpdateEdit'
                                onclick="updateColor(this);"><i class="fa fa-pencil-square-o"
                                    aria-hidden="true"></i> ยืนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>