 <!--Login  Modal -->
 <script>
     function startLogin() {
         $('#loginModal').modal('show');
     }

     function loginClick() {

         var userid = $('#xuserid').val();
         var passw = $('#passw').val();
         var pdata = {
             query: "exec WebCC_CheckUserLogin2  '@user','@passw',''",
             para: {
                 user: userid,
                 passw: passw
             }
         }
         $('#message').html("<center><img src='../images/wait.gif' width='100px' ></center>");
         //-----------------
         try {
             var sUrl = "../POSSRV/QUERY"; // for mssql
             $.ajax({
                 type: "POST",
                 url: sUrl,
                 data: JSON.stringify(pdata),
                 dataType: "text",
                 contentType: "application/json; charset=UTF-8",
                 success: function (ret) { //return is array of data in json 
                     try {
                         var jsn = JSON.parse(ret); //JSON.parse(ret);
                         var ecode = jsn.dbcode;
                         var emsg = jsn.dbmessage;
                         console.log(jsn)
                         if (ecode > 0)
                             $('#message').html('Can not login  .. dbError..' + emsg);
                         else {
                             let result = jsn.dbitems[0].RESULT;
                             if (result != 'OKOK') {
                                 $('#message').html('Can not login ' + result);
                             } else {
                                 let now = new Date();
                                 let chgpwddate = new Date(jsn.dbitems[0].CHGPWDDATE);
                                 const diffTime = Math.abs(chgpwddate - now);
                                 let lastChgPwdDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

                                 saveCookie('CCUSERID', userid);
                                 saveCookie('CCUGROUP', jsn.dbitems[0].USERGROUP);

                                 if (lastChgPwdDays > 90) {
                                     openMenu('SYSTEM/changepwd.js', 0);
                                     $('#loginModal').modal('hide');
                                 } else {
                                     saveCookie('CCPRICEORCOST', jsn.dbitems[0].PRICEORCOST);
                                     saveCookie('CCGROUPNAME', jsn.dbitems[0].GroupName);
                                     saveCookie('CCLSTCHGPWDDAYS', lastChgPwdDays);

                                     let qry = `UPDATE SYSTEMUSER 
                                                Set INVALIDPWD=0,
                                                    LASTLOGIN=getdate(),
                                                    LSTATUS = 'N'
                                                Where USERID='${userid}';
                                                
                                                exec WebCC_LoginProc '${userid}';`;
                                     let pdata = {
                                         query: qry
                                     }
                                     ajaxExec(pdata, (isok, ret) => {
                                         let jsn = JSON.parse(ret);
                                         if (jsn.dbcode == 0) {
                                             saveCookie('CCLOGINID', jsn.dbitems[0].LOGINID);

                                             let qry =
                                                 `SELECT right('0000'+convert(varchar,value),4) as PF_NUM  
                                                 from openjson((Select USER2PROFILE From SYSTEMUSER Where USERID = '${userid}'))`;
                                             let pdata = {
                                                 query: qry
                                             }
                                             ajaxExec(pdata, (isok, ret) => {
                                                 let jsn = JSON.parse(ret);
                                                 if (jsn.dbcode == 0) {
                                                     let userprofile = '';
                                                     jsn.dbitems.map((itm, idx, arr) => {
                                                         userprofile +=
                                                             `X${itm.PF_NUM}`;
                                                     })
                                                     saveCookie('CCUPROFILE', userprofile);
                                                     location.reload();
                                                 } else {
                                                     swalAl('error', 'Failed', jsn
                                                         .dbmessage)
                                                     return;
                                                 }
                                             })
                                         } else {
                                             swalAl('error', 'Failed', jsn.dbmessage);
                                             return;
                                         }
                                     })
                                 }
                             }

                             // //-------record login ----------
                             // var qry="Exec CLOUDPOS..recordLogin '@userid','@appname'";
                             // var pdata ={query:qry,
                             //             para:{
                             //                 userid:jsn.dbitems[0].USERID,
                             //                 appname:"Control"
                             //             }}
                             //     ajaxExec(pdata,function(isok,ret){
                             // })
                             // //-------end record login ----------


                             // location.reload();
                         }
                         // return;
                     } catch (ex) {
                         console.log(ret);
                         $('#message').html(ex.message);
                     }
                 },
                 error: function (e) {
                     $('#message').html('System Error at Ajax call' + e.responseText);
                 }

             });
         } catch (ex) {
             $('#message').html(ex.message);
         }
     }
 </script>
 <div class="modal fade" id="loginModal" role="dialog" tabindex="-1">
     <div class="modal-dialog modal-md">
         <div class="modal-content">
             <div class="modal-header" style="padding:25px 20px;">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4> <span class="glyphicon glyphicon-lock"></span>LOGIN to Cycle Control </h4>

             </div>
             <div style="padding:40px 50px;">

                 <div class="form-group">
                     <label for="xuserid"><span class="glyphicon glyphicon-user"></span> Username</label>
                     <input type="text" class="form-control" style="text-transform:uppercase" name="xuserid"
                         id="xuserid" placeholder="Enter Userid" value="" maxlength="8"
                         onkeypress='return (event.keyCode >= 48 && event.keyCode <= 57 || event.keyCode >= 65 && event.keyCode <= 90 || event.keyCode >= 97 && event.keyCode <= 122);'>
                 </div>
                 <div class="form-group">
                     <label for="passw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                     <input type="password" class="form-control" name="passw" id="passw" placeholder="Enter password"
                         value="">
                 </div>

                 <button type="button" class="btn btn-success btn-block" onclick="loginClick()">
                     <span class="glyphicon glyphicon-off"></span> Login
                 </button>
                 <div id='message' class="info info-default">

                 </div>
                 </form>
             </div>

             <div class="modal-footer">
                 <p>Forgot <a href="javascript:resetPassword();">Password?</a></p>
             </div>

         </div>
     </div>
 </div>