<div id='selStoreDiv'>
    <script>
        function startSelStc() {
            setTimeout(loadPkmStoreOption(), 1000);
            $('#selStcModal').modal('show');
        }

        function loadPkmStoreOption() {
            // $('#stctxt').html(waitimg);
            $('#stctxt').html(`<option value=''>เลือกสาขา</option>`);

            $('#stctxt').select2({
                placeholder: 'เลือกสาขา'
            });
            userId = readCookie("CCUSERID");

            $('#message').html("<center><img src='../images/wait.gif' width='100px' ></center>");

            var qry = "exec WebCC_LoadStoreByUser '" + userId + "' ";
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, resp) {
                let jsn = JSON.parse(resp);

                if (!(isok && jsn.dbcode == 0)) {
                    swalConfirm('error', 'Failed', jsn.dbmessage);
                    return
                }

                if (!(jsn.dbrows > 0)) {
                    return
                }
                // let append = {
                //     id: '%',
                //     text: `ทุกสาขา`
                // }
                // let newOption = new Option(append.text, append.id, false, false);
                // $('#stctxt').append(newOption).trigger('change');

                jsn.dbitems.map((itm, idx, arr) => {
                    let append = {
                        id: itm.ST_CODE,
                        text: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`
                    }
                    let newOption = new Option(append.text, append.id, false, false);
                    $('#stctxt').append(newOption).trigger('change');

                    if (idx == arr.length - 1) {
                        $('#message').html('');
                    }
                });
                // if (isok) {
                //     var jsn = JSON.parse(resp);
                //     //console.log(resp);
                //     var itm = jsn.dbitems;
                //     var htm = "";
                //     htm += " <option value='%'>ทุกสาขา</option>"
                //     for (var i = 0; i < itm.length; i++) {
                //         htm += " <option value='" + itm[i].ST_CODE + "'>" + itm[i].STMERCH + " - " + itm[i]
                //             .ST_SCODE +
                //             ' ' + itm[i].ST_TNAME + "</option>"
                //     }
                //     $('#message').html('');
                //     $('#stctxt').html(htm);

                //     if (itm.length == 1) {
                //         $('#stctxt').val(itm[0].ST_CODE);
                //     }
                // } else {
                //     alert(resp);
                // }
            });
        }

        function confirmStore() {
            var stc = $('#stctxt').val().trim();
            var stn = $('#stctxt option:selected').text();
            $('#selStcModal').modal('hide');

            saveCookie('CCSTORE', stc, 1);
            saveCookie('CCSTNAME', stn, 1);

            stcode = stc;
            storeName = stn;

            userId = readCookie("CCUSERID");
            userId = userId.trim();

            //$('#workStore').text('Store ['+storeName +']')
            // $('#workStore').text(stcode+'-'+storeName);
            // $('#store_login').text('[' + stcode + ']');

            // location.reload();

            $.ajax({
                url: "../Dashboard/Dashboardstore.htm",
                success: function (result) {
                    $('#mainDiv').html(result);
                }
            });
        }

        function cancelStore() {
            $('#selStcModal').modal('hide');
        }
    </script>

    <div class="modal fade" id="selStcModal" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding:10px 20px;">
                    <h4> กรุณาเลือกสาขา</h4>
                </div>
                <div style="padding:10px 20px;">
                    <div class="form-group">
                        <label for="stctxt"><span class="glyphicon glyphicon-user"></span>Working at Store</label>
                        <select class="form-control" id='stctxt' style='width: 100%'>
                            <option value=''>เลือกสาขา</option>
                        </select>
                        <div id='message' class="info info-default">
                        </div>
                    </div>

                    <a href="javascript:confirmStore()" class="btn btn-success">Confirm </a>
                    <a href="javascript:cancelStore()" class="btn btn-danger">Cancel</a>
                </div>
            </div>

            <div class="modal-footer">

            </div>

        </div>
    </div>

</div>