<script>
    let table, detTB;
    let lstChkCntNum = [];
    $(document).ready(() => {
        init();
    })

    function init() {
        $('#store-srch').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 400
        });
        table = $('#schedTb').DataTable({
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                    "targets": [0, 1],
                    "width": "80px"
                },
                {
                    "targets": [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
                    "width": "200px"
                }
            ],
            order: [
                [2, 'desc']
            ]
        });
        detTB = $('#detTB').DataTable();
        getStoreByUser();
    }

    function getStoreByUser() {
        let qry = `
        exec WebCC_LoadStoreByUser '${userId}'
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let obj = {
                    label: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`,
                    value: itm.ST_CODE
                };
                data.push(obj);
                if (idx == arr.length - 1) {
                    $('#store-srch').multiselect('dataprovider', data);
                    $('#btnSearch').click();
                }
            });
        });
    }

    function search(obj) {
        obj.blur();

        if (!$('#store-srch').val()) {
            $("#store-srch").multiselect('selectAll', false);
            $("#store-srch").multiselect('rebuild')
        }
        let stores = $('#store-srch').val();
        let jsnStores = JSON.stringify(stores) != 'null' ? JSON.stringify(stores) : null;
        let setId = $('#setid-srch').val() != '' ? $('#setid-srch').val() : null;
        let cntNum = $('#cntnum-srch').val() != '' ? $('#cntnum-srch').val() : null;
        let startDt = $('#startcntdt-srch').val() != '' ? $('#startcntdt-srch').val() : null;
        let endDt = $('#endcntdt-srch').val() != '' ? $('#endcntdt-srch').val() : null;

        if (!IsNullOrEmpty(setId) && !/^[0-9]{0,}$/.test(setId)) {
            swalConfirm('warning', 'ไม่สามารถค้นหาได้', 'กรุณาเลขที่ชุดการนับให้ถูกต้อง');
            return;
        }
        let qry =
            `exec WebCC_SearchCntMain4POST ${cntNum ? `'${cntNum}'` : null}, ${setId ? `'${setId}'` : null}, ${startDt ? `'${startDt}'` : null}, ${endDt ? `'${endDt}'` : null}, ${jsnStores ? `'${jsnStores}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                swalConfirm('warning', 'ไม่พบข้อมูลที่ต้องการค้นหา', '');
                return
            }


            table.rows().remove().draw(false);
            jsn.dbitems.map((itm, idx, arr) => {
                let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '';
                let gain = textToNumeric(itm.GAINVALUE);
                let net = textToNumeric(itm.NET);
                let loss = textToNumeric(itm.LOSSVALUE);
                let abs = textToNumeric(itm.ABS);
                table.row.add([
                    `<center>
                        <button class='btn btn-primary w-100' onclick="postprocess(this, '${itm.CNTNUM}')"><i
                                class="fa fa-thumbs-up" aria-hidden="true"></i> Post</button>
                    </center>`,
                    `<center>
                        <button class='btn btn-success w-100' onclick="viewDetail(this, '${itm.CNTNUM}', '${cntDate}', '${itm.CNTNAME}', '${itm.SETID}', '${itm.CNTMSTATUS}', '${gain}', '${loss}', '${net}', '${abs}')"><i class="fa fa-search-plus" aria-hidden="true"></i> ดูข้อมูล</button>
                    </center>`,
                    itm.CNTNUM, itm.STCODE, cntDate, 'C', itm.PRTYPE, itm.CNTNAME,
                    textToNumeric(itm.GAINVALUE), textToNumeric(itm.LOSSVALUE),
                    textToNumeric(itm.NET), itm.CNTMSTATUS, itm.CREATEDATE, itm.USERCREATE,
                    itm.CONFIRMDATE, itm.USERCONFIRM, '', '', itm.REASON
                ]).draw(false);
            })
        })
    }

    function postprocess(obj, cntNum) {
        obj.blur();
        swal({
                title: 'คุณต้องการ Post ใช่ หรือไม่?',
                text: 'ใบนับ: ' + cntNum,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = ` declare @result varchar(500)
                            exec WebCC_STCKCNT_ConfirmPOST '${cntNum}','0','${userId}',@result output
                            select @result as RESULT`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    let result = jsn.dbitems[0].RESULT;
                    if (result != 'OKOK') {
                        swalConfirm('warning', 'ไม่สำเร็จ', result);
                        return;
                    }
                    swalAl('success', 'POST สำเร็จ', '');
                    $('#btnSearch').click();
                })
            }
        );
    }

    function viewDetail(obj, cntNum, cntDate, cntName, setId, cntMStatus, gain, loss, net, abs) {
        obj.blur();
        $('#headerModal').html(cntNum);
        $('#setIdPost').val(setId);
        $('#cntNumPost').val(cntNum);
        $('#cntNamePost').val(cntName);
        $('#cntDatePost').val(cntDate);
        $('#cntMStatusPost').val(cntMStatus);
        $('#gainValuePost').val(gain);
        $('#lossValuePost').val(loss);
        $('#netValuePost').val(net);
        $('#absoluteValuePost').val(abs);
        let qry = `exec WebCC_ListCntItem4Post '${cntNum}', '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            if (!(jsn.dbrows > 0)) {
                swalConfirm('warning', 'ไม่พบข้อมูล', '');
                return
            }


            detTB.rows().remove().draw(false);
            jsn.dbitems.map((itm, idx, arr) => {
                detTB.row.add([
                    itm.SKU, itm.BARCODE, itm.PRNAME, itm.MODEL, textToNumeric(itm.PRICE),
                    itm.CNTQNT, textToNumeric(itm.AMOUNT), itm.SOH, itm.PRTYPE,
                    itm.GAINQNT, (itm.GAINVALUE ? textToNumeric(itm.GAINVALUE) : ''),
                    itm.LOSSQNT, (itm.LOSS ? textToNumeric(itm.LOSS) : '')
                ]).draw(false);
                if (idx == arr.length - 1) {
                    $('#detailModal').modal('show');
                }
            })
        })
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>Post</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="setid-srch">เลขที่ชุดการนับ</label>
                        <input type="text" name="setid-srch" id="setid-srch" class='form-control'
                            placeholder="ระบุเลขที่ชุดการนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntnum-srch">เลขที่ใบนับ</label>
                        <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                            placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="startcntdt-srch">ช่วงวันที่ของการนับ - เริ่มต้น</label>
                        <input type="date" name="startcntdt-srch" id="startcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="endcntdt-srch">ช่วงวันที่ของการนับ - สิ้นสุด</label>
                        <input type="date" name="endcntdt-srch" id="endcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="store-srch">สาขา</label>
                        <select id='store-srch' name='store-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <br>
                        <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                aria-hidden="true"></i> ค้นหา</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb' class='table table-striped table-bordered'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'></th>
                                <th class='text-center'></th>
                                <th class='text-center'>เลขที่ใบนับ</th>
                                <th class='text-center'>สาขา</th>
                                <th class='text-center'>วันที่นับ</th>
                                <th class='text-center'>ประเภทการนับ</th>
                                <th class='text-center'>ประเภทสินค้า</th>
                                <th class='text-center'>ชื่อการนับ</th>
                                <th class='text-center'>Gain</th>
                                <th class='text-center'>Loss</th>
                                <th class='text-center'>Net</th>
                                <th class='text-center'>สถานภาพการนับ</th>
                                <th class='text-center'>วันที่สร้าง</th>
                                <th class='text-center'>ผู้สร้าง</th>
                                <th class='text-center'>วันที่ยืนยันการนับ</th>
                                <th class='text-center'>ผู้ยืนยันการนับ</th>
                                <th class='text-center'>วันที่ POST</th>
                                <th class='text-center'>ผู้ยืนยัน POST</th>
                                <th class='text-center'>เหตุผลการนับ</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" role="dialog">
        <div class="modal-dialog modal-lg" style='width: 90%;'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span id='headerModal'></span></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <label for="setIdPost">เลขที่ชุดการนับ</label>
                            <input type="text" readonly class='form-control' id='setIdPost'>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label for="cntNumPost">เลขที่ใบนับ</label>
                            <input type="text" readonly class='form-control' id='cntNumPost'>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label for="cntNamePost">ชื่อการนับ</label>
                            <input type="text" readonly class='form-control' id='cntNamePost'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <label for="cntDatePost">วันที่นับ</label>
                            <input type="text" readonly class='form-control' id='cntDatePost'>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label for="cntMStatusPost">สถานภาพการนับ</label>
                            <input type="text" readonly class='form-control' id='cntMStatusPost'>
                        </div>
                        <div class="col-md-4 col-xs-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <label for="lossValuePost">มูลค่าขาด</label>
                            <input type="text" readonly class='form-control' id='lossValuePost'>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label for="gainValuePost">มูลค่าเกิน</label>
                            <input type="text" readonly class='form-control' id='gainValuePost'>
                        </div>
                        <div class="col-md-4 col-xs-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <label for="netValuePost">มูลค่า Net</label>
                            <input type="text" readonly class='form-control' id='netValuePost'>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <label for="absoluteValuePost">มูลค่า Absolute</label>
                            <input type="text" readonly class='form-control' id='absoluteValuePost'>
                        </div>
                        <div class="col-md-4 col-xs-12"></div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <table class='table table-bordered table-striped' id='detTB'>
                                <thead>
                                    <tr>
                                        <th class="text-center">SKU</th>
                                        <th class="text-center">Barcode</th>
                                        <th class="text-center">ชื่อสินค้า</th>
                                        <th class="text-center">รุ่น</th>
                                        <th class="text-center">ราคาปลีก/ชิ้น</th>
                                        <th class="text-center">จำนวน</th>
                                        <th class="text-center">มูลค่า</th>
                                        <th class="text-center">SOH</th>
                                        <th class="text-center">ประเภทสินค้า</th>
                                        <th class="text-center">GAINQNT</th>
                                        <th class="text-center">GAINVALUE</th>
                                        <th class="text-center">LOSSQNT</th>
                                        <th class="text-center">LOSS</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>