<script>
    $(document).ready(() => {
        getReasonNotPost();
    })

    function getReasonNotPost() {
        clearReasonNotPostTable();
        let qry = `exec WebCC_GetReasonNotPost`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmassage);
                return;
            }

            let header = `<thead>
                                <tr>
                                    <th class='text-center' style='width: 100px'></th>
                                    <th class='text-center' style='width: 100px'></th>
                                    <th class='text-center'>รหัสเหตุผล</th>
                                    <th class='text-center'>เหตุผล</th>
                                    <th class='text-center'>สถานะ</th>
                                    <th class='text-center'>ผู้แก้ไขข้อมูลล่าสุด</th>
                                    <th class='text-center'>วันที่แก้ไขข้อมูล</th>
                                </tr>
                              </thead>`;
            $('#reasonTB').append(header);
            let table = $('#reasonTB').DataTable({
                order: [
                    [2, 'asc']
                ],
                deferRender: true,
                scrollX: true,
                scrollY: '30vh',
                scrollCollapse: true,
                scroller: {
                    loadingIndicator: true
                },
                "columnDefs": [{
                    "targets": [2],
                    "width": "130px"
                }, {
                    "targets": [3],
                    "width": "800px"
                }, {
                    "targets": [0, 1, 4],
                    "width": "50px"
                }, {
                    "targets": [5, 6],
                    "width": "250px"
                }]
            });

            if (!(jsn.dbrows > 0)) {
                return;
            }

            jsn.dbitems.map((itm, idx, arr) => {
                table.row.add([
                        `<center><input type='checkbox' name="lstCodes[]" value="${itm.RS_CODE}"></center>`,
                        `<center><button type='button' class='btn btn-warning' onclick="editReasonNotPost(this, '${itm.RS_CODE}', '${itm.RS_NAME}', '${itm.STATUS}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไข</button></center>`,
                        itm.RS_CODE, itm.RS_NAME, itm.STATUS, itm.USERID, itm.LUPD,
                    ])
                    .draw(false);
            })
        })
    }

    function clearReasonNotPostTable() {
        $('#reasonTB').remove();
        $('#reasonDiv').html(`<table id='reasonTB' class='table table-bordered table-striped'></table>`);
    }

    function openAddModal(obj) {
        obj.blur();
        $('#reasonCode, #reasonName').val('');
        $('#statusEdit').val('A');
        $('#txtModal').html('เพิ่มเหตุผลไม่ POST');
        $('#addModal').modal('show');
    }

    function editReasonNotPost(obj, rscode, rsname, status) {
        obj.blur();
        $('#reasonCodeEdit').val(rscode);
        $('#reasonNameEdit').val(rsname);
        $('#statusEdit').val(status);
        $('#txtEditModal').html(`แก้ไขเหตุผลไม่ POST รหัสเหตุผล : ${rscode}`);
        $('#editModal').modal('show');
    }

    function add() {
        let rsCode = $('#reasonCode').val();
        let rsName = $('#reasonName').val();
        let status = $('#status').val();

        swal({
                title: 'คุณต้องการเพิ่มข้อมูลใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = ` exec WebCC_UpdateReasonNotPost 'A','${rsCode}','${rsName}','${status}','${userId}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    getReasonNotPost();
                    swalAl('success', 'เพิ่มข้อมูลสำเร็จ', '');
                    $('#addModal').modal('hide');
                })
            }
        );
    }

    function edit() {
        let rsCode = $('#reasonCodeEdit').val();
        let rsName = $('#reasonNameEdit').val();
        let status = $('#statusEdit').val();

        swal({
                title: 'คุณต้องการแก้ไขข้อมูลใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = ` exec WebCC_UpdateReasonNotPost 'E','${rsCode}','${rsName}','${status}','${userId}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    getReasonNotPost();
                    swalAl('success', 'แก้ไขข้อมูลสำเร็จ', '');
                    $('#editModal').modal('hide');
                })
            }
        );
    }

    function deleteReasonNotPost(obj) {
        obj.blur();

        let lstChk = [];

        $('input[name="lstCodes[]"]').each((idx, itm) => {
            if ($(itm).is(':checked')) {
                lstChk.push(itm.value);
            }
        })

        if (lstChk.length < 1) {
            swalConfirm('warning', 'กรุณาเลือกเหตุผลที่ต้องการลบ', '');
            return;
        }

        swal({
                title: 'คุณต้องการลบ ใช่หรือไม่?',
                text: 'CODE - [' + lstChk.join(',') + ']',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = ` exec WebCC_UpdateReasonNotPost 'D', '', '', '', '', '${lstChk.join(',')}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    clearReasonNotPostTable();
                    getReasonNotPost();
                    swalAl('success', 'ลบข้อมูลสำเร็จ', '');
                });
            }
        );
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>เหตุผลไม่ Post</h3>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <span style='float: right;'>
                <div class="col-xs-12">
                    <button class='btn btn-danger' onclick='deleteReasonNotPost(this);'>
                        <i class="fa fa-trash-o" aria-hidden="true"></i> ลบเหตุผลไม่ Post
                    </button>
                </div>
            </span>
            <span style='float: left;'>
                <div class="col-xs-12">
                    <button type='button' class='btn btn-primary' onclick="openAddModal(this)">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> เพิ่มเหตุผลไม่ POST</button>
                </div>
            </span>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12" id='reasonDiv'>
            <table id='reasonTB' class='table table-bordered table-striped'></table>
        </div>
    </div>

    <div class="modal fade" id="addModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form action="javascript:add();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id='txtModal'>เพิ่มเหตุผล</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="reasonCode" style='font-size: medium;'>รหัสเหตุผล (2 หลัก)</label>
                                        <input type="text" name="reasonCode" id="reasonCode" class='form-control'
                                            maxlength="2" placeholder="โปรดระบุ" autocomplete="off" required>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="reasonName" style='font-size: medium;'>ชื่อเหตุผล</label>
                                        <input type="text" name="reasonName" id="reasonName" class='form-control'
                                            maxlength="100" placeholder="โปรดระบุ" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-4 col-xs-12 pl-0">
                                        <label for="status" style='font-size: medium;'>สถานะ</label>
                                        <select name="status" id="status" class="form-control" required>
                                            <option value="A">Active</option>
                                            <option value="I">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 col-xs-12 pl-0"></div>
                                </div>
                            </div>
                        </div><br>
                        <div class="modal-footer">
                            <button type='submit' class="btn btn-primary" onclick='this.blur();'><i
                                    class="fa fa-floppy-o" aria-hidden="true"></i> บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form action="javascript:edit();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id='txtEditModal'></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="reasonCodeEdit" style='font-size: medium;'>รหัสเหตุผล (2
                                            หลัก)</label>
                                        <input type="text" name="reasonCodeEdit" id="reasonCodeEdit"
                                            class='form-control' maxlength="2" readonly placeholder="โปรดระบุ"
                                            autocomplete="off" required>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="reasonNameEdit" style='font-size: medium;'>ชื่อเหตุผล</label>
                                        <input type="text" name="reasonNameEdit" id="reasonNameEdit"
                                            class='form-control' maxlength="100" placeholder="โปรดระบุ"
                                            autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-4 col-xs-12 pl-0">
                                        <label for="statusEdit" style='font-size: medium;'>สถานะ</label>
                                        <select name="statusEdit" id="statusEdit" class="form-control" required>
                                            <option value="A">Active</option>
                                            <option value="I">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="col-md-8 col-xs-12 pl-0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type='submit' class="btn btn-primary" onclick='this.blur();'><i class="fa fa-floppy-o"
                                aria-hidden="true"></i> บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>