<script>
    let table;

    $(document).ready(() => {
        init();
    })

    function init() {

        $('#store-srch, #cntmstatus-srch, #cntStore, #cntOBSOVS, #cntPrType').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 400
        });
        table = $('#schedTb').DataTable({
            order: [
                [0, 'asc']
            ],
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                "targets": [0],
                "width": "80px"
            }, {
                "targets": [3],
                "width": "100px"
            }, {
                "targets": [1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
                "width": "150px"
            }, {
                "targets": [2],
                "width": "250px"
            }]
        });
        getCountMStatus();
        getReasonCount()
    }

    function getReasonCount() {
        let qry = `exec WebCC_GetReasonCount`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            let options = '<option value="">กรุณาเลือกเหตุผล</option>';
            if (!(jsn.dbrows > 0)) {
                $('#cntSchedReason').html(options);
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                if (itm.STATUS === 'Active') {
                    options += `<option value='${itm.RSCODE}'>${itm.RSCODE} - ${itm.RSNAME}</option>`;
                }

                if (idx == arr.length - 1) {
                    $('#cntSchedReason').html(options);
                }
            })
        })
    }

    function cntDateTypeChanged(val) {
        setUpDateInput();
        $('#endCntDate').attr('disabled', true);
        if (val == 0) {
            $('#byDateDiv').show();
            $('#byFreqDiv').hide();
            $('#cntDate').attr('required', true);
            // $('#startCntDate,#endCntDate').val('');
            $('#startCntDate,#endCntDate').attr('required', false);
        } else {
            $('#byDateDiv').hide();
            $('#byFreqDiv').show();
            $('#cntDate').attr('required', false);
            // $('#cntDate').val('');
            $('#startCntDate,#endCntDate').attr('required', true);
        }
    }

    function getMinDate() {
        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        var dd = tomorrow.getDate();
        var mm = tomorrow.getMonth() + 1;
        var yyyy = tomorrow.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        return tomorrow = yyyy + '-' + mm + '-' + dd;
    }

    function getStoreByUser() {
        let qry = `
        exec WebCC_LoadStoreByUser '${userId}'
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let obj = {
                    label: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`,
                    value: itm.ST_CODE
                };
                data.push(obj);
                if (idx == arr.length - 1) {
                    $('#store-srch, #cntStore').multiselect('dataprovider', data);
                    // $('#btnSearch').click();
                }
            });
        });
    }

    function getCountMStatus() {
        let qry = `select * from STDCNTSTATUS`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let lstStatus = [];
            jsn.dbitems.forEach((itm, idx, arr) => {
                let obj = {
                    label: itm.CNTMSTATUS + ' - ' + itm.SNAME,
                    value: itm.CNTMSTATUS
                };
                lstStatus.push(obj);
                if (idx == arr.length - 1) {
                    $('#cntmstatus-srch').multiselect('dataprovider', lstStatus);
                    getStoreByUser();
                }
            })
        })
    }

    function search(obj) {
        obj.blur();
        if (!$('#store-srch').val()) {
            $("#store-srch").multiselect('selectAll', false);
            $("#store-srch").multiselect('rebuild')
        }
        let stores = $('#store-srch').val();
        let jsnStores = JSON.stringify(stores) != 'null' ? JSON.stringify(stores) : null;
        let setId = $('#setid-srch').val() != '' ? $('#setid-srch').val() : null;
        let cntNum = $('#cntnum-srch').val() != '' ? $('#cntnum-srch').val() : null;
        let startDt = $('#startcntdt-srch').val() != '' ? $('#startcntdt-srch').val() : null;
        let endDt = $('#endcntdt-srch').val() != '' ? $('#endcntdt-srch').val() : null;
        let status = $('#cntmstatus-srch').val();
        let jsnStatus = JSON.stringify(status) != 'null' ? JSON.stringify(status) : null;

        if (!IsNullOrEmpty(setId) && !/^[0-9]{0,}$/.test(setId)) {
            swalConfirm('warning', 'ไม่สามารถค้นหาได้', 'กรุณาเลขที่ชุดการนับให้ถูกต้อง');
            return;
        }

        table.rows().remove().draw(false);
        let qry =
            `exec WebCC_SearchCntMain ${cntNum ? `'${cntNum}'` : null}, ${setId ? `'${setId}'` : null}, ${startDt ? `'${startDt}'` : null}, ${endDt ? `'${endDt}'` : null}, ${jsnStores ? `'${jsnStores}'` : null}, ${jsnStatus ? `'${jsnStatus}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.forEach((itm, idx, arr) => {
                let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '',
                    obsovs = itm.OBSOVS || '',
                    cfDate = itm.CONFIRMDATE || '',
                    apvDate = itm.APPROVEDATE || '',
                    postDate = itm.POSTDATE || '',
                    cfUser = itm.USERCONFIRM || '',
                    apvUser = itm.USERAPPROVE || '',
                    postUser = itm.USERPOST || '',
                    status = itm.CNTMSTATUS;

                table.row.add([
                    `<center><button class='btn btn-success w-100' onclick="openScheduleModal(this, '${itm.SETID}')"><i class="fa fa-search-plus" aria-hidden="true"></i> ${itm.SETID}</button></center>`,
                    `<center><button class='btn btn-info w-100' onclick="openDetailModal(this, '${itm.CNTNUM}')"><i class="fa fa-search-plus" aria-hidden="true"></i> ${itm.CNTNUM}</button></center>`,
                    itm.STCODE, cntDate, itm.CNTNAME, status,
                    itm.PRTYPE, itm.CATCODE, itm.PRICE, itm.OBSOVS,
                    cfDate, cfUser, apvDate, apvUser, postDate, postUser,
                    itm.CNTREASON
                ]).draw(false);
            })
        })
    }

    function openScheduleModal(obj, setId) {
        initScheduleModal();
        $('#checkSkuDiv').show();
        obj.blur();
        let qry = `exec WebCC_SearchCntSchedule '${setId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let itm = jsn.dbitems[0];
            let setName = itm.SETNAME;
            let store = JSON.parse(itm.STORE);
            let catCode = itm.CATCODE ? JSON.parse(itm.CATCODE) : null;
            let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '';
            let startCntDate = itm.SDATE ? itm.SDATE.substring(0, 10) : '';
            let endCntDate = itm.EDATE ? itm.EDATE.substring(0, 10) : '';
            let obsovs = JSON.parse(itm.OBSOVS);
            let price = JSON.parse(itm.PRICE);
            let prType = JSON.parse(itm.PRTYPE);
            let cntDayWeek = itm.CDAYWEEK;
            let cntWeek = itm.CWEEK;
            let cntMonth = itm.CMONTH;
            let haveSku = itm.HAVESKU;
            let rscode = itm.RSCODE;

            $('#cntSchedNme').val(setName);
            $('#cntStore').multiselect('select', store);
            $('#cntOBSOVS').multiselect('select', obsovs);
            $('#cntPrType').multiselect('select', prType);
            $('#cntStartPrice').val(price ? price[0].STARTPRICE : '0.00');
            $('#cntEndPrice').val(price ? price[0].ENDPRICE : '0.00');
            $('#cntSchedReason').val(rscode);

            $('input[name="cntDayWeek[]"]').each((idx, itm) => {
                if (itm.value == cntDayWeek.substring(idx, idx + 1)) {
                    $(itm).prop('checked', true);
                }
            })
            $('input[name="cntWeek[]"]').each((idx, itm) => {
                if (itm.value == cntWeek.substring(idx, idx + 1)) {
                    $(itm).prop('checked', true);
                }
            })
            $('input[name="cntMonth[]"]').each((idx, itm) => {
                if (itm.value == cntMonth.substring(idx, idx + 1)) {
                    $(itm).prop('checked', true);
                }
            })

            initialCatTreeView(catCode);
            if (cntDate == '') {
                $('#byFreq').click();
                $('#startCntDate').val(startCntDate);
                $('#endCntDate').val(endCntDate);
            } else {
                $('#byDate').click();
                $('#cntDate').val(cntDate);
            }
            $('#txtCntSchedModal').html(`Count Schedule Set ID : ${itm.SETID}`);

            $('#schedModal').modal('show');

            if (haveSku == 1) {
                $('#spCheckSku').show();
                $('#btnCheckSku').click();
            } else {
                $('#spCheckSku').hide();
            }
        })
    }

    function initScheduleModal() {
        clearChkSkuTB();
        $('#txtCntSchedModal').html('Create Count Schedule');
        $('#checkSkuDiv').hide();
        $('#byDate').click();
        $('#cntSchedNme, #startCntDate, #endCntDate, #cntDate').val('');
        $('input[name="cntDayWeek[]"],input[name="cntWeek[]"],input[name="cntMonth[]"]').prop('checked', false);
        $('#cntStore, #cntOBSOVS, #cntPrType').multiselect("clearSelection");
        $('#cntEndPrice').val('0.00');
        $('#cntStartPrice').val('0.00');
        $('#cntSchedReason').val('');
    }

    function clearChkSkuTB() {
        $('#chkSkuTB').remove();
        $('#chkSkuDiv').html(`<label for="chkSkuTB">รายการ SKU ใน Set ID นี้</label>
                                        <table id='chkSkuTB' class='table table-striped table-bordered'>
                                            <thead>
                                                <tr>
                                                    <th class='text-center'>SKCODE</th>
                                                    <th class='text-center'>ชื่อสินค้า</th>
                                                </tr>
                                            </thead>
                                        </table>`);
        $('#chkSkuDiv').hide();
    }

    function initialCatTreeView(lstVals = null) {

        let qry =
            `select Node, Parent, Level, TRIM(CATCODE) as CatCode, CatName, REPLACE(TRIM(CATTNAME), '"', '\\"') as CATTNAME 
    from cattree`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let catLV0 = [],
                catLV1 = [],
                catLV2 = [],
                catLV3 = [];

            jsn.dbitems.map((itm, idx, arr) => {
                switch (itm.Level) {
                    case 0:
                        catLV0.push(itm);
                        break;
                    case 1:
                        catLV1.push(itm);
                        break;
                    case 2:
                        catLV2.push(itm);
                        break;
                    default:
                        catLV3.push(itm);
                }
                if (idx == arr.length - 1) {
                    let data = '';
                    let obj = '';
                    for (let i = 0; i < catLV0.length; i++) {
                        let itm0 = catLV0[i];
                        let obj1 = '';
                        obj +=
                            `{"id": "${itm0.CatCode}", "text": "${itm0.CatCode + ' ' + itm0.CATTNAME}","children": ##childrenLV0},`;
                        for (let j = 0; j < catLV1.length; j++) {
                            let itm1 = catLV1[j];
                            if (itm1.Parent == itm0.Node) {
                                let obj2 = '';
                                obj1 +=
                                    `{"id": "${itm1.CatCode}", "text": "${itm1.CatCode + ' ' + itm1.CATTNAME}","children": ##childrenLV1},`;

                                for (let k = 0; k < catLV2.length; k++) {
                                    let itm2 = catLV2[k];
                                    if (itm2.Parent == itm1.Node) {
                                        let obj3 = '';
                                        obj2 +=
                                            `{"id": "${itm2.CatCode}", "text": "${itm2.CatCode + ' ' + itm2.CATTNAME}","children": ##childrenLV2},`;

                                        for (let l = 0; l < catLV3.length; l++) {
                                            let itm3 = catLV3[l];
                                            if (itm3.Parent == itm2.Node) {
                                                obj3 +=
                                                    `{"id": "${itm3.CatCode}", "text": "${itm3.CatCode  + ' ' + itm3.CATTNAME}"},`;
                                            }
                                        }

                                        if (obj3 != '') {
                                            obj3 = obj3.substring(0, obj3.length - 1);
                                            obj3 = '[' + obj3 + ']';
                                        } else {
                                            obj3 = '[]';
                                        }

                                        obj2 = obj2.replace('##childrenLV2', obj3);
                                    }
                                }

                                if (obj2 != '') {
                                    obj2 = obj2.substring(0, obj2.length - 1);
                                    obj2 = '[' + obj2 + ']';
                                } else {
                                    obj2 = '[]';
                                }

                                obj1 = obj1.replace('##childrenLV1', obj2);
                            }
                        }
                        if (obj1 != '') {
                            obj1 = obj1.substring(0, obj1.length - 1);
                            obj1 = '[' + obj1 + ']';
                        } else {
                            obj1 = '[]';
                        }

                        obj = obj.replace('##childrenLV0', obj1)
                    }

                    if (obj != '') {
                        obj = obj.substring(0, obj.length - 1);
                        data = '[' + obj + ']';
                    } else {
                        data = '[]';
                    }

                    let tree = new Tree('.catTreeView', {
                        data: [{
                            id: '-1',
                            text: 'All',
                            children: JSON.parse(data)
                        }],
                        closeDepth: 3,
                        loaded: function () {
                            this.values = lstVals ? lstVals : [];
                        },
                        onChange: function () {
                            let data = [];
                            let values = this.values.sort();
                            if (values.length > 0) {
                                values.map((itm, idx, arr) => {
                                    if (itm != '-1') {
                                        if (data.length == 0) {
                                            lstItem = itm;
                                            data.push(itm);
                                        } else {
                                            if (!itm.startsWith(lstItem)) {
                                                lstItem = itm;
                                                data.push(itm);
                                            }
                                        }
                                    }

                                    if (arr.length - 1 == idx) {
                                        catSelected = JSON.stringify(data)
                                    }
                                })
                            } else {
                                catSelected = '';
                            }
                        }
                    })

                }
            })
        })
    }

    function setUpDateInput() {
        let minDate = getMinDate();
        $('#startCntDate,#cntDate,#endCntDate').attr("min", minDate);
    }

    function startCntDateChange() {
        updateMinDateEndCntDate();
        $('#endCntDate').val('');
        $('#endCntDate').attr('disabled', false);
    }

    function updateMinDateEndCntDate() {
        var minDate = new Date($('#startCntDate').val());
        minDate.setDate(minDate.getDate() + 1);
        var dd = minDate.getDate();
        var mm = minDate.getMonth() + 1;
        var yyyy = minDate.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        minDate = yyyy + '-' + mm + '-' + dd;
        $('#endCntDate').removeAttr('min');
        $('#endCntDate').attr('min', minDate);
    }

    async function openDetailModal(obj, cntNum) {
        obj.blur();
        $('#headerDetailModal').html(`ข้อมูลใบนับเลขที่ ${cntNum}`);
        clearCntSheetTB();
        clearCntNameTB();

        $('#cntNameTB').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excel',
                filename: 'รายงาน Count Name ของเลขที่ใบนับ ' + cntNum,
                title: null
            }]
        });
        $('#cntSheetTB').DataTable({
            dom: 'Bfrtip',
            buttons: [{
                extend: 'excel',
                filename: 'รายงาน Count Sheet ของเลขที่ใบนับ ' + cntNum,
                title: null
            }]
        });

        getCntName(cntNum);
    }

    function getCntName(cntNum) {
        let qry = `exec WebCC_GetCntMain4Show '${cntNum}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            console.log(jsn)
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (jsn.dbrows == 0) {
                alert(`ไม่พบข้อมูล Count Name ของเลขที่ใบนับ ${cntNum}`);
                $('#cntSheetTab').addClass('disabled');
                getCntSheet(cntNum);
            } else {
                let table = $('#cntNameTB').DataTable();
                jsn.dbitems.forEach((itm, idx, arr) => {
                    let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : ''
                    table.row.add([itm.STORE, cntDate, itm.CNTNAME, itm.PRTYPE, itm.CATCODE, itm.PRICE,
                        itm.OBSOVS
                    ]).draw(
                        false);
                    if (idx == arr.length - 1) {
                        $('#cntSheetTab').addClass('disabled');
                        getCntSheet(cntNum);
                        $('#detailModal').modal('show');
                    }
                })
            }
        })
    }

    function getCntSheet(cntNum) {
        let qry = `exec WebCC_GetCntSheet4Show '${cntNum}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (jsn.dbrows == 0) {
                alert(`ไม่พบข้อมูล Count Sheet ของเลขที่ใบนับ ${cntNum}`);
                $('#cntSheetTab').removeClass('disabled');
                $('#detailModal').modal('show');
            } else {
                let table = $('#cntSheetTB').DataTable();
                jsn.dbitems.forEach((itm, idx, arr) => {
                    table.row.add([itm.SKU, itm.BARCODE, itm.PRNAME, itm.CNTQNT, itm.SALESUNIT,
                        itm.PRICE, itm.PRTYPE, itm.CATEGORY, itm.OBSOVS
                    ]).draw(false);
                    if (idx == arr.length - 1) {
                        $('#cntSheetTab').removeClass('disabled');
                    }
                })
            }
        })
    }

    function clearCntSheetTB() {
        $('#cntSheetTB').remove();
        $('#cntSheetDiv').html(`<br>
                                <table class='table table-bordered table-striped' id='cntSheetTB'>
                                    <thead>
                                        <tr>
                                            <th class="text-center">SKU</th>
                                            <th class="text-center">Barcode</th>
                                            <th class="text-center">ชื่อสินค้า</th>
                                            <th class="text-center">จำนวนนับ</th>
                                            <th class="text-center">หน่วยขาย</th>
                                            <th class="text-center">ราคาปลีก</th>
                                            <th class="text-center">ประเภทสินค้า</th>
                                            <th class="text-center">กลุ่มสินค้า</th>
                                            <th class="text-center">OBSOVS</th>
                                        </tr>
                                    </thead>
                                </table>`);
    }

    function clearCntNameTB() {
        $('#cntNameTB').remove();
        $('#cntNameDiv').html(`<br>
                                <table class='table table-bordered table-striped' id='cntNameTB'>
                                    <thead>
                                        <tr>
                                            <th class="text-center">สาขา</th>
                                            <th class="text-center">วันที่นับ</th>
                                            <th class="text-center">ชื่อการนับ</th>
                                            <th class="text-center">ประเภทสินค้า</th>
                                            <th class="text-center">กลุ่มสินค้า</th>
                                            <th class="text-center">ช่วงราคา</th>
                                            <th class="text-center">OBSOVS</th>
                                        </tr>
                                    </thead>
                                </table>`);
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>ตรวจสอบใบนับ</h3>
        </div>
    </div>
    <div class="row" id='searchPanel'>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="setid-srch">เลขที่ชุดการนับ</label>
                        <input type="text" name="setid-srch" id="setid-srch" class='form-control'
                            placeholder="ระบุเลขที่ชุดการนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntnum-srch">เลขที่ใบนับ</label>
                        <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                            placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="startcntdt-srch">ช่วงวันที่ของการนับ - เริ่มต้น</label>
                        <input type="date" name="startcntdt-srch" id="startcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="endcntdt-srch">ช่วงวันที่ของการนับ - สิ้นสุด</label>
                        <input type="date" name="endcntdt-srch" id="endcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="store-srch">สาขา</label>
                        <select id='store-srch' name='store-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntmstatus-srch">สถานภาพใบนับ</label>
                        <select id='cntmstatus-srch' name='cntmstatus-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <br>
                        <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                aria-hidden="true"></i> ค้นหา</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb' class='table table-striped table-bordered nowrap'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'>เลขที่ชุดการนับ</th>
                                <th class='text-center'>เลขที่ใบนับ</th>
                                <th class='text-center'>สาขา</th>
                                <th class='text-center'>วันที่นับ</th>
                                <th class='text-center'>ชื่อการนับ</th>
                                <th class='text-center'>สถานภาพการนับ</th>
                                <th class='text-center'>ประเภทสินค้า</th>
                                <th class='text-center'>กลุ่มสินค้า</th>
                                <th class='text-center'>ช่วงราคา</th>
                                <th class='text-center'>OBSOVS</th>
                                <th class='text-center'>วันที่ยืนยันการนับ</th>
                                <th class='text-center'>ผู้ยืนยันการนับ</th>
                                <th class='text-center'>วันที่อนุมัติ</th>
                                <th class='text-center'>ผู้อนุมัติการนับ</th>
                                <th class='text-center'>วันที่ POST</th>
                                <th class='text-center'>ผู้ยืนยันการ POST</th>
                                <th class='text-center'>เหตุผลการนับ</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div><br>
        </div>
    </div>

    <div class="modal fade" id="schedModal" role="dialog">
        <div class="modal-dialog modal-lg" style='width: 70%'>
            <div class="modal-content">
                <form id='scheduleModalForm' action="javascript:createSchedule();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id='txtCntSchedModal'>Create Count Schedule</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="cntSchedNme" style='font-size: medium;'>ชื่อชุดการนับ</label>
                                        <input type="text" name="cntSchedNme" class='form-control' id="cntSchedNme"
                                            placeholder="โปรดระบุ" autocomplete="off" autofocus required readonly>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="cntStore" style='font-size: medium;'>เลือกสาขา</label>
                                        <select name="cntStore" id="cntStore" class='form-control' multiple required>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="cntSchedReason" style='font-size: medium;'>เหตุผลการนับ</label>
                                        <select name="cntSchedReason" id="cntSchedReason" class='form-control' required
                                            readonly>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <label for="cntCat" style='font-size: medium;'>เลือก Dept, Subdept, Class,
                                        Subclass</label><br>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div style='width: 100%; height: 300px; overflow: auto;'>
                                        <div class="catTreeView">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <label for="cntDateType" style='font-size: medium;'>ช่วงวันที่ ที่มีผล</label><br>
                                    <input type="radio" class='mr-3' id="byDate" name="cntDateType" value="0"
                                        onchange="cntDateTypeChanged(this.value);">
                                    <label for="byDate" class='mr-3'>ตามวัน</label>
                                    <input type="radio" class='mr-3' id="byFreq" name="cntDateType" value="1"
                                        onchange="cntDateTypeChanged(this.value);">
                                    <label for="byFreq" class='mr-3'>ตามความถี่</label>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div id='byDateDiv' hidden>
                                        <div class="col-md-4 col-xs-12 pl-0">
                                            <br>
                                            <label for="cntDate">เลือกวันที่</label>
                                            <input type="date" name="cntDate" id="cntDate" class='form-control'
                                                disabled>
                                        </div>
                                        <div class="col-md-8 col-xs-12"></div>
                                    </div>
                                    <div id='byFreqDiv' hidden>
                                        <div class="col-md-12 col-xs-12 p-0">
                                            <br>
                                            <div class="col-md-6 col-xs-12 pl-0">
                                                <label for="startCntDate">วันที่เริ่มมีผล</label>
                                                <input type="date" name="startCntDate" id="startCntDate"
                                                    class="form-control" onchange="startCntDateChange();" disabled>
                                            </div>
                                            <div class="col-md-6 col-xs-12 pl-0">
                                                <label for="endCntDate">วันที่สิ้นสุดการมีผล</label>
                                                <input type="date" name="endCntDate" id="endCntDate"
                                                    class="form-control" disabled>
                                            </div>
                                            <div class="col-md-12 col-xs-12 pl-0" id='chkBoxDiv'>
                                                <br>
                                                <div class="row">
                                                    <label for="cntDayWeek">เลือกวันในสัปดาห์</label><br>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkSunday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkSunday">Sunday</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkMonday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkMonday" class="mr-4">Monday</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkTuesday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkTuesday" class="mr-4">Tuesday</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkWednesday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkWednesday" class="mr-4">Wednesday</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkThursday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkThursday" class="mr-4">Thursday</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkFriday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkFriday" class="mr-4">Friday</label>
                                                    </div>
                                                    <div class="col-md-2 col-xs-6 p-0">
                                                        <input type="checkbox" id="chkSaturday" name="cntDayWeek[]"
                                                            value="Y">
                                                        <label for="chkSaturday" class="mr-4">Saturday</label>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <label for="cntWeek">เลือกสัปดาห์ที่</label><br>
                                                    <input type="checkbox" id="chkWeek1" name="cntWeek[]" value="Y">
                                                    <label for="chkWeek1" class="mr-3">1</label>
                                                    <input type="checkbox" id="chkWeek2" name="cntWeek[]" value="Y">
                                                    <label for="chkWeek2" class="mr-3">2</label>
                                                    <input type="checkbox" id="chkWeek3" name="cntWeek[]" value="Y">
                                                    <label for="chkWeek3" class="mr-3">3</label>
                                                    <input type="checkbox" id="chkWeek4" name="cntWeek[]" value="Y">
                                                    <label for="chkWeek4" class="mr-3">4</label>
                                                    <input type="checkbox" id="chkWeek5" name="cntWeek[]" value="Y">
                                                    <label for="chkWeek5" class="mr-3">5</label>
                                                    <input type="checkbox" id="chkWeek6" name="cntWeek[]" value="Y">
                                                    <label for="chkWeek5">6</label>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <label for="cntMonth">เลือกเดือนที่</label><br>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkJanuary" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkJanuary" class="mr-3">JAN</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkFebruary" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkFebruary" class="mr-3">FEB</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkMarch" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkMarch" class="mr-3">MAR</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkApril" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkApril" class="mr-3">APR</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkMay" name="cntMonth[]" value="Y">
                                                        <label for="chkMay" class="mr-3">MAY</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkJune" name="cntMonth[]" value="Y">
                                                        <label for="chkJune" class="mr-3">JUN</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkJuly" name="cntMonth[]" value="Y">
                                                        <label for="chkJuly" class="mr-3">JUL</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkAugust" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkAugust" class="mr-3">AUG</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkSeptember" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkSeptember" class="mr-3">SEP</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkOctober" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkOctober" class="mr-3">OCT</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkNovember" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkNovember" class="mr-3">NOV</label>
                                                    </div>
                                                    <div class="col-md-1 col-xs-4 p-0">
                                                        <input type="checkbox" id="chkDecember" name="cntMonth[]"
                                                            value="Y">
                                                        <label for="chkDecember">DEC</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-4 col-xs-12 pl-0">
                                        <label for="cntOBSOVS" style='font-size: medium;'>กำหนด OBS, OVS</label>
                                        <select name="cntOBSOVS" id="cntOBSOVS" class='form-control' multiple>
                                            <option value="O">OBS</option>
                                            <option value="V">OVS</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-xs-12 pl-0">
                                        <label for="cntPrType" style='font-size: medium;'>กำหนดประเภทสินค้า</label>
                                        <select name="cntPrType" id="cntPrType" class='form-control' multiple required>
                                            <option value="1">Credit</option>
                                            <option value="2">Consign</option>
                                            <option value="3">Non Merch</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <label for="cntPriceRange" style='font-size: medium;'>กำหนดช่วงราคา</label><br>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-4 col-xs-12 pl-0">
                                        <label for="cntStartPrice">เริ่มต้น</label>
                                        <input type="number" class='form-control' name="cntStartPrice" readonly
                                            id="cntStartPrice" pattern="^\d*(\.\d{0,2})?$" value='0.00' step='.01'>
                                    </div>
                                    <div class="col-md-4 col-xs-12 pl-0">
                                        <label for="cntEndPrice">สิ้นสุด</label>
                                        <input type="number" class='form-control' name="cntEndPrice" id="cntEndPrice"
                                            readonly pattern="^\d*(\.\d{0,2})?$" value='0.00' step='.01'>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <label for="uploadSKU" style='font-size: medium;'>กำหนด SKU โดยในไฟล์ต้องมีคอลัมน์
                                        SKCODE</label><br>
                                </div>
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-5 col-xs-12 pl-0">
                                        <label for="inpfile">เลือกไฟล์</label>
                                        <input type="file" name="inpfile" id="inpfile" disabled
                                            onchange='handleFileSelect();' accept=".xls, .xlsx">
                                    </div>
                                    <div class="col-md-7 col-xs-12 pl-0" id='checkSkuDiv'>
                                        <span style='float: right;' id='spCheckSku'><button type='button'
                                                class='btn btn-info btn-sm' id='btnCheckSku'
                                                onclick='getSkuInSetId(this);'><i class="fa fa-search-plus"
                                                    aria-hidden="true"></i> ตรวจสอบ
                                                SKU</button></span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-12 col-xs-12 pl-0" id='impSkuDiv' hidden>
                                        <table id='impSkuTB' class='table table-striped table-bordered'>
                                            <thead>
                                                <tr>
                                                    <th class='text-center'>SKCODE</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-12 col-xs-12 pl-0" id='chkSkuDiv' hidden>
                                        <label for="chkSkuTB">รายการ SKU ใน Set ID นี้</label>
                                        <table id='chkSkuTB' class='table table-striped table-bordered'>
                                            <thead>
                                                <tr>
                                                    <th class='text-center'>SKCODE</th>
                                                    <th class='text-center'>ชื่อสินค้า</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <span id='spSaveCntSched'><button type='submit' class="btn btn-primary" id='btnSaveCntSched'
                                onclick="this.blur();">บันทึกชุดการนับ</button></span>
                        <span id='spApproveCntSched' hidden><button type='button' class="btn btn-success"
                                id='btnApproveCntSched'
                                onclick="approveSchedule(this);">อนุมัติชุดการนับ</button></span>
                        <span id='spDeleteCntSched' hidden><button type='button' class="btn btn-danger"
                                id='btnDeleteCntSched' onclick="deleteSchedule(this);">ลบชุดการนับ</button></span>
                        <span id='spCancelCntSched' hidden><button type='button' class="btn btn-secondary"
                                id='btnCancelCntSched' onclick="voidSchedule(this);">ยกเลิกชุดการนับ</button></span> -->
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="detailModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg" style='width: 90%;'>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id='headerDetailModal'></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#cntName">Count Name</a></li>
                            <li id='cntSheetTab'><a data-toggle="tab" href="#cntSheet">Count Sheet</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="cntName" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="row" id='cntNameDiv'>
                                            <br>
                                            <table class='table table-bordered table-striped' id='cntNameTB'>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">สาขา</th>
                                                        <th class="text-center">วันที่นับ</th>
                                                        <th class="text-center">ชื่อการนับ</th>
                                                        <th class="text-center">ประเภทสินค้า</th>
                                                        <th class="text-center">กลุ่มสินค้า</th>
                                                        <th class="text-center">ช่วงราคา</th>
                                                        <th class="text-center">OBSOVS</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cntSheet" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="row" id='cntSheetDiv'>
                                            <table class='table table-bordered table-striped' id='cntSheetTB'>
                                                <br>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">SKU</th>
                                                        <th class="text-center">Barcode</th>
                                                        <th class="text-center">ชื่อสินค้า</th>
                                                        <th class="text-center">จำนวนนับ</th>
                                                        <th class="text-center">หน่วยขาย</th>
                                                        <th class="text-center">ราคาปลีก</th>
                                                        <th class="text-center">ประเภทสินค้า</th>
                                                        <th class="text-center">กลุ่มสินค้า</th>
                                                        <th class="text-center">OBSOVS</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

</div>