<script>
    let table;
    let lstChkCntNum = [];
    $(document).ready(() => {
        init();
    })

    function init() {
        $('#store-srch, #cntmstatus-srch').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 400
        });
        table = $('#schedTb').DataTable({
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                    "targets": 0,
                    "width": "30px"
                },
                {
                    "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9],
                    "width": "200px"
                }
            ],
            order: [
                [2, 'desc']
            ]
        });
        getReasonVoid();
        getCountMStatus();
    }

    function getCountMStatus() {
        let qry = `select * from STDCNTSTATUS`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let lstStatus = [];
            jsn.dbitems.forEach((itm, idx, arr) => {
                let obj = {
                    label: itm.CNTMSTATUS + ' - ' + itm.SNAME,
                    value: itm.CNTMSTATUS
                };
                lstStatus.push(obj);
                if (idx == arr.length - 1) {
                    $('#cntmstatus-srch').multiselect('dataprovider', lstStatus);
                    getStoreByUser();
                }
            })
        })
    }

    function getReasonVoid() {
        let qry = `exec WebCC_GetReasonVoid`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            let options = '<option value="">กรุณาเลือกเหตุผล</option>';
            if (!(jsn.dbrows > 0)) {
                $('#reasonVoid').html(options);
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                if (itm.STATUS === 'Active') {
                    options += `<option value='${itm.RSCODE}'>${itm.RSCODE} - ${itm.RSNAME}</option>`;
                }

                if (idx == arr.length - 1) {
                    $('#reasonVoid').html(options);
                }
            })
        })
    }

    function getStoreByUser() {
        let qry = `
        exec WebCC_LoadStoreByUser '${userId}'
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let obj = {
                    label: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`,
                    value: itm.ST_CODE
                };
                data.push(obj);
                if (idx == arr.length - 1) {
                    $('#store-srch').multiselect('dataprovider', data);
                    $('#btnSearch').click();
                }
            });
        });
    }

    function search(obj) {
        obj.blur();
        if (!$('#store-srch').val()) {
            $("#store-srch").multiselect('selectAll', false);
            $("#store-srch").multiselect('rebuild')
        }
        let stores = $('#store-srch').val();
        let jsnStores = JSON.stringify(stores) != 'null' ? JSON.stringify(stores) : null;
        let setId = $('#setid-srch').val() != '' ? $('#setid-srch').val() : null;
        let cntNum = $('#cntnum-srch').val() != '' ? $('#cntnum-srch').val() : null;
        let startDt = $('#startcntdt-srch').val() != '' ? $('#startcntdt-srch').val() : null;
        let endDt = $('#endcntdt-srch').val() != '' ? $('#endcntdt-srch').val() : null;
        let status = $('#cntmstatus-srch').val();
        let jsnStatus = JSON.stringify(status) != 'null' ? JSON.stringify(status) : null;

        if (!IsNullOrEmpty(setId) && !/^[0-9]{0,}$/.test(setId)) {
            swalConfirm('warning', 'ไม่สามารถค้นหาได้', 'กรุณาเลขที่ชุดการนับให้ถูกต้อง');
            return;
        }

        table.rows().remove().draw(false);
        let qry =
            `exec WebCC_SearchCntMain4Void ${cntNum ? `'${cntNum}'` : null}, ${setId ? `'${setId}'` : null}, ${startDt ? `'${startDt}'` : null}, ${endDt ? `'${endDt}'` : null}, ${jsnStores ? `'${jsnStores}'` : null}, ${jsnStatus ? `'${jsnStatus}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '',
                    obsovs = itm.OBSOVS || '',
                    status = itm.CNTMSTATUS.substring(0, 1);

                table.row.add([
                    `<center>
                        <input type='checkbox' name="lstCntNum[]" 
                        ${(status == 'N' || status == 'P' || status == 'V') ? 'disabled': ''} value="${itm.CNTNUM}">
                    </center>`,
                    itm.CNTNUM, itm.SETID, cntDate, itm.CNTNAME, itm.CNTMSTATUS,
                    itm.PRTYPE, itm.CATCODE, itm.PRICE, obsovs
                ]).draw(false);

                if (idx == arr.length - 1) {
                    $('input[name="lstCntNum[]"]').change(() => {
                        let hasSelect = false;
                        $('input[name="lstCntNum[]"]').each((idx, itm) => {
                            if ($(itm).is(':checked')) {
                                hasSelect = true;
                            }
                        })

                        if (hasSelect) {
                            $('#btnVoid').removeAttr('disabled');
                        } else {
                            $('#btnVoid').attr('disabled', true);
                        }
                    })
                }
            })
        })
    }

    function voidCnt(obj) {
        obj.blur();
        lstChkCntNum = []

        $('input[name="lstCntNum[]"]').each((idx, itm) => {
            if ($(itm).is(':checked')) {
                lstChkCntNum.push(itm.value);
            }
        })

        if (!(lstChkCntNum.length > 0)) {
            swalConfirm('warning', 'กรุณาเลือกใบนับ', 'ที่ท่านต้องการยกเลิก')
            return;
        }

        $('#reasonVoid').val('');
        $('#voidModal').modal('show');
    }

    function confirmVoid() {
        swal({
                title: 'คุณต้องการยกเลิกใบนับใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let jsnVoidItm = JSON.stringify(lstChkCntNum);
                voidProcess(jsnVoidItm);
            }
        );
    }

    function voidProcess(jsnVoidItm) {
        let rsCode = $('#reasonVoid').val();
        let qry = `declare @result varchar(500)
                   exec WebCC_VoidCount '${jsnVoidItm}', '${userId}', '${rsCode}', @result output
                   select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                $('#voidModal').modal('hide');
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[0].RESULT;
            if (result != 'OKOK') {
                $('#voidModal').modal('hide');
                swalConfirm('warning', 'ยกเลิกใบนับไม่สำเร็จ', result);
                return;
            }

            swalConfirm('success', 'ยกเลิกใบนับสำเร็จ', result);
            $('#voidModal').modal('hide');
            $('#btnSearch').click();
        })
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>ยกเลิกใบนับ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="setid-srch">เลขที่ชุดการนับ</label>
                        <input type="text" name="setid-srch" id="setid-srch" class='form-control'
                            placeholder="ระบุเลขที่ชุดการนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntnum-srch">เลขที่ใบนับ</label>
                        <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                            placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="startcntdt-srch">ช่วงวันที่ของการนับ - เริ่มต้น</label>
                        <input type="date" name="startcntdt-srch" id="startcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="endcntdt-srch">ช่วงวันที่ของการนับ - สิ้นสุด</label>
                        <input type="date" name="endcntdt-srch" id="endcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="store-srch">สาขา</label>
                        <select id='store-srch' name='store-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntmstatus-srch">สถานภาพใบนับ</label>
                        <select id='cntmstatus-srch' name='cntmstatus-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <br>
                        <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                aria-hidden="true"></i> ค้นหา</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <button id='btnVoid' disabled onclick='voidCnt(this);' class='btn btn-primary'><i
                                class="fa fa-ban" aria-hidden="true"></i> ยกเลิกใบนับ</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb' class='table table-striped table-bordered'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'></th>
                                <th class='text-center'>เลขที่ใบนับ</th>
                                <th class='text-center'>เลขที่ชุดการนับ</th>
                                <th class='text-center'>วันที่นับ</th>
                                <th class='text-center'>ชื่อการนับ</th>
                                <th class='text-center'>สถานภาพการนับ</th>
                                <th class='text-center'>ประเภทสินค้า</th>
                                <th class='text-center'>กลุ่มสินค้า</th>
                                <th class='text-center'>ช่วงราคา</th>
                                <th class='text-center'>OBSOVS</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div id="voidModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="javascript:confirmVoid();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">กรุณาระบุเหตุผลการยกเลิก</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <select name="reasonVoid" id="reasonVoid" class='form-control' required>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class='btn btn-primary' onclick='return this.blur();'>ตกลง</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>