<script>
    let table, wrapper, clearButton, changeColorButton, undoButton, savePNGButton, saveJPGButton, saveSVGButton, canvas,
        signaturePad;
    let imgsApv = [];

    $(document).ready(() => {
        init();
    })

    function init() {
        $('#btnGmApv').css('display', (!profileList.includes('1116') ? 'none' : 'unset'));
        $('#btnDistrictApv').css('display', (!profileList.includes('1117') ? 'none' : 'unset'));

        $('#store-srch, #cntmstatus-srch').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 400
        });
        table = $('#schedTb').DataTable({
            order: [
                [2, 'desc']
            ],
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                "targets": [0],
                "width": "30px"
            }, {
                "targets": [1, 2, 3],
                "width": "100px"
            }, {
                "targets": [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17],
                "width": "200px"
            }]
        });
        getCountMStatus();
        getReasonNotPost();

        $('#apvModal').on('shown.bs.modal', function () {
            initCanvas();
        });

        File.prototype.convertToBase64 = function () {
            return new Promise(function (resolve, reject) {
                var reader = new FileReader();
                reader.onloadend = function (e) {
                    resolve({
                        fileName: this.name,
                        result: e.target.result,
                        error: e.target.error
                    });
                };
                reader.readAsDataURL(this);
            }.bind(this));
        };

        FileList.prototype.convertAllToBase64 = function (regexp) {
            // empty regexp if not set
            regexp = regexp || /.*/;
            //making array from FileList
            var filesArray = Array.prototype.slice.call(this);
            var base64PromisesArray = filesArray.
            filter(function (file) {
                return (regexp).test(file.name)
            }).map(function (file) {
                return file.convertToBase64();
            });
            return Promise.all(base64PromisesArray);
        };

        $("#imageFiles").on('change', function () {
            let imgs = [];
            //for all files that have file extention png, jpeg, jpg, gif
            this.files.convertAllToBase64(/\.(png|jpeg|jpg|gif)$/i).then((objArray) => {
                if (objArray.length > 0) {
                    $('#showImagesDiv').show();
                } else {
                    $('#showImagesDiv').hide();
                }

                objArray.forEach((obj, i, arr) => {
                    if (obj.result) {
                        imgs.push(obj.result);
                        imgsApv.push(obj.result);
                    }

                    if (i == arr.length - 1) {
                        imgs.forEach((itm) => {
                            $('#showImages').append(`<div class='col-md-3 col-xs-12 mb-2'>
                                                <img src='${itm}' class="img-thumbnail" style='width: auto; height: auto;'>
                                             </div>`)
                        })
                    }
                });
            });
        })
    }

    /**************Canvas*********************/
    function initCanvas() {
        wrapper = document.getElementById("signature-pad");
        clearButton = wrapper.querySelector("[data-action=clear]");
        undoButton = wrapper.querySelector("[data-action=undo]");
        // savePNGButton = wrapper.querySelector("[data-action=save-png]");
        // saveJPGButton = wrapper.querySelector("[data-action=save-jpg]");
        // saveSVGButton = wrapper.querySelector("[data-action=save-svg]");
        canvas = wrapper.querySelector("canvas");
        signaturePad = new SignaturePad(canvas, {
            backgroundColor: 'rgb(255, 255, 255)'
        });

        window.onresize = resizeCanvas;
        resizeCanvas();

        clearButton.addEventListener("click", function (event) {
            $(this).blur();
            signaturePad.clear();
        });

        undoButton.addEventListener("click", function (event) {
            $(this).blur();
            var data = signaturePad.toData();

            if (data) {
                data.pop();
                signaturePad.fromData(data);
            }
        });

        // savePNGButton.addEventListener("click", function (event) {
        //     if (signaturePad.isEmpty()) {
        //         alert("Please provide a signature first.");
        //     } else {
        //         var dataURL = signaturePad.toDataURL();
        //         download(dataURL, "signature.png");
        //     }
        // });

        // saveJPGButton.addEventListener("click", function (event) {
        //     if (signaturePad.isEmpty()) {
        //         alert("Please provide a signature first.");
        //     } else {
        //         var dataURL = signaturePad.toDataURL("image/jpeg");
        //         download(dataURL, "signature.jpg");
        //     }
        // });

        // saveSVGButton.addEventListener("click", function (event) {
        //     if (signaturePad.isEmpty()) {
        //         alert("Please provide a signature first.");
        //     } else {
        //         var dataURL = signaturePad.toDataURL('image/svg+xml');
        //         download(dataURL, "signature.svg");
        //     }
        // });

    }

    function resizeCanvas() {
        var ratio = Math.max(window.devicePixelRatio || 1, 1);

        canvas.width = canvas.offsetWidth * ratio;
        canvas.height = canvas.offsetHeight * ratio;
        canvas.getContext("2d").scale(ratio, ratio);

        signaturePad.clear();
    }

    function download(dataURL, filename) {
        if (navigator.userAgent.indexOf("Safari") > -1 && navigator.userAgent.indexOf("Chrome") === -1) {
            window.open(dataURL);
        } else {
            var blob = dataURLToBlob(dataURL);
            var url = window.URL.createObjectURL(blob);

            var a = document.createElement("a");
            a.style = "display: none";
            a.href = url;
            a.download = filename;

            document.body.appendChild(a);
            a.click();

            window.URL.revokeObjectURL(url);
        }
    }

    function dataURLToBlob(dataURL) {
        var parts = dataURL.split(';base64,');
        var contentType = parts[0].split(":")[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;
        var uInt8Array = new Uint8Array(rawLength);

        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }

        return new Blob([uInt8Array], {
            type: contentType
        });
    }
    /**************End Canvas*********************/

    function getStoreByUser() {
        let qry = `
        exec WebCC_LoadStoreByUser '${userId}'
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let obj = {
                    label: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`,
                    value: itm.ST_CODE
                };
                data.push(obj);
                if (idx == arr.length - 1) {
                    $('#store-srch').multiselect('dataprovider', data);
                    $('#btnSearch').click();
                }
            });
        });
    }

    function getCountMStatus() {
        let qry = `select * from STDCNTSTATUS where CNTMSTATUS in ('C','G','D','N')`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let lstStatus = [];
            jsn.dbitems.forEach((itm, idx, arr) => {
                let obj = {
                    label: itm.CNTMSTATUS + ' - ' + itm.SNAME,
                    value: itm.CNTMSTATUS
                };
                lstStatus.push(obj);
                if (idx == arr.length - 1) {
                    $('#cntmstatus-srch').multiselect('dataprovider', lstStatus);
                    getStoreByUser();
                }
            })
        })
    }

    function getReasonNotPost() {
        let qry = `select * from STDREASONnotPOST where status = 'A'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            let options = `<option value=''>กรุณาเลือก</option>`;
            if (!(jsn.dbrows > 0)) {
                $('#reasonNotPost').html(options);
                return;
            }

            jsn.dbitems.forEach((itm, idx, arr) => {
                options +=
                    `<option value="${itm.RS_CODE}">${itm.RS_CODE + ' - ' + itm.RS_NAME}</option>`;
                if (idx === arr.length - 1) {
                    $('#reasonNotPost').html(options);
                }
            })
        })
    }

    function search(obj) {
        obj.blur();
        if (!$('#store-srch').val()) {
            $("#store-srch").multiselect('selectAll', false);
            $("#store-srch").multiselect('rebuild')
        }
        let stores = $('#store-srch').val();
        let jsnStores = JSON.stringify(stores) != 'null' ? JSON.stringify(stores) : null;
        let setId = $('#setid-srch').val() != '' ? $('#setid-srch').val() : null;
        let cntNum = $('#cntnum-srch').val() != '' ? $('#cntnum-srch').val() : null;
        let startDt = $('#startcntdt-srch').val() != '' ? $('#startcntdt-srch').val() : null;
        let endDt = $('#endcntdt-srch').val() != '' ? $('#endcntdt-srch').val() : null;
        let status = $('#cntmstatus-srch').val();
        let jsnStatus = JSON.stringify(status) != 'null' ? JSON.stringify(status) : null;

        if (!IsNullOrEmpty(setId) && !/^[0-9]{0,}$/.test(setId)) {
            swalConfirm('warning', 'ไม่สามารถค้นหาได้', 'กรุณาเลขที่ชุดการนับให้ถูกต้อง');
            return;
        }

        table.rows().remove().draw(false);
        let qry =
            `exec WebCC_SearchCntMain4Approve ${cntNum ? `'${cntNum}'` : null}, ${setId ? `'${setId}'` : null}, ${startDt ? `'${startDt}'` : null}, ${endDt ? `'${endDt}'` : null}, ${jsnStores ? `'${jsnStores}'` : null}, ${jsnStatus ? `'${jsnStatus}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.forEach((itm, idx, arr) => {
                let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '',
                    obsovs = itm.OBSOVS || '',
                    cfDate = itm.CONFIRMDATE ? itm.CONFIRMDATE.substring(0, 10) : '',
                    apvDate = itm.APPROVEDATE ? itm.APPROVEDATE.substring(0, 10) : '',
                    cfUser = itm.USERCONFIRM || '',
                    apvUser = itm.USERAPPROVE || '',
                    status = itm.CNTMSTATUS ? itm.CNTMSTATUS.substring(0, 1) : '',
                    lossValue = itm.LOSSVALUE * -1;

                table.row.add([
                    `<center>
                                <input ${profileList.includes('1116') || profileList.includes('1117') ? '': 'disabled'} type='checkbox' name="lstCntNum[]" value="${itm.CNTNUM}|${status}">
                            </center>`, itm.CNTNUM, itm.SETID, cntDate, itm.CNTNAME, itm.CNTMSTATUS,
                    lossValue < 0 ? `<span class='red'>${textToNumeric(lossValue)}</span>` :
                    textToNumeric(lossValue),
                    itm.GAINVALUE ? textToNumeric(itm.GAINVALUE) : '',
                    textToNumeric(itm.NET), itm.ABS ? textToNumeric(itm.ABS) : '',
                    itm.PRTYPE, itm.CATCODE, itm.PRICE, obsovs,
                    cfDate, cfUser, apvDate, apvUser
                ]).draw(false);

                if (idx == arr.length - 1) {
                    $('input[name="lstCntNum[]"]').change(() => {
                        let hasSelect = false;
                        $('input[name="lstCntNum[]"]').each((idx, itm) => {
                            if ($(itm).is(':checked')) {
                                hasSelect = true;

                                let status = itm.value.split('|')[1];
                                if (!['D', 'N'].includes(status)) {
                                    if (['G'].includes(status)) {
                                        $('#btnDistrictApv').removeAttr('disabled');
                                        $('#btnGmApv').attr('disabled', true);
                                    } else {
                                        $('#btnGmApv').removeAttr('disabled');
                                        $('#btnDistrictApv').attr('disabled', true);
                                    }
                                } else {
                                    $('#btnDistrictApv, #btnGmApv').attr('disabled',
                                        true);
                                }
                            }
                        })

                        if (hasSelect) {
                            $('input[name="lstCntNum[]"]').each((idx, itm) => {
                                if (!$(itm).is(':checked')) {
                                    $(itm).attr('disabled', true);
                                }
                            })
                        } else {
                            $('input[name="lstCntNum[]"]').attr('disabled', false);
                            $('#btnDistrictApv, #btnGmApv').attr('disabled', true);
                        }
                    })
                }
            })
        })
    }

    function gmApvModal(obj) {
        obj.blur();

        $('#cntNumGmApv').val('');

        if (!profileList.includes('1116')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'GM อนุมัติ');
            return;
        }

        let lstChkCntNum = [],
            lstCanClose = [],
            lstCannotClose = [];

        $('input[name="lstCntNum[]"]').each((idx, itm) => {
            if ($(itm).is(':checked')) {
                lstChkCntNum.push(itm.value);
            }
        })

        if (!(lstChkCntNum.length > 0)) {
            swalConfirm('warning', 'กรุณาเลือกใบนับ', 'ที่ท่านต้องการอนุมัติ')
            return;
        }

        if (lstChkCntNum.length > 1) {
            swalConfirm('warning', 'ไม่สามารถทำรายการได้', 'กรุณาเลือกใบนับครั้งละ 1 ใบสำหรับทำรายการ')
            return;
        }

        let [chkCntNum, status] = lstChkCntNum[0].split('|');
        // if (['G'].includes(status)) {
        //     swalConfirm('warning', 'ใบนับนี้ GM อนุมัติเรียบร้อยแล้ว', '')
        //     return
        // }

        // if (['D', 'N'].includes(status)) {
        //     swalConfirm('warning', 'ใบนับนี้ เขตอนุมัติเรียบร้อยแล้ว', '')
        //     return
        // }
        getApvDetail(chkCntNum, '0');
    }

    function distinctApvModal(obj) {
        obj.blur();

        if (!profileList.includes('1117')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'เขตอนุมัติ');
            return;
        }

        let lstChkCntNum = [],
            lstCanClose = [],
            lstCannotClose = [];

        $('input[name="lstCntNum[]"]').each((idx, itm) => {
            if ($(itm).is(':checked')) {
                lstChkCntNum.push(itm.value);
            }
        })

        if (!(lstChkCntNum.length > 0)) {
            swalConfirm('warning', 'กรุณาเลือกใบนับ', 'ที่ท่านต้องการอนุมัติ')
            return;
        }

        if (lstChkCntNum.length > 1) {
            swalConfirm('warning', 'ไม่สามารถทำรายการได้', 'กรุณาเลือกใบนับครั้งละ 1 ใบสำหรับทำรายการ')
            return;
        }

        let [chkCntNum, status] = lstChkCntNum[0].split('|');
        if (['D', 'N'].includes(status)) {
            swalConfirm('warning', 'ใบนับนี้ เขตอนุมัติเรียบร้อยแล้ว', '')
            return
        }
        getApvDetail(chkCntNum, '1');
    }

    function getApvDetail(cntNum, type) {
        let qry =
            `exec WebCC_SearchCntMain4Approve '${cntNum}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, async (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            clearApvModal();

            let itm = jsn.dbitems[0];
            $('.modal-title').html((type == '0') ? 'GM อนุมัติ' : 'เขตอนุมัติ');

            if (type == '0') {
                $('#reasonNotPostDiv').hide();
                $('#btnGmConfirmApv').css('display', 'unset');
                $('#btnDistrictConfirmApvPost, #btnDistrictConfirmApvNotPost').css('display',
                    'none');
            } else {
                $('#reasonNotPostDiv').show();
                $('#btnGmConfirmApv').css('display', 'none');
                $('#btnDistrictConfirmApvPost, #btnDistrictConfirmApvNotPost').css('display',
                    'unset');
            }
            $('#setIdApv').val(itm.SETID);
            $('#cntNumApv').val(itm.CNTNUM);
            $('#cntNameApv').val(itm.CNTNAME);
            $('#cntDateApv').val(itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '');
            $('#cntMStatusApv').val(itm.CNTMSTATUS);
            $('#lossValueApv').val(itm.LOSSVALUE ? textToNumeric(itm.LOSSVALUE) : '0.00');
            $('#gainValueApv').val(itm.GAINVALUE ? textToNumeric(itm.GAINVALUE) : '0.00');
            $('#netValueApv').val(itm.NET ? textToNumeric(itm.NET) : '0.00');
            $('#absoluteValueApv').val(itm.ABS ? textToNumeric(itm.ABS) : '0.00');

            let images = await getImages(cntNum);
            if (images.dbcode == 0) {
                for (let i = 0; i < images.dbrows; i++) {
                    $('#showImages').append(`<div class='col-md-3 col-xs-12 mb-2'>
                                                <img src='${images.dbitems[i].ImgBase64}' class="img-thumbnail" style='width: auto; height: auto;'>
                                             </div>`)
                    if (i == images.dbrows - 1) $('#showImagesDiv').show();
                }
            } else console.log(images.dbmessage)

            $('#apvModal').modal('show');
        });
    }

    async function getImages(cntNum) {
        return new Promise((resolve) => {
            let qry = `exec WebCC_GetApproveImage '${cntNum}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, (isok, ret) => {
                resolve(JSON.parse(ret));
            })
        })
    }

    function clearApvModal() {
        $('#setIdApv').val('');
        $('#cntNumApv').val('');
        $('#cntNameApv').val('');
        $('#cntDateApv').val('');
        $('#cntMStatusApv').val('');
        $('#lossValueApv').val('');
        $('#gainValueApv').val('');
        $('#reasonNotPost').val('');
        clearInputFile(imageFiles);
        $('#showImages').html('');
        $('#showImagesDiv').hide();
        imgsApv = [];
    }

    function gmConfirmApv(obj) {
        obj.blur();
        if (signaturePad.isEmpty()) {
            swalConfirm('warning', 'ไม่สามารถทำการอนุมัติได้', 'กรุณาเซ็นต์ลายมือชื่อก่อนทำการอนุมัติ');
            return;
        }

        let dataURL = signaturePad.toDataURL("image/jpeg");

        let imgs = [];
        imgs.push(dataURL);

        if (imgsApv.length > 0) {
            imgsApv.forEach((itm) => {
                imgs.push(itm);
            })
        }

        swal({
                title: 'คุณต้องการอนุมัติใช่หรือไม่',
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let cntNum = $('#cntNumApv').val();
                let qry = `delete from TMPCNTAPVIMAGE where loginid = '${loginId}';
                
                            ${imgs.map((itm, idx) => `insert into TMPCNTAPVIMAGE (LOGINID, SEQ, ImgBase64) values ('${loginId}', '${idx + 1}', '${itm}')`).join("; ") + ';'}

                            declare @result varchar(500)
                            exec WebCC_ApproveCount ${loginId}, 'G', '["${cntNum}"]', '', '${userId}', @result output
                            select @result as RESULT`;

                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    let result = jsn.dbitems[0].RESULT;
                    if (result != 'OKOK') {
                        swalConfirm('warning', 'ไม่สำเร็จ', result);
                        return;
                    }

                    swalConfirm('success', 'Succesfully', result);
                    $('#apvModal').modal('hide');
                    clearApvModal();
                    $('#btnDistrictApv, #btnGmApv').attr('disabled', true);
                    $('#btnSearch').click();
                })
            }
        );
    }



    function districtConfirmApv(obj, isPost) {
        obj.blur();
        if (signaturePad.isEmpty()) {
            swalConfirm('warning', 'ไม่สามารถทำการอนุมัติได้', 'กรุณาเซ็นต์ลายมือชื่อก่อนทำการอนุมัติ');
            return;
        }
        let reason = '';
        if (!isPost) {
            reason = $('#reasonNotPost').val();;
            if (reason == '') {
                swalConfirm('warning', 'ไม่สามารถทำการอนุมัติได้', 'กรุณาระบุเหตุผลที่ไม่ Post');
                return;
            }
        }

        let dataURL = signaturePad.toDataURL("image/jpeg");

        let imgs = [];
        imgs.push(dataURL);

        if (imgsApv.length > 0) {
            imgsApv.forEach((itm) => {
                imgs.push(itm);
            })
        }

        swal({
                title: `คุณต้องการอนุมัติ${isPost ? ' Post ' : 'ไม่ Post '}ใช่หรือไม่`,
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let cntNum = $('#cntNumApv').val();
                let qry = `delete from TMPCNTAPVIMAGE where loginid = '${loginId}';

                            ${imgs.map((itm, idx) => `insert into TMPCNTAPVIMAGE (LOGINID, SEQ, ImgBase64) values ('${loginId}', '${idx + 1}', '${itm}')`).join("; ") + ';'}

                            declare @result varchar(500)
                            exec WebCC_ApproveCount ${loginId}, '${isPost ? 'D' : 'N'}', '["${cntNum}"]', '${reason}', '${userId}', @result output
                            select @result as RESULT`;

                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    let result = jsn.dbitems[0].RESULT;
                    if (result != 'OKOK') {
                        swalConfirm('warning', 'ไม่สำเร็จ', result);
                        return;
                    }

                    swalConfirm('success', 'Succesfully', result);
                    $('#apvModal').modal('hide');
                    clearApvModal();
                    $('#btnDistrictApv, #btnGmApv').attr('disabled', true);
                    $('#btnSearch').click();
                })
            }
        );
    }
</script>
<style>
    .signature-pad {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 10px;
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 460px;
        border: 1px solid #ccc;
        background-color: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
        border-radius: 4px;
        padding: 16px;
    }

    .signature-pad::before,
    .signature-pad::after {
        position: absolute;
        z-index: -1;
        content: "";
        width: 40%;
        height: 10px;
        bottom: 10px;
        background: transparent;
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
    }

    .signature-pad::before {
        left: 20px;
        -webkit-transform: skew(-3deg) rotate(-3deg);
        transform: skew(-3deg) rotate(-3deg);
    }

    .signature-pad::after {
        right: 20px;
        -webkit-transform: skew(3deg) rotate(3deg);
        transform: skew(3deg) rotate(3deg);
    }

    .signature-pad--body {
        position: relative;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border: 1px solid #eee;
    }

    .signature-pad--body canvas {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    }

    .signature-pad--footer {
        text-align: center;
        font-size: 1.2em;
        margin-top: 8px;
    }

    .signature-pad--actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 8px;
    }

    .red {
        color: #ff0000;
        font-weight: bold;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>อนุมัติการนับ</h3>
        </div>
    </div>
    <div class="row" id='searchPanel'>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="setid-srch">เลขที่ชุดการนับ</label>
                        <input type="text" name="setid-srch" id="setid-srch" class='form-control'
                            placeholder="ระบุเลขที่ชุดการนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntnum-srch">เลขที่ใบนับ</label>
                        <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                            placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="startcntdt-srch">ช่วงวันที่ของการนับ - เริ่มต้น</label>
                        <input type="date" name="startcntdt-srch" id="startcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="endcntdt-srch">ช่วงวันที่ของการนับ - สิ้นสุด</label>
                        <input type="date" name="endcntdt-srch" id="endcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="store-srch">สาขา</label>
                        <select id='store-srch' name='store-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntmstatus-srch">สถานภาพใบนับ</label>
                        <select id='cntmstatus-srch' name='cntmstatus-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <br>
                        <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                aria-hidden="true"></i> ค้นหา</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <button disabled id='btnGmApv' style='display: none;' onclick='gmApvModal(this);'
                            class='btn btn-success mb-2'>
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            GM อนุมัติ</button>
                        <button disabled id='btnDistrictApv' style='display: none;' onclick='distinctApvModal(this);'
                            class='btn btn-primary mb-2'><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            เขตอนุมัติ</button>
                    </div>
                    <div class="col-md-8 col-xs-12"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb' class='table table-striped table-bordered nowrap'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'></th>
                                <th class='text-center'>เลขที่ใบนับ</th>
                                <th class='text-center'>เลขที่ชุดการนับ</th>
                                <th class='text-center'>วันที่นับ</th>
                                <th class='text-center'>ชื่อการนับ</th>
                                <th class='text-center'>สถานภาพการนับ</th>
                                <th class='text-center'>มูลค่าขาด</th>
                                <th class='text-center'>มูลค่าเกิน</th>
                                <th class='text-center'>มูลค่า Net</th>
                                <th class='text-center'>มูลค่า Absolute</th>
                                <th class='text-center'>ประเภทสินค้า</th>
                                <th class='text-center'>กลุ่มสินค้า</th>
                                <th class='text-center'>ช่วงราคา</th>
                                <th class='text-center'>OBSOVS</th>
                                <th class='text-center'>วันที่ยืนยันการนับ</th>
                                <th class='text-center'>ผู้ยืนยันการนับ</th>
                                <th class='text-center'>วันที่อนุมัติ</th>
                                <th class='text-center'>ผู้อนุมัติการนับ</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div><br>
        </div>
    </div>

    <div id="apvModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <label for="setIdApv">เลขที่ชุดการนับ</label>
                                    <input type="text" readonly class='form-control' id='setIdApv'>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label for="cntNumApv">เลขที่ใบนับ</label>
                                    <input type="text" readonly class='form-control' id='cntNumApv'>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label for="cntNameApv">ชื่อการนับ</label>
                                    <input type="text" readonly class='form-control' id='cntNameApv'>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <label for="cntDateApv">วันที่นับ</label>
                                    <input type="text" readonly class='form-control' id='cntDateApv'>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label for="cntMStatusApv">สถานภาพการนับ</label>
                                    <input type="text" readonly class='form-control' id='cntMStatusApv'>
                                </div>
                                <div class="col-md-4 col-xs-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <label for="lossValueApv">มูลค่าขาด</label>
                                    <input type="text" readonly class='form-control' id='lossValueApv'>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label for="gainValueApv">มูลค่าเกิน</label>
                                    <input type="text" readonly class='form-control' id='gainValueApv'>
                                </div>
                                <div class="col-md-4 col-xs-12"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">
                                    <label for="netValueApv">มูลค่า Net</label>
                                    <input type="text" readonly class='form-control' id='netValueApv'>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label for="absoluteValueApv">มูลค่า Absolute</label>
                                    <input type="text" readonly class='form-control' id='absoluteValueApv'>
                                </div>
                                <div class="col-md-4 col-xs-12"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <label for="imageFiles">Add Images (สามารถเลือกได้มากกว่า 1 รูป)</label>
                                    <input type="file" id="imageFiles" name="imageFiles"
                                        accept=".jpg, .jpeg, .png, .gif" multiple>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class='col-md-12 col-xs-12' id='showImagesDiv' hidden>
                                    <div class="row" id='showImages'>

                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <center>
                                        <label for="signature-pad">โปรดเซ็นต์ชื่อในพื้นที่ด้านล่างก่อนการอนุมัติ</label>
                                        <div id="signature-pad" class="signature-pad">
                                            <div class="signature-pad--body">
                                                <canvas></canvas>
                                            </div>
                                            <div class="signature-pad--footer">
                                                <!-- <div class="description">Sign above</div> -->

                                                <div class="signature-pad--actions">
                                                    <div>
                                                        <button type="button" class="btn clear mb-2"
                                                            data-action="clear">Clear</button>
                                                        <button type="button" class="btn mb-2"
                                                            data-action="undo">Undo</button>
                                                    </div>
                                                    <!-- <div>
                                                    <button type="button" class="btn save mb-2"
                                                        data-action="save-png">Save as PNG</button>
                                                    <button type="button" class="btn save mb-2"
                                                        data-action="save-jpg">Save as JPG</button>
                                                    <button type="button" class="btn save mb-2"
                                                        data-action="save-svg">Save as SVG</button>
                                                </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </center>
                                </div>
                            </div>
                            <br>
                            <hr>
                            <div class="row" id='reasonNotPostDiv' hidden>
                                <div class="col-md-12 col-xs-12">
                                    <label for="" style='color: #ff0000;'>* ในส่วนนี้ เฉพาะกรณีต้องการอนุมัติไม่ Post
                                        เท่านั้น</label>
                                </div>
                                <div class="col-md-4 col-xs-12">
                                    <label for="reasonNotPost">กรณี <strong>อนุมัติไม่ Post</strong>
                                        กรุณาระบุเหตุผล</label>
                                    <select name="reasonNotPost" id="reasonNotPost" class='form-control'>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type='button' id='btnGmConfirmApv' class='btn btn-primary' style='display: none;'
                        onclick='gmConfirmApv(this);'><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        อนุมัติ</button>
                    <button type='button' id='btnDistrictConfirmApvPost' class='btn btn-primary' style='display: none;'
                        onclick='districtConfirmApv(this, true);'><i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        อนุมัติ Post</button>
                    <button type='button' id='btnDistrictConfirmApvNotPost' class='btn btn-danger'
                        style='display: none;' onclick='districtConfirmApv(this, false);'><i class="fa fa-thumbs-up"
                            aria-hidden="true"></i>
                        อนุมัติไม่ Post</button>
                </div>
            </div>

        </div>
    </div>

</div>