<script>
    let table, tableEdt;
    let keyEdit = 0;
    let locationEdit;
    let isTimeUp;
    let cntnumStatus;
    $(document).ready(() => {
        init();
    })

    function init() {
        $('#btnCloseCntLocation').css('display', (!profileList.includes('1114') ? 'none' : 'unset'));
        $('#btnCloseCntSku').css('display', (!profileList.includes('1115') ? 'none' : 'unset'));

        $('#store-srch, #cntmstatus-srch').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 400
        });
        table = $('#schedTb').DataTable({
            deferRender: true,
            scrollX: true,
            scrollY: '30vh',
            scrollCollapse: true,
            scroller: {
                loadingIndicator: true
            },
            "columnDefs": [{
                    "targets": 0,
                    "width": "30px"
                },
                {
                    "targets": 1,
                    "width": "50px"
                },
                {
                    "targets": 2,
                    "width": "100px"
                },
                {
                    "targets": [3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
                    "width": "200px"
                }
            ],
            order: [
                [3, 'desc']
            ]
        });
        table.columns.adjust().draw();

        getCountMStatus();
        tableEdt = $('#locationDetTb').DataTable({
            order: [
                [1, 'asc']
            ]
        });

        $('#btnLocationList').on('click', () => {
            let location = $('#location-text').val();
            getListByLocation(location);
        })

        $('#btnSkuList').on('click', () => {
            let location = $('#location-text').val();
            getListBySKU(location);
        })
    }

    function getListByLocation(location) {
        $('#btnConfirm').css('display', 'unset');
        $('#btnAdd').css('display', 'none');
        $('#btnLocationList').blur();
        $('#btnGroupUpdate').hide();
        if (!profileList.includes('1155') && !isTimeUp) {
            if (location != '') {
                $('#btnGroupAddSKU').show();
            } else {
                $('#btnGroupAddSKU').hide();
            }
        }
        let cntNum = $('#cntnum-edt').val();
        let qry = `exec WebCC_ListCntTrans '${cntNum}', ${location == '' ? null : `'${location}'`}, '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }


            $('#sku-edt').val('');
            $('#cntqnt-edt').val(0.00);
            $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);

            tableEdt.rows().remove().draw(false);
            tableEdt.search('').draw();
            jsn.dbitems.forEach((itm, idx, arr) => {
                tableEdt.row.add([
                    `<button class='btn btn-warning w-100' onclick="editCntQnt(this, '${itm.TRANID}', '${itm.SKCODE}', '${itm.CNTQNT}', '${itm.LOCATION}')"
                    ${profileList.includes('1155') || isTimeUp ? 'style="display:none;"': ''}><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไข</button>`,
                    itm.TRANID, itm.SKCODE, itm.PRCODE, itm.PRNAME, itm.CNTQNT,
                    itm.EDITCNT, itm.LOCATION, itm.SELLUNITCODE,
                    itm.CATCODE + ' - ' + itm.CATNAME, itm.TRANDATE, itm.USERID, ''
                ]).draw(false);
            })
        })
    }

    function getListBySKU(location) {
        $('#btnConfirm').css('display', 'unset');
        $('#btnAdd').css('display', 'none');
        $('#btnSkuList').blur();
        $('#btnGroupUpdate').hide();
        if (!profileList.includes('1155') && !isTimeUp) {
            if (location != '') {
                $('#btnGroupAddSKU').show();
            } else {
                $('#btnGroupAddSKU').hide();
            }
        }
        let cntNum = $('#cntnum-edt').val();
        let qry = `exec WebCC_ListCntItemLocation '${cntNum}', ${location == '' ? null : `'${location}'`}, '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            $('#sku-edt').val('');
            $('#cntqnt-edt').val(0.00);
            $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);

            tableEdt.rows().remove().draw(false);
            tableEdt.search('').draw();
            jsn.dbitems.forEach((itm, idx, arr) => {
                tableEdt.row.add([
                    `<button class='btn btn-warning w-100' onclick="editCntQnt(this, '${itm.TRANID}', '${itm.SKCODE}', '${itm.CNTQNT}', '${itm.LOCATION}')"
                    ${profileList.includes('1155') || isTimeUp ? 'style="display:none;"': ''}><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไข</button>`,
                    itm.TRANID, itm.SKCODE, itm.PRCODE, itm.PRNAME, itm.CNTQNT,
                    itm.EDITCNT, itm.LOCATION, itm.SELLUNITCODE,
                    itm.CATCODE + ' - ' + itm.CATNAME, itm.TRANDATE, itm.USERID, ''
                ]).draw(false);
            })
        })
    }

    function getCountMStatus() {
        let qry = `select * from STDCNTSTATUS`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let lstStatus = [];
            jsn.dbitems.forEach((itm, idx, arr) => {
                let obj = {
                    label: itm.CNTMSTATUS + ' - ' + itm.SNAME,
                    value: itm.CNTMSTATUS
                };
                lstStatus.push(obj);
                if (idx == arr.length - 1) {
                    $('#cntmstatus-srch').multiselect('dataprovider', lstStatus);
                    getStoreByUser();
                }
            })
        })
    }

    function getStoreByUser() {
        let qry = `
        exec WebCC_LoadStoreByUser '${userId}'
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let obj = {
                    label: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`,
                    value: itm.ST_CODE
                };
                data.push(obj);
                if (idx == arr.length - 1) {
                    $('#store-srch').multiselect('dataprovider', data);
                    // $('#btnSearch').click();
                }
            });
        });
    }

    function search(obj) {
        obj.blur();
        if (!$('#store-srch').val()) {
            $("#store-srch").multiselect('selectAll', false);
            $("#store-srch").multiselect('rebuild')
        }
        let stores = $('#store-srch').val();
        let jsnStores = JSON.stringify(stores) != 'null' ? JSON.stringify(stores) : null;
        let setId = $('#setid-srch').val() != '' ? $('#setid-srch').val() : null;
        let cntNum = $('#cntnum-srch').val() != '' ? $('#cntnum-srch').val() : null;
        let startDt = $('#startcntdt-srch').val() != '' ? $('#startcntdt-srch').val() : null;
        let endDt = $('#endcntdt-srch').val() != '' ? $('#endcntdt-srch').val() : null;
        let status = $('#cntmstatus-srch').val();
        let jsnStatus = JSON.stringify(status) != 'null' ? JSON.stringify(status) : null;

        if (!IsNullOrEmpty(setId) && !/^[0-9]{0,}$/.test(setId)) {
            swalConfirm('warning', 'ไม่สามารถค้นหาได้', 'กรุณาเลขที่ชุดการนับให้ถูกต้อง');
            return;
        }

        table.rows().remove().draw(false);
        let qry =
            `exec WebCC_SearchCntMain ${cntNum ? `'${cntNum}'` : null}, ${setId ? `'${setId}'` : null}, ${startDt ? `'${startDt}'` : null}, ${endDt ? `'${endDt}'` : null}, ${jsnStores ? `'${jsnStores}'` : null}, ${jsnStatus ? `'${jsnStatus}'` : null}`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                let cntDate = itm.CNTDATE ? itm.CNTDATE.substring(0, 10) : '',
                    obsovs = itm.OBSOVS || '',
                    cfDate = itm.CONFIRMDATE || '',
                    apvDate = itm.APPROVEDATE || '',
                    postDate = itm.POSTDATE || '',
                    cfUser = itm.USERCONFIRM || '',
                    apvUser = itm.USERAPPROVE || '',
                    postUser = itm.USERPOST || '',
                    status = itm.CNTMSTATUS ? itm.CNTMSTATUS.substring(0, 1) : '';

                table.row.add([
                    `<center>
                        <input type='checkbox' name="lstCntNum[]" 
                        ${(profileList.includes('1114') || profileList.includes('1115')) && 
                          (status == 'B' || status == 'L')
                            ? '': 'disabled'} value="${itm.CNTNUM}|${status}">
                    </center>`,
                    `<center>
                        <button class='btn btn-success w-100' onclick="editCnt(this, '${status}', '${itm.CNTMSTATUS}', '${cntDate}', '${itm.CNTNUM}', ${itm.TIMEUP});"
                        ${profileList.includes('1113') && 
                          (status == 'B' || status == 'L') 
                            ? '': 'disabled'}><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไขยอดนับ</button>
                    </center>`,
                    itm.CNTNUM, itm.SETID, cntDate, itm.CNTNAME, itm.CNTMSTATUS,
                    itm.PRTYPE, itm.CATCODE, itm.TOTALSKU, itm.NOCOUNTSKU, itm.PRICE, obsovs,
                    cfDate, cfUser, apvDate, apvUser, postDate, postUser, itm.RLUSER
                ]).draw(false);

                if (idx == arr.length - 1) {
                    $('input[name="lstCntNum[]"]').change(() => {
                        let hasSelect = false;
                        $('input[name="lstCntNum[]"]').each((idx, itm) => {
                            if ($(itm).is(':checked')) {
                                hasSelect = true;
                                let status = itm.value.split('|')[1];
                                if (status == 'B') {
                                    $('#btnCloseCntLocation').removeAttr('disabled');
                                    $('#btnCloseCntSku').attr('disabled', true);
                                } else {
                                    $('#btnCloseCntLocation').attr('disabled', true);
                                    $('#btnCloseCntSku').removeAttr('disabled');
                                }
                            }
                        })

                        if (hasSelect) {
                            $('input[name="lstCntNum[]"]').each((idx, itm) => {
                                if (!$(itm).is(':checked')) {
                                    $(itm).attr('disabled', true);
                                }
                            })
                        } else {
                            $('input[name="lstCntNum[]"]').each((idx, itm) => {
                                if (!$(itm).is(':checked')) {
                                    let status = itm.value.split('|')[1];
                                    if (['B', 'L'].includes(status) &&
                                        (profileList.includes('1114') ||
                                            profileList.includes('1115'))) {
                                        $(itm).removeAttr('disabled');
                                    } else {
                                        $(itm).attr('disabled', true);
                                    }
                                }
                            })
                            $('#btnCloseCntSku, #btnCloseCntLocation').attr('disabled', true);
                        }
                    })
                }
            })
        })
    }

    function closeCntLocation(obj) {
        obj.blur();

        if (!profileList.includes('1114')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'ปิดการนับระดับ Location');
            return;
        }

        let lstChkCntNum = [],
            lstCanClose = [],
            lstCannotClose = [];

        $('input[name="lstCntNum[]"]').each((idx, itm) => {
            if ($(itm).is(':checked')) {
                lstChkCntNum.push(itm.value);
            }
        })

        if (!(lstChkCntNum.length > 0)) {
            swalConfirm('warning', 'กรุณาเลือกใบนับ', 'ที่ท่านต้องการปิดการนับระดับ Location')
            return;
        }

        swal({
                title: 'คุณต้องการปิดการนับระดับ Location ใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                lstChkCntNum.forEach((itm, idx, arr) => {
                    let cntNum = itm.split('|')[0],
                        status = itm.split('|')[1];

                    (status == 'B') ? lstCanClose.push(cntNum): lstCannotClose.push(cntNum);

                    if (idx == arr.length - 1) {
                        let jsnClsItmFail = JSON.stringify(lstCannotClose);

                        if (lstCannotClose.length > 0) {
                            alert(
                                `เลขที่ใบนับเหล่านี้ไม่สามารถปิดการนับระดับ Location ได้\r\n${jsnClsItmFail}\r\nเนื่องจากสถานภาพของใบนับไม่เท่ากับ (B - อยู่ระหว่างการนับ)`
                            )
                        }

                        if (!(lstCanClose.length > 0)) {
                            swalConfirm('warning', 'กรุณาเลือกใบนับใหม่อีกครั้ง',
                                'ไม่พบใบนับที่ต้องการปิดการนับ');
                            return;
                        }

                        let jsnClsItm = JSON.stringify(lstCanClose);
                        execCloseCntLocation(jsnClsItm);
                    }
                })
            }
        );
    }

    function execCloseCntLocation(jsnClsItm) {
        let qry = `declare @result varchar(500)
                   exec WebCC_CloseCountLocation '${jsnClsItm}', '${userId}', @result output
                   select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[0].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', 'ปิดการนับระดับ Location ไม่สำเร็จ', result);
                return;
            }

            $('#btnSearch').click();
            swalConfirm('success', 'ปิดการนับระดับ Location สำเร็จ', result);
        })
    }

    function closeCntSku(obj) {
        obj.blur();

        if (!profileList.includes('1115')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'ปิดการนับระดับ SKU');
            return;
        }

        let lstChkCntNum = [],
            lstCanClose = [],
            lstCannotClose = [];

        $('input[name="lstCntNum[]"]').each((idx, itm) => {
            if ($(itm).is(':checked')) {
                lstChkCntNum.push(itm.value);
            }
        })

        if (!(lstChkCntNum.length > 0)) {
            swalConfirm('warning', 'กรุณาเลือกใบนับ', 'ที่ท่านต้องการปิดการนับระดับ SKU')
            return;
        }

        swal({
                title: 'คุณต้องการจบการนับใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                lstChkCntNum.forEach((itm, idx, arr) => {
                    let cntNum = itm.split('|')[0],
                        status = itm.split('|')[1];

                    (status == 'L') ? lstCanClose.push(cntNum): lstCannotClose.push(cntNum);

                    if (idx == arr.length - 1) {
                        let jsnClsItmFail = JSON.stringify(lstCannotClose);

                        if (lstCannotClose.length > 0) {
                            alert(
                                `เลขที่ใบนับเหล่านี้ไม่สามารถจบการนับได้\r\n${jsnClsItmFail}\r\nเนื่องจากสถานภาพของใบนับไม่เท่ากับ (L - ปิดการนับระดับ Location)`
                            )
                        }

                        if (!(lstCanClose.length > 0)) {
                            swalConfirm('warning', 'กรุณาเลือกใบนับใหม่อีกครั้ง',
                                'ไม่พบใบนับที่ต้องการปิดการนับ');
                            return;
                        }

                        let jsnClsItm = JSON.stringify(lstCanClose);
                        execCloseCntSku(jsnClsItm);
                    }
                })
            }
        );
    }

    function execCloseCntSku(jsnClsItm) {
        let qry = `declare @result varchar(500)
                   exec WebCC_CloseCountSKU '${jsnClsItm}', '${userId}', @result output
                   select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[0].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', 'ปิดการนับระดับ SKU ไม่สำเร็จ', result);
                return;
            }

            $('#btnSearch').click();
            swalConfirm('success', 'ปิดการนับระดับ SKU สำเร็จ', result);
        })
    }

    function editCnt(obj, status, statusDet, cntDate, cntNum, timeUp) {
        obj.blur();
        if (!profileList.includes('1113')) {
            swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'แก้ไขยอดนับ');
            return;
        }

        if (!['B', 'L'].includes(status)) {
            swalConfirm('warning', 'สถานภาพการนับไม่เข้าเงื่อนไข', 'สำหรับการแก้ไขยอดนับ');
            return;
        }

        $('#searchPanel').hide();
        $('#cntnum-edt').val(cntNum);
        $('#cntdate-edt').val(cntDate);
        $('#cntmstatus-edt').val(statusDet);
        isTimeUp = timeUp;
        getDetail(cntNum)
        cntnumStatus = status;

        $('#cntqnt-edt, #sku-edt, #btnConfirm').attr('disabled', true);
        table.search('').draw();
        tableEdt.rows().remove().draw(false);

        if (status == 'B') {
            $('#location-edt').attr('disabled', false);
            $('#location-text').attr('readonly', false);
            $('#listTypesDiv').show();
            $('#btnGroupAddProduct').hide();
            $('#btnGroupFinishProduct').hide();
            getLocationByCntNum(cntNum);
            $('#checkStatus').html("แก้ไขยอดนับ");
        } else {
            $('#location-edt').attr('disabled', true);
            $('#location-text').attr('readonly', true);
            $('#listTypesDiv').hide();
            if (!isTimeUp) {
                $('#btnGroupAddProduct').show();
            }
            $('#btnGroupFinishProduct').hide();
            $('#sku-edt').val('');
            $('#cntqnt-edt').val(0.00);
            $('#cntqnt-edt, #sku-edt, #btnConfirm').attr('disabled', true);
            getLocationKeyCntItem(cntNum, null);
            $('#checkStatus').html("แก้ไข Variance");
        }

        $('#editCntPanel').show();
    }

    function getLocationByCntNum(cntNum) {
        let qry = `exec WebCC_ListCountLocation '${cntNum}', '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            if (jsn.dbrows > 0) {
                jsn.dbitems.forEach((itm, idx, arr) => {
                    $('#location-edt').append(
                        `<option value='${itm.LOCATION}'>${itm.LOCATION}</option>`);
                    if (idx == arr.length - 1) {
                        $('#btnLocationList').click();
                    }
                })
            } else {
                $('#btnLocationList').click();
            }
        })
    }

    function clearEditCount() {
        $('#location-edt').html(``);
        $('#location-text').val('');
        $('#location-edt').attr('disabled', true);
        tableEdt.rows().remove().draw(false);
        $('#sku-edt').val('');
        $('#cntqnt-edt').val(0.00);
        $('#cntqnt-edt, #sku-edt, #btnConfirm').attr('disabled', true);
        $('#btnLocationList').click();
        tableEdt.search('').draw();
    }

    function getDetail(cntNum) {
        let qry = `declare @result varchar(500)
                    exec WebCC_STCKCNT_GetCntMain4Show 0,'${cntNum}','${userId}',@result output
                    select @result as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let result = jsn.dbitems[jsn.dbitems.length - 1].RESULT;
            if (result != 'OKOK') {
                swalConfirm('warning', 'ไม่สามารถแก้ไขยอดนับได้', result);
                return;
            }

            let itm = jsn.dbitems[0];
            let [cntName, stcode, stmerch, stname] = [itm.CNTNAME, itm.STCODE, itm.STMERCH, itm.STNAME];
            $('#cntname-edt').val(cntName);
            $('#store-edt').val(stcode + ' - (' + stname + ') - ' + stmerch);
        })
    }

    function back2SrchPnl(obj) {
        obj.blur();

        swal({
                title: 'คุณต้องการกลับสู่หน้าหลักใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: true,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                clearEditCount();
                $('#editCntPanel').hide();
                $('#searchPanel').show();
                table.search('').draw();
            }
        );
    }

    function checkLocation(location) {
        $('#btnConfirm').css('display', 'unset');
        $('#btnAdd').css('display', 'none');
        tableEdt.rows().remove().draw(false);
        tableEdt.search('').draw();
        $('#btnGroupUpdate').hide();
        $('#btnGroupAddSKU').hide();
        if (IsNullOrWhiteSpace(location)) {
            // swalConfirm('warning', 'กรุณาระบุ Location ให้ถูกต้อง', '');
            $('#sku-edt').val('');
            $('#cntqnt-edt').val(0.00);
            $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
            return;
        }

        let cntNum = $('#cntnum-edt').val();
        let qry = `declare @res varchar(500)
                    exec WebCC_STCKCNT_CheckCntLocation '${cntNum}', '${location}', @res output
                    select @res as RESULT`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
                return;
            }

            let result = jsn.dbitems[0].RESULT;
            if (!result.includes('OKAD')) {
                if (result != 'OKOK') {
                    swalConfirm('warning', 'ไม่สามารถเลือก Location นี้ได้', result);
                    $('#location-text').val('');
                    $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
                    return;
                }

                $('#sku-edt').val('');
                $('#cntqnt-edt').val(0.00);
                $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
                getLocationKeyCntItem(cntNum, location);
                if (!profileList.includes('1155') && !isTimeUp) {
                    if (cntnumStatus != 'L') {
                        $('#btnGroupAddSKU').show();
                    }
                }
                return;
            }

            swal({
                    title: 'ไม่มี Location นี้ในใบนับ',
                    text: 'คุณต้องการเพิ่ม Location นี้หรือไม่',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: "ยกเลิก",
                    confirmButtonClass: 'btn-danger',
                    cancelButtonText: "ตกลง",
                    cancelButtonClass: 'btn-primary',
                    closeOnCancel: false,
                },
                function (isConfirm) {
                    if (isConfirm) {
                        return
                    };
                    if (profileList.includes('1155')) {
                        swalConfirm('warning', 'คุณไม่มีสิทธิ์ในการใช้งาน', 'การเพิ่ม Location และ SKU');
                        $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
                        $("#location-text").val('');
                        return;
                    }
                    if (isTimeUp) {
                        swalConfirm('warning', 'ไม่สามารถเพิ่มข้อมูลได้',
                            'เนื่องจากใบนับนี้หมดเวลานับแล้ว กรุณาปลดใบนับและดำเนินการอีกครั้ง');
                        $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
                        $("#location-text").val('');
                        return;
                    }
                    $(".cancel").attr('disabled', true);

                    let qry = `declare @res varchar(500)
                                    exec WebCC_STCKCNT_AddCntLocation '${cntNum}', '${location}', '${userId}', @res output
                                    select @res as RESULT`;
                    let pdata = {
                        query: qry
                    }
                    ajaxExec(pdata, (isok, ret) => {
                        let jsn = JSON.parse(ret);
                        if (!(isok && jsn.dbcode == 0)) {
                            swalConfirm('error', 'Failed', jsn.dbmessage);
                            return;
                        }

                        let result = jsn.dbitems[0].RESULT;
                        if (result != 'OKOK') {
                            swalConfirm('warning', 'ไม่สามารถ Add Location ได้', result);
                            $('#location-text').val('');
                            return;
                        }

                        $('#sku-edt').val('');
                        $('#cntqnt-edt').val(0.00);
                        $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', false);
                        getLocationKeyCntItem(cntNum, location);
                        swalAl('success', 'เพิ่ม Location สำเร็จ', '');
                        $('#btnConfirm').css('display', 'none');
                        $('#btnAdd').css('display', 'unset');
                        $('#sku-edt').focus();

                    })
                }
            );
        })
    }

    function getLocationKeyCntItem(cntNum, location) {
        let qry = `exec WebCC_STCKCNT_LoadKeyCntItem '${cntNum}', ${location ? `'${location}'` : null}, '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            tableEdt.rows().remove().draw(false);

            jsn.dbitems.forEach((itm, idx, arr) => {
                tableEdt.row.add([
                    `<button class='btn btn-warning w-100' onclick="editCntQnt(this, '${itm.TRANID}', '${itm.SKCODE}', '${itm.CNTQNT}', '${itm.LOCATION}')"
                    ${profileList.includes('1155') || isTimeUp ? 'style="display:none;"': ''}><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไข</button>`,
                    itm.TRANID, itm.SKCODE, itm.PRCODE, itm.PRNAME, itm.CNTQNT, itm.EDITCNT,
                    itm.LOCATION, itm.SELLUNITCODE, itm.CATCODE + ' - ' + itm.CATNAME,
                    itm.TRANDATE, itm.USERID ? itm.USERID : '', ''
                ]).draw(false);
            })
        })
    }

    function editCntQnt(obj, recid, skcode, qnt, location) {
        obj.blur();
        locationEdit = location;
        $('#sku-edt').attr('disabled', true).val(skcode);
        $('#cntqnt-edt').val(qnt);
        $('#cntqnt-edt, #btnConfirm').removeAttr('disabled');
        keyEdit = recid === '0' ? skcode : recid;
        $('#btnConfirm').css('display', 'unset');
        $('#btnAdd').css('display', 'none');
        $('#btnGroupAddSKU').hide();
        $('#btnGroupAddProduct').hide();
        $('#btnGroupFinishProduct').hide();
        $('#location-text').attr('readonly', true)
        $('#cntqnt-edt').focus();
        $('#btnGroupUpdate').show();
        if (cntnumStatus == 'L') {
            $('#location-text').val('');
        }
    }

    function confirm(obj) {
        obj.blur();
        let sku = $('#sku-edt').val(),
            cntqnt = $('#cntqnt-edt').val();

        if (cntqnt <= 0) {
            swalConfirm('warning', 'กรุณาระบุยอดนับให้ถูกต้อง', 'ยอดนับต้องมากกว่า 0');
            return;
        }

        if (cntqnt >= 900) {
            alert('คุณคีย์ข้อมูลยอดนับที่มีจำนวนมากกว่า 900 !!! แน่ใจหรือไม่?');
        }

        swal({
                title: 'คุณต้องการแก้ไขยอดนับใช่หรือไม่',
                text: `SKU : ${sku}\r\nยอดนับ : ${cntqnt}`,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: true,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);
                for (let i = 0; i < tableEdt.rows().data().length; i++) {
                    let itm = tableEdt.rows().data()[i];
                    let [recid, skcode, oldcntqnt, location, haveEdit] = [itm[1], itm[2], itm[5], itm[7], itm[11]];

                    if (keyEdit.length == 8) {
                        if (skcode != keyEdit) continue;
                        if (haveEdit == '' && cntqnt == oldcntqnt && skcode == keyEdit) break;
                        if (haveEdit == '' && cntqnt != oldcntqnt && location != locationEdit && skcode == keyEdit)
                            continue;
                    } else {
                        if (recid != keyEdit) continue;
                        if (haveEdit == '' && cntqnt == oldcntqnt && recid == keyEdit) break;
                    }

                    tableEdt.cell({
                            row: i,
                            column: 0
                        }).data(
                            `<button class='btn btn-warning w-100' onclick="editCntQnt(this, '${recid}', '${skcode}', '${cntqnt}', '${location}')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> แก้ไข</button>`
                        ).cell({
                            row: i,
                            column: 5
                        }).data(cntqnt)
                        .cell({
                            row: i,
                            column: 11
                        }).data(oldcntqnt).draw(false);
                }

                $('#btnGroupUpdate').show()
            }
        );
    }

    // function getProduct4Cnt(sku) {
    //     let cntNum = $('#cntnum-edt').val(),
    //         location = $('#location-text').val();
    //     let qry = `exec WebCC_STCKCNT_GetProduct4KeyCount '${cntNum}', ${sku}, '${location}', 0`;
    //     ajaxGetQuery(qry, (isok, ret) => {
    //         let jsn = JSON.parse(ret);
    //         if (!(isok && jsn.dbcode == 0)) {
    //             swalConfirm('error', 'Failed', jsn.dbmessage);
    //             return;
    //         }

    //         let itm = jsn.dbitems[0];
    //         let result = itm.MSGERR;
    //         if (!result.includes('OKOK')) {
    //             swalConfirm('warning', 'Failed', result);
    //             $('#sku-edt').val('');
    //             $('#cntqnt-edt').attr('disabled', true);
    //             return;
    //         }

    //         $('#cntqnt-edt').attr('disabled', false);
    //         $('#cntqnt-edt').val(itm.CNTQNT);
    //         // let table = $('#locationDetTb').DataTable();
    //         // table.row.add([itm.SKCODE, itm.PRCODE, itm.PRNAME,  ]).draw(false);
    //     })
    // }

    function cancelEdit(obj) {
        obj.blur();

        swal({
                title: 'คุณต้องการยกเลิกการแก้ไขยอดนับ ใช่หรือไม่',
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: true,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);
                $('#btnLocationList').click();

                tableEdt.search('').draw();

                if (cntnumStatus == 'L') {
                    $('#btnGroupAddProduct').show();
                } else {
                    $('#location-text').removeAttr('readonly')
                    $('#btnGroupAddProduct').hide();
                }
            }
        );
    }

    function updateEdit(obj) {
        obj.blur();

        swal({
                title: 'คุณต้องการแก้ไขยอดนับทั้งหมด ใช่หรือไม่',
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let lstUpd = []
                let seq = 0;
                let recIdUpd = null;
                for (let i = 0; i < tableEdt.rows().data().length; i++) {
                    let itm = tableEdt.rows().data()[i];

                    if (itm[11] == '') continue;
                    seq++;
                    let [seqq, recid, skcode, prcode, cntqnt, location] = [seq, itm[1], itm[2], itm[3], itm[5], itm[
                        7]];
                    if (!recIdUpd) recIdUpd = recid;
                    let obj = {
                        seqq,
                        recid,
                        skcode,
                        prcode,
                        cntqnt,
                        location
                    }
                    lstUpd.push(obj);
                }

                if (lstUpd.length == 0) {
                    swalConfirm('warning', 'ไม่สำเร็จ', 'ไม่พบข้อมูลที่ต้องการแก้ไข');
                    return
                }

                let cntNum = $('#cntnum-edt').val()
                let qry = `delete from TMPSAVEKEYCOUNT where loginid = '${loginId}';

                            ${lstUpd.map((itm, idx) => `insert into TMPSAVEKEYCOUNT (LOGINID, SEQ, SKCODE, PRCODE, LOCATION, CNTQNT, RECID) values ('${loginId}', '${itm.seqq}', '${itm.skcode}', '${itm.prcode}', '${itm.location}', '${itm.cntqnt}', '${itm.recid}')`).join("; ") + ';'}

                            declare @result varchar(500)
                            exec WebCC_STCKCNT_SaveKeyCountBulk '${loginId}', '${cntNum}', '${userId}', '', @result output
                            select @result as RESULT`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    let result = jsn.dbitems[0].RESULT;
                    if (!result.includes('OKOK')) {
                        swalConfirm('warning', 'ไม่สามารถแก้ไขยอดนับได้', result);
                        return;
                    }

                    for (let i = 0; i < tableEdt.rows().data().length; i++) {
                        tableEdt.cell({
                            row: i,
                            column: 11
                        }).data('').draw(false);
                    }

                    let status = $('#cntmstatus-edt').val().substring(0, 1);
                    if (status != 'L') {
                        (recIdUpd == 0) ? $('#btnSkuList').click(): $('#btnLocationList').click();
                        $('#btnGroupAddSKU').show();
                        $('#btnGroupAddProduct').hide();
                    } else {
                        getLocationKeyCntItem(cntNum, null);
                        $('#btnGroupAddSKU').hide();
                        $('#btnGroupAddProduct').show();
                    }
                    $('#sku-edt').val('');
                    $('#cntqnt-edt').val(0.00);
                    $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
                    $('#btnGroupUpdate').hide()
                    swalConfirm('success', 'แก้ไขยอดนับสำเร็จ', '');
                })
            }
        );
    }

    function addSku(obj) {
        obj.blur();

        let cntqnt = $('#cntqnt-edt').val();
        if (cntqnt >= 900) {
            alert('คุณคีย์ข้อมูลยอดนับที่มีจำนวนมากกว่า 900 !!! แน่ใจหรือไม่?');
        }

        if (isTimeUp) {
            swalConfirm('warning', 'ไม่สามารถเพิ่มข้อมูลได้',
                'เนื่องจากใบนับนี้หมดเวลานับแล้ว กรุณาปลดใบนับและดำเนินการอีกครั้ง');
            return;
        }

        swal({
                title: 'คุณต้องการเพิ่มข้อมูลใช่หรือไม่',
                text: ``,
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let cntNum = $('#cntnum-edt').val();
                let skcbcr = $('#sku-edt').val();
                let location = $('#location-text').val() == '' ? '-' : $('#location-text').val();
                if (cntqnt == 0) {
                    swalConfirm('warning', 'ไม่สามารถเพิ่มได้', 'กรุณาระบุจำนวนให้ถูกต้อง');
                    return;
                }

                let qry = `declare @result varchar(500)
                            exec PDACC_SaveKeyCount 'A', null, '${cntNum}', ${skcbcr.length < 10 ? skcbcr: null}, ${skcbcr.length > 10 ? `'${skcbcr}'`: null}, '${location}', ${cntqnt}, '${userId}', '', @result output
                            select @result as RESULT`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    let result = jsn.dbitems[0].RESULT;
                    if (!result.includes('OKOK')) {
                        swalConfirm('warning', 'ไม่สามารถเพิ่มข้อมูลได้', result);
                        return;
                    }

                    $('#sku-edt').val('');
                    $('#cntqnt-edt').val(0.00);
                    $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', false);
                    getLocationKeyCntItem(cntNum, location);
                    swalAl('success', 'เพิ่ม SKU สำเร็จ', '');
                    $('#sku-edt').focus();
                })
            }
        );
    }

    function checksku(e, obj) {
        if (e.keyCode == 13) {
            let sku = $(obj).val()
            if (sku.includes('.com')) {
                $(obj).val(sku.substring(sku.length - 8, sku.length));
            }
            $('#cntqnt-edt').focus();
        }
    }

    function addNewSku(obj) {
        obj.blur();

        $('#btnGroupAddSKU').hide();
        $('#sku-edt').val('');
        $('#cntqnt-edt').val(0.00);
        $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', false);
        $('#btnConfirm').css('display', 'none');
        $('#btnAdd').css('display', 'unset');
        $('#sku-edt').focus();
    }

    function addNewProduct(obj) {
        obj.blur();
        $('#btnGroupAddProduct').hide();
        $('#btnGroupAddSKU').hide();
        $('#btnGroupFinishProduct').show();
        $('#btnConfirm').css('display', 'none');
        $('#btnAdd').css('display', 'unset');
        $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').removeAttr('disabled');
        $('#sku-edt').removeAttr('disabled').val('').focus();
        $('#cntqnt-edt').removeAttr('disabled').val(0.00);
    }

    function FinishNewProduct(obj) {
        obj.blur();
        $('#btnGroupAddProduct').show();
        $('#btnGroupFinishProduct').hide();
        $('#btnConfirm').css('display', 'unset');
        $('#btnAdd').css('display', 'none');
        $('#cntqnt-edt, #sku-edt, #btnConfirm, #btnAdd').attr('disabled', true);
        $('#sku-edt').attr('disabled', true).val('');
        $('#cntqnt-edt').attr('disabled', true).val(0.00);
    }

    function locationEnter(e, obj) {
        if (e.charCode == 13) {
            checkLocation(obj.value);
        }
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>แก้ไข/ปิดการนับ</h3>
        </div>
    </div>
    <div class="row" id='searchPanel'>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="setid-srch">เลขที่ชุดการนับ</label>
                        <input type="text" name="setid-srch" id="setid-srch" class='form-control'
                            placeholder="ระบุเลขที่ชุดการนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntnum-srch">เลขที่ใบนับ</label>
                        <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                            placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="startcntdt-srch">ช่วงวันที่ของการนับ - เริ่มต้น</label>
                        <input type="date" name="startcntdt-srch" id="startcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="endcntdt-srch">ช่วงวันที่ของการนับ - สิ้นสุด</label>
                        <input type="date" name="endcntdt-srch" id="endcntdt-srch" class='form-control'
                            autocomplete="off">
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="store-srch">สาขา</label>
                        <select id='store-srch' name='store-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                    <div class="col-md-3 col-xs-12">
                        <label for="cntmstatus-srch">สถานภาพใบนับ</label>
                        <select id='cntmstatus-srch' name='cntmstatus-srch' style='width: 100%;' multiple>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <br>
                        <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                aria-hidden="true"></i> ค้นหา</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <span style='float: left;'>
                            <button id='btnCloseCntLocation' disabled onclick='closeCntLocation(this);'
                                style='display: none;' class='btn btn-warning mr-2 mb-2'><i class="fa fa-times-circle-o"
                                    aria-hidden="true"></i>
                                ปิดการนับระดับ Location</button>
                        </span>
                        <span style='float: right;'>
                            <button id='btnCloseCntSku' disabled onclick='closeCntSku(this);' style='display: none;'
                                class='btn btn-danger mb-2'><i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                จบการนับ</button>
                        </span>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb' class='table table-striped table-bordered'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'>เลือก</th>
                                <th class='text-center'></th>
                                <th class='text-center'>เลขที่ใบนับ</th>
                                <th class='text-center'>เลขที่ชุดการนับ</th>
                                <th class='text-center'>วันที่นับ</th>
                                <th class='text-center'>ชื่อการนับ</th>
                                <th class='text-center'>สถานภาพการนับ</th>
                                <th class='text-center'>ประเภทสินค้า</th>
                                <th class='text-center'>กลุ่มสินค้า</th>
                                <th class='text-center'>จำนวน SKU ทั้งหมด</th>
                                <th class='text-center'>จำนวน SKU ที่ยังไม่ได้นับ</th>
                                <th class='text-center'>ช่วงราคา</th>
                                <th class='text-center'>OBSOVS</th>
                                <th class='text-center'>วันที่ยืนยันการนับ</th>
                                <th class='text-center'>ผู้ยืนยันการนับ</th>
                                <th class='text-center'>วันที่อนุมัติ</th>
                                <th class='text-center'>ผู้อนุมัติการนับ</th>
                                <th class='text-center'>วันที่ POST</th>
                                <th class='text-center'>ผู้ยืนยันการ POST</th>
                                <th class='text-center'>ผู้ปลดใบนับ</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row" id='editCntPanel' hidden>
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="row" style=" display: flex; align-items: center;">
                        <div class="col-md-3 col-xs-12">
                            <button class='btn btn-primary' id='btnBack2SrchPnl' onclick='back2SrchPnl(this);'><i
                                    class="fa fa-arrow-left" aria-hidden="true"></i> ย้อนกลับ</button>
                        </div>
                        <div class="col-md-5 col-xs-12">
                            <p id="checkStatus"
                                style="text-align : center; font-size: 50px; font-weight: bold; margin:0;"></p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <label for="cntnum-edt">เลขที่ใบนับ</label>
                            <input type="text" id='cntnum-edt' name='cntnum-edt' class='form-control'
                                placeholder="กรุณาระบุเลขที่ใบนับ และกด Enter" autocomplete="off" readonly>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label for="cntname-edt">ชื่อการนับ</label>
                            <input type="text" id='cntname-edt' name='cntname-edt' class='form-control'
                                autocomplete="off" value='-' readonly>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label for="cntdate-edt">วันที่นับ</label>
                            <input type="date" id='cntdate-edt' name='cntdate-edt' class='form-control'
                                autocomplete="off" readonly>
                        </div>
                        <div class="col-md-3 col-xs-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <label for="store-edt">สาขา</label>
                            <input type="text" id='store-edt' name='store-edt' class='form-control' autocomplete="off"
                                value='-' readonly>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <label for="cntmstatus-edt">สถานภาพการนับ</label>
                            <input type="text" id='cntmstatus-edt' name='cntmstatus-edt' class='form-control'
                                autocomplete="off" value='-' readonly>
                        </div>
                        <div class="col-md-6 col-xs-12"></div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-6 col-xs-12" id='location-section'>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <label for="location-edt">Location</label>
                                <input type="text" id='location-text' list="location-edt" class='form-control'
                                    onchange="checkLocation(this.value);" onkeypress="locationEnter(event, this)"
                                    placeholder="กรุณาเลือก Location หรือป้อน Location แล้วกด Enter"
                                    autocomplete="off" />
                                <datalist id="location-edt">
                                </datalist>
                            </div>
                        </div><br>
                        <div class="row" id='listTypesDiv' hidden>
                            <div class="col-md-12 col-xs-12">
                                <button class='btn btn-info mr-2 mb-2' id='btnLocationList'><i class="fa fa-list"
                                        aria-hidden="true"></i> List ตาม Location</button>
                                <button class='btn btn-info mb-2' id='btnSkuList'><i class="fa fa-list"
                                        aria-hidden="true"></i> List ตาม SKU</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id='sku-section'>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <label for="sku-edt">SKU / Barcode</label>
                                <input type="text" name="sku-edt" id="sku-edt" class='form-control'
                                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 13;"
                                    onkeyup="checksku(event, this);" disabled>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <span style='float: right;' id='btnGroupAddSKU' hidden>
                                    <button class='btn btn-primary' onclick="addNewSku(this)">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        เพิ่ม SKU</button>
                                </span>
                                <span style='float: right;' id='btnGroupAddProduct' hidden>
                                    <button class='btn btn-primary' onclick="addNewProduct(this)">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        เพิ่มสินค้า</button>
                                </span>
                                <span style='float: right;' id='btnGroupFinishProduct' hidden>
                                    <button class='btn btn-success' onclick="FinishNewProduct(this)">
                                        <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                                        เสร็จสิ้น</button>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <label for="cntqnt-edt">จำนวนนับ</label>
                                <input type="number" name="cntqnt-edt" id="cntqnt-edt" step='1' value='0.00'
                                    class='form-control' disabled>
                            </div>
                            <div class="col-md-6 col-xs-12"></div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-12 col-xs-12">
                                <button class='btn btn-primary' id='btnConfirm' disabled onclick='confirm(this);'><i
                                        class="fa fa-check-square-o" aria-hidden="true"></i> ตกลง</button>
                                <button class='btn btn-primary' id='btnAdd' style='display: none' disabled
                                    onclick='addSku(this);'><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    เพิ่ม</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <table id='locationDetTb' class='table table-bordered table-striped'>
                                <thead>
                                    <tr>
                                        <th class='text-center'></th>
                                        <th class='text-center'>REC ID</th>
                                        <th class='text-center'>SKU</th>
                                        <th class='text-center'>Barcode</th>
                                        <th class='text-center'>ชื่อสินค้า</th>
                                        <th class='text-center'>จำนวนนับ</th>
                                        <th class='text-center'>จำนวนครั้งที่แก้ไข</th>
                                        <th class='text-center'>Location</th>
                                        <th class='text-center'>หน่วยขาย</th>
                                        <th class='text-center'>กลุ่มสินค้า</th>
                                        <th class='text-center'>วันเวลาที่นับ</th>
                                        <th class='text-center'>นับโดย</th>
                                        <th class='text-center'>จำนวนนับเดิม</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="row" id='btnGroupUpdate' hidden>
                        <div class="col-md-12 col-xs-12">
                            <button class="btn btn-danger mr-2 mb-2" id='btnUpdateEdit' onclick="updateEdit(this);"><i
                                    class="fa fa-pencil-square-o" aria-hidden="true"></i> ยืนยันแก้ไข</button>
                            <button class="btn btn-default mb-2" onclick="cancelEdit(this)"><i class="fa fa-ban"
                                    aria-hidden="true"></i> ยกเลิก</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>