<script>
    let table1;
    let table2;

    $(document).ready(() => {
        init();
    })

    function init() {
        table1 = $('#schedTb1').DataTable({
            "columnDefs": [{
                    "targets": [0, 1],
                    "width": "80px"
                },
                {
                    "targets": 2,
                    "width": "300px"
                },
                {
                    "targets": [3, 5],
                    "width": "100px"
                },
                {
                    "targets": 4,
                    "width": "200px"
                },
                {
                    "targets": 6,
                    "width": "50px"
                }
            ]
        });

        table2 = $('#schedTb2').DataTable({
            "columnDefs": [{
                    "targets": [0, 1],
                    "width": "80px"
                },
                {
                    "targets": 2,
                    "width": "300px"
                },
                {
                    "targets": [3, 5],
                    "width": "100px"
                },
                {
                    "targets": 4,
                    "width": "200px"
                },
                {
                    "targets": 6,
                    "width": "50px"
                }
            ]
        });
    }

    function getNonCount1(cntNum) {
        let qry = `exec PDACC_ListItemNotCount '${cntNum}', 1`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            table1.rows().remove().draw(false);
            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                table1.row.add([
                    itm.LOCATION, itm.SKU, itm.ALLLOCATION,
                    itm.BARCODE, itm.PRNAME, itm.BRAND, itm.UNITSIZE
                ]).draw(false);
            })
        })
    }

    function getNonCount2(cntNum) {
        let qry = `exec PDACC_ListItemNotCount '${cntNum}', 0`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            table2.rows().remove().draw(false);
            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                table2.row.add([
                    itm.LOCATION, itm.SKU, itm.ALLLOCATION,
                    itm.BARCODE, itm.PRNAME, itm.BRAND, itm.UNITSIZE
                ]).draw(false);
            })
        })
    }

    function search(obj) {
        obj.blur();
        let cntNum = $('#cntnum-srch').val() != '' ? $('#cntnum-srch').val() : null;

        if (cntNum == null) {
            swalConfirm('warning', 'Failed', 'กรุณาระบุเลขที่ใบนับ')
            return;
        }

        getNonCount1(cntNum);
        getNonCount2(cntNum);
    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>รายการสินค้าที่ยังไม่ได้นับ</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 p-0">
            <div class="row">
                <div class="col-md-12 p-0">
                    <div class="col-md-3 col-xs-12">
                        <label for="cntnum-srch">เลขที่ใบนับ</label>
                        <input type="text" name="cntnum-srch" id="cntnum-srch" class='form-control'
                            placeholder="ระบุเลขที่ใบนับ" autocomplete="off">
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="col-md-12 col-xs-12">
                        <br>
                        <button class='btn btn-info' id='btnSearch' onclick='search(this);'><i class="fa fa-search"
                                aria-hidden="true"></i>ค้นหา</button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4>รายการสินค้ายังไม่ได้นับทั้งหมดที่ On Hand <strong>ไม่เท่ากับ 0</strong></h4>
            </div><br>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb1' style="color:red !important" class='table table-striped table-bordered'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'>Location</th>
                                <th class='text-center'>SKU</th>
                                <th class='text-center'>All Location</th>
                                <th class='text-center'>Barcode</th>
                                <th class='text-center'>PRNAME</th>
                                <th class='text-center'>Brand</th>
                                <th class='text-center'>UnitSize</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div><br>
            <div class="row">
                <h4>รายการสินค้ายังไม่ได้นับทั้งหมดที่ On Hand <strong>เท่ากับ 0</strong></h4>
            </div><br>
            <div class="row">
                <div class="col-md-12 p-0" id='schedDiv'>
                    <table id='schedTb2' class='table table-striped table-bordered'>
                        <thead id='schedHeader'>
                            <tr>
                                <th class='text-center'>Location</th>
                                <th class='text-center'>SKU</th>
                                <th class='text-center'>All Location</th>
                                <th class='text-center'>Barcode</th>
                                <th class='text-center'>PRNAME</th>
                                <th class='text-center'>Brand</th>
                                <th class='text-center'>UnitSize</th>
                            </tr>
                        </thead>
                        <tbody id='schedBody'></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>