<script>
    let stcEdit = '';
    $(document).ready(() => {
        profileControl()
        getStdOpenClose();
        getStore();
    })

    function profileControl() {
        if (profileList.includes('1105')) {
            $('#thead').html(`<tr>
                                    <th class='text-center'>สาขา</th>
                                    <th class='text-center'>ชื่อสาขา</th>
                                    <th class='text-center'>เวลาเปิด</th>
                                    <th class='text-center'>เวลาปิด</th>
                                    <th style='width: 100px'></th>
                                </tr>`);
            $('#addStdOpenCloseDiv').show();
        } else {
            $('#thead').html(`<tr>
                                    <th class='text-center'>สาขา</th>
                                    <th class='text-center'>ชื่อสาขา</th>
                                    <th class='text-center'>เวลาเปิด</th>
                                    <th class='text-center'>เวลาปิด</th>
                                </tr>`);
            $('#addStdOpenCloseDiv').hide()
        }
    }

    function getStore() {
        $('#store').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            enableCaseInsensitiveFiltering: true,
            maxHeight: 400
        });
        let qry = `
            select STMERCH, ST_TNAME, ST_SCODE, ST_CODE
            from store
            where st_status = 'A' and ST_CODE not in (select distinct STCODE from STDOPENCLOSE)
            and ST_CODE in (select value 
                            from openjson((select user2store from systemuser where userid = '${userId}')))
        `;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            let data = [];
            jsn.dbitems.map((itm, idx, arr) => {
                let obj = {
                    label: itm.STMERCH + ' ' + itm.ST_TNAME,
                    value: itm.ST_CODE
                }
                data.push(obj);
                if (idx == arr.length - 1) {
                    $('#store').multiselect('dataprovider', data);
                }
            })
        })
    }

    function getStdOpenClose() {
        let table = $('#table').DataTable();
        let qry = `exec WebCC_GetStdOpenClose`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                if (profileList.includes('1105')) {
                    table.row.add([itm.STMERCH, itm.ST_TNAME, itm.OPENTIEM, itm.CLOSETIME,
                        `<center><button class='btn btn-warning btn-sm' onclick="editStdOpenClose(this, '${itm.STCODE}', '${itm.STMERCH}', '${itm.ST_TNAME}', '${itm.OPENTIEM}', '${itm.CLOSETIME}')"><i class="fa fa-pencil-square-o" aria-hidden="true"> แก้ไข</i></button>
                                         <button class='btn btn-danger btn-sm' onclick="delStdOpenClose(this, '${itm.STCODE}')"><i class="fa fa-trash" aria-hidden="true"> ลบ</i></button>
                                 </center>`
                    ]).draw(false);
                } else {
                    table.row.add([itm.STMERCH, itm.ST_TNAME, itm.OPENTIEM, itm.CLOSETIME]).draw(false);
                }
            })
        })
    }

    function openModalStdOpenClose(obj) {
        obj.blur();
        $('#openTime, #closeTime').val('');
        $('#store').multiselect("clearSelection");
        $('#txtModal').html('เพิ่มสาขา');
        $('#stdOpenCloseModal').modal('show');
    }

    function addStdOpenClose() {
        let store = JSON.stringify($('#store').val());
        let opTime = $('#openTime').val();
        let clsTime = $('#closeTime').val();

        swal({
                title: 'คุณต้องการเพิ่มข้อมูลใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = `exec WebCC_AddStdOpenClose '${store}', '${opTime}', '${clsTime}', '${userId}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    clearTB();
                    getStore();
                    getStdOpenClose();
                    swalAl('success', 'เพิ่มข้อมูลสำเร็จ', '');
                    $('#stdOpenCloseModal').modal('hide');
                })
            }
        );
    }

    function editStdOpenClose(obj, stc, stmerch, stName, opTime, clsTime) {
        obj.blur();
        $('#openTimeEdit').val(opTime);
        $('#closeTimeEdit').val(clsTime);
        stcEdit = stc;
        $('#txtEditModal').html(stmerch + ' - ' + stName.trim());
        $('#editModal').modal('show');
    }

    function edit() {
        let opTime = $('#openTimeEdit').val();
        let clsTime = $('#closeTimeEdit').val();
        swal({
                title: 'คุณต้องการอัพเดทข้อมูลใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = `exec WebCC_EditStdOpenClose '${stcEdit}','${opTime}','${clsTime}','${userId}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    clearTB();
                    getStdOpenClose();
                    swalAl('success', 'แก้ไขข้อมูลสำเร็จ', '');
                    $('#editModal').modal('hide');
                })
            }
        );
    }

    function delStdOpenClose(obj, stc) {
        obj.blur();
        swal({
                title: 'คุณต้องการลบข้อมูลใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = `exec WebCC_DelStdOpenClose '${stc}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    clearTB();
                    getStdOpenClose();
                    getStore();
                    swalAl('success', 'ลบข้อมูลสำเร็จ', '');
                })
            }
        );
    }

    function clearTB() {
        $('#table').remove();
        $('#tbDiv').html(`<table id='table' class='table table-bordered table-striped'>
                                <thead id='thead'>
                                    
                                </thead>
                            </table>`);
        profileControl();
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>เปิด-ปิดเวลานับ</h3>
        </div>
    </div>
    <div class="row" id='addStdOpenCloseDiv'>
        <div class="col-md-12 col-xs-12 pl-0">
            <span style='float: right;'><button class='btn btn-primary' onclick='openModalStdOpenClose(this);'><i
                        class="fa fa-plus-square" aria-hidden="true"></i> เพิ่มสาขา</button></span>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-12 col-xs-12 p-0" id='tbDiv'>
            <table id='table' class='table table-bordered table-striped'>
                <thead id='thead'>

                </thead>
            </table>
        </div>
    </div>

    <div class="modal fade" id="stdOpenCloseModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form action="javascript:addStdOpenClose();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id='txtModal'>เพิ่มสาขา</span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="store" style='font-size: medium;'>เลือกสาขา</label>
                                        <select name="store" id="store" class='form-control' multiple required>

                                        </select>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0"></div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="openTime" style='font-size: medium;'>เวลาเปิด</label>
                                        <input type="time" id="openTime" name="openTime" class='form-control' required>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="closeTime" style='font-size: medium;'>เวลาปิด</label>
                                        <input type="time" id="closeTime" name="closeTime" class='form-control'
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="modal-footer">
                            <button type='submit' class="btn btn-primary" onclick='this.blur();'><i
                                    class="fa fa-floppy-o" aria-hidden="true"></i> บันทึก</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form action="javascript:edit();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">แก้ไขสาขา : <span id='txtEditModal'></span></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 col-xs-12">
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="openTimeEdit" style='font-size: medium;'>เวลาเปิด</label>
                                        <input type="time" id="openTimeEdit" name="openTimeEdit" class='form-control'
                                            required>
                                    </div>
                                    <div class="col-md-6 col-xs-12 pl-0">
                                        <label for="closeTimeEdit" style='font-size: medium;'>เวลาปิด</label>
                                        <input type="time" id="closeTimeEdit" name="closeTimeEdit" class='form-control'
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type='submit' class="btn btn-primary" onclick='this.blur();'><i class="fa fa-floppy-o"
                                aria-hidden="true"></i> บันทึก</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>