<script>
    var charts = [];
    let summaryPerformanceDate;
    $(document).ready(() => {
        startselectyear() //dash1_5
        if (interval) clearInterval(interval);
        init();
        interval = setInterval(init, 30000);
        $("#inputnotification").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#tablenotification tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    })

    function init() {
        getDataPerformance();
        getDashStatCancelCount(); //dash5
        getDashSumCountValue(); //dash2
        getDashSumPerformance(summaryPerformanceDate); //dash3
        getDashCompletion(); //dash4
        getDashCountStatus(); //dash6
        getDashNotification(); //dash7
        getDashAccuracy(); //dash8
    }

    async function getYYYY() {
        let d = new Date();
        let getYYYY = d.getFullYear()
        return getYYYY;
    }
    async function getYYYYMM() {
        let d = new Date();
        let getYYYY = d.getFullYear()
        let mm = d.getMonth() + 1;

        if (mm < 10) {
            mm = '0' + mm
        }
        let getYYYYMM = `${getYYYY}${mm}`
        return getYYYYMM;
    }
    async function getMM() {
        let d = new Date();
        let mm = d.getMonth() + 1;

        if (mm < 10) {
            mm = '0' + mm
        }
        return mm;
    }
    async function getYYYYMMDD() {
        let d = new Date();
        let getYYYY = d.getFullYear()
        let mm = d.getMonth() + 1;
        let dd = d.getDate()
        if (mm < 10) {
            mm = '0' + mm
        }
        if (dd < 10) {
            dd = '0' + dd
        }
        let getYYYYMMDD = `${getYYYY}${mm}${dd}`

        return getYYYYMMDD;
    }

    // Dash1 start
    async function startselectyear() {
        $("#selectyear").html('');
        $("#selectyearStatisticalCancelCycleCount").html('');
        let YYYYstart = 2000;
        let YYYYnow = await getYYYY();
        for (let i = YYYYstart; i <= YYYYnow; i++) {
            $("#selectyear").append(`<option value="${i}">${i}</option>`);
            $("#selectyearStatisticalCancelCycleCount").append(`<option value="${i}">${i}</option>`);
        }
        $("#selectyear").val(YYYYnow);
        $("#selectyearStatisticalCancelCycleCount").val(YYYYnow);
    }
    async function ChartDashStatCancelCountYear(_this) {
        let getYYYY = $("#selectyearStatisticalCancelCycleCount").val();
        getDashStatCancelCount(getYYYY);
    }
    async function ChartPerformanceChangeYear(_this) {
        let getYYYY = $("#selectyear").val();
        getDataPerformance(getYYYY);
        getDashAccuracy(getYYYY);
    }
    async function getDataPerformance(para_YYYY) {
        let YYYY;
        if (para_YYYY) {
            YYYY = para_YYYY;
        } else {
            YYYY = await getYYYY();
        }
        let qry = `exec CCTSQL..WebCC_DashPerformanceCC '${YYYY}', '${userId}'`;

        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    let gain = [];
                    let loss = [];
                    let net = [];
                    for (const e of jsn.dbitems) {
                        gain.push(e.GAIN);
                        loss.push(e.LOSS);
                    }
                    GenDataPerformance(gain, loss)
                }

            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    function GenDataPerformance(para_gain, para_loss) {
        if (typeof charts["ChartPerformance"] !== "undefined") // see if passed id exists
        {

            charts["ChartPerformance"].destroy();
        }
        var ctx = document.getElementById("ChartPerformance");
        charts["ChartPerformance"] = new Chart(ctx, {
            type: 'bar',
            options: {
                legendCallback: function (chart) {
                    var text = [];
                    text.push('<ul class="' + chart.id + '-legend">');
                    var data = chart.data;
                    var datasets = data.datasets;
                    if (datasets.length) {
                        for (var i = 0; i < datasets.length; ++i) {
                            text.push('<li>');
                            if (datasets[i].type == 'line') {
                                text.push('<span class="' + datasets[i].type +
                                    '" style="background-color:' + datasets[i].backgroundColor +
                                    '"></span>');
                            } else {
                                text.push('<span class="' + datasets[i].type +
                                    '" style="background-color:' + datasets[i].backgroundColor +
                                    '"></span>');
                            }
                            text.push(datasets[i].label);
                            text.push('</li>');
                        }
                    }
                    text.push('</ul>');
                    return text.join('');
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            return "฿" + Number(tooltipItem.yLabel).toFixed(0).replace(/./g, function (c, i,
                                a) {
                                return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
                            });
                        }
                    }
                },
                onClick: handleClick,
                legend: {
                    display: true,
                },
                scales: {
                    xAxes: [{
                            type: "category",
                            id: "axis-bar",
                        }
                        /* Commenting out the second axis, { 
                                    type: "time",
                                    id: "axis-time",
                                    display: true,
                                }, */
                    ],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
            },
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: "loss",
                    type: "line",
                    backgroundColor: "#FF8B00",
                    borderColor: "#FF8B00",
                    borderWidth: 2,
                    fill: false,
                    xAxisID: "axis-bar",
                    //data:[3000,1000,5000,2000,2500,7000,2000,1500,5500,3000,1000,5000]
                    data: para_loss //loss
                }, {
                    label: "gain",
                    type: "bar",
                    backgroundColor: "#0000FF",
                    borderColor: "#0000FF",
                    borderWidth: 1,
                    fill: true,
                    xAxisID: "axis-bar",
                    //data:[3000,1000,5000,2000,2500,7000,2000,1500,5500,3000,1000,5000]
                    data: para_gain //gain
                }]
            },

        });

        function handleClick(evt) {
            let arrayMM = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
            let getYYYY = $("#selectyear").val();
            let ElementindexMM = charts["ChartPerformance"].getElementAtEvent(evt);
            let indexMM = ElementindexMM[0]._index;
            let getYYYYMM = `${getYYYY}${arrayMM[indexMM]}`;

            getDashSumCountValue(getYYYYMM); //dash2
            getDashSumPerformance(getYYYYMM); //dash3
            getDashCompletion(getYYYYMM); //dash4

        }
    }
    //Dash2 start
    async function getDashSumCountValue(para_YYYYMM) {
        let YYYYMM
        if (para_YYYYMM) {
            YYYYMM = para_YYYYMM;
        } else {
            YYYYMM = await getYYYYMM();
        }
        let qry = `
        exec CCTSQL..WebCC_DashSumCountValue '${YYYYMM}', '${userId}'
        `;

        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    $("#qnt_gain").text(jsn.dbitems[0].GAINQNT.toLocaleString());
                    $("#baht_gain").text(jsn.dbitems[0].GAIN.toLocaleString());
                    $("#qnt_loss").text(jsn.dbitems[0].LOSSQNT.toLocaleString());
                    $("#baht_loss").text(jsn.dbitems[0].LOSS.toLocaleString());
                    $("#qnt_net").text(jsn.dbitems[0].NETQNT.toLocaleString());
                    $("#baht_net").text(jsn.dbitems[0].NET.toLocaleString());
                    $("#qnt_abs").text(jsn.dbitems[0].ABSOLUTEQNT.toLocaleString());
                    $("#baht_abs").text(jsn.dbitems[0].ABSOLUTE.toLocaleString());
                }

            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
    //Dash3 start
    async function getDashSumPerformance(para_YYYY_MM_DD) {
        //YYYY ไม่ได้
        //YYYYMM
        //YYYYMMDD
        let YYYY_MM_DD;
        if (para_YYYY_MM_DD) {
            YYYY_MM_DD = para_YYYY_MM_DD;
        } else {
            $('#summaryperformancedate').val('')
            YYYY_MM_DD = await getYYYYMM();
        }
        let qry = `exec CCTSQL..WebCC_DashSumPerformance '${YYYY_MM_DD}', '${userId}' `;


        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    let e = jsn.dbitems[0];
                    let data = [e.GAIN, e.LOSS, e.NET];


                    GenDashSumPerformance(data)
                }

            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    async function GenDashSumPerformance(para_data) {

        if (typeof charts["pie-chart"] !== "undefined") // see if passed id exists
        {

            charts["pie-chart"].destroy();
        }
        var ctx = document.getElementById("pie-chart");
        charts["pie-chart"] = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["GAIN", "LOSS", "NET"],
                datasets: [{
                    label: "Summary Performance",
                    backgroundColor: [" #4EFF00", "#EC2700", "#0339EF"],
                    // data: [300, 100, 500]
                    data: para_data
                }]
            },
            options: {

                // title: {
                //     display: true,
                //     text: 'Predicted world population (millions) in 2050'
                // }
            }
        });
    }
    async function summaryperformancedate(_this) {
        let getdate = $(_this).val().replace(/-/g, '').trim();
        summaryPerformanceDate = getdate;
        getDashSumPerformance(getdate); //dash3
        getDashCompletion(getdate); //dash4

    }
    //Dash4 start
    async function getDashCompletion(para_YYYY_MM_DD) {
        //YYYY ไม่ได้
        //YYYYMM
        //YYYYMMDD
        let YYYY_MM_DD;
        if (para_YYYY_MM_DD) {
            YYYY_MM_DD = para_YYYY_MM_DD;
        } else {
            YYYY_MM_DD = await getYYYYMM();
        }
        let qry = `exec CCTSQL..WebCC_DashCompletion '${YYYY_MM_DD}', '${userId}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    $("#TOPNETGAIN").html('');
                    $("#TOPNETLOSS").html('');
                    $("#TOPNETABSOLUTE").html('');
                    for (let e of jsn.dbitems) {
                        if (Object.keys(e).includes('NETGAIN')) {
                            $("#TOPNETGAIN").append(`<p>${e.STORE}</p>`);
                        }
                        if (Object.keys(e).includes('NETLOSS')) {
                            $("#TOPNETLOSS").append(`<p>${e.STORE}</p>`);
                        }
                        if (Object.keys(e).includes('ABSOLUTE')) {
                            $("#TOPNETABSOLUTE").append(`<p>${e.STORE}</p>`);
                        }
                    }
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    //Dash5 start
    async function getDashStatCancelCount(para_YYYY) {
        let YYYY;
        if (para_YYYY) {
            YYYY = para_YYYY;
        } else {
            YYYY = await getYYYY();
        }
        let qry = `exec CCTSQL..WebCC_DashStatCancelCount '${YYYY}', '${userId}'`;

        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    let data = [];
                    for (const e of jsn.dbitems) {
                        data.push(e.CANCELCOUNT);
                    }
                    GenDashStatCancelCount(data)
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
    async function GenDashStatCancelCount(para_data) {
        if (typeof charts["bar-chart-horizontal"] !== "undefined") // see if passed id exists
        {
            charts["bar-chart-horizontal"].destroy();
        }
        var ctx = document.getElementById("bar-chart-horizontal");
        charts["bar-chart-horizontal"] = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov',
                    'Dec'
                ],
                datasets: [{
                    label: "Cancel Count",
                    backgroundColor: "#FF8B00",
                    data: para_data
                    // data: [3000,1000,5000,2000,2500,7000,2000,1500,5500,3000,1000,5000]
                }]
            },
            options: {
                legend: {
                    display: false
                },
                onClick: handleClick,
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                }
            },
        });

        function handleClick(evt) {
            let arrayMM = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
            let getYYYY = $("#selectyearStatisticalCancelCycleCount").val();
            let ElementindexMM = charts["bar-chart-horizontal"].getElementAtEvent(evt);
            let indexMM = ElementindexMM[0]._index;
            let getYYYYMM = `${getYYYY}${arrayMM[indexMM]}`;
            getModalCancelDetail(getYYYYMM); //dash5
        }
    }

    async function getModalCancelDetail(para_YYYY) {
        $('#ModalStatisticalCancelCycleCount').modal('show');
        let YYYY;
        YYYY = para_YYYY;

        let qry = `exec CCTSQL..WebCC_DashListCancelCount '${YYYY}', '${userId}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                $('#TableStatisticalCancelCycleCount').html('');
                if (jsn.dbrows > 0) {
                    for (const e of jsn.dbitems) {
                        $('#TableStatisticalCancelCycleCount').append(`
                    <tr>
                        <td>${e.CNTNUM}</td>
                        <td>${e.STORE}</td>
                    </tr>
                    `);
                    }
                } else {
                    $('#TableStatisticalCancelCycleCount').html(`
                        <p class="text-center">ไม่พบข้อมูล</p>
                    `);
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    //Dash6 start
    async function getDashCountStatus() {

        let YYYYMMDD = await getYYYYMMDD();
        let qry = `
    exec CCTSQL..WebCC_DashCountStatus '${YYYYMMDD}', '${userId}'
    `;
        ajaxGetQuery(qry, (isok, ret) => {

            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    $("#circleG").html(`<h3>${parseFloat(jsn.dbitems[0].GREEN).toFixed(2)} %</h3>`);
                    $("#circleY").html(`<h3>${parseFloat(jsn.dbitems[0].YELLOW).toFixed(2)} %</h3>`);
                    $("#circleR").html(`<h3>${parseFloat(jsn.dbitems[0].RED).toFixed(2)} %</h3>`);
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    //Dash7 start
    async function getDashNotification() {
        let YYYYMMDD = await getYYYYMMDD();
        let qry = `
    exec CCTSQL..WebCC_DashNotification '${YYYYMMDD}', '${userId}'
    `;
        ajaxGetQuery(qry, (isok, ret) => {

            let jsn = JSON.parse(ret);

            $("#tablenotification").html(``);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    for (const e of jsn.dbitems) {
                        $("#tablenotification").append(`
                        <tr>
                            <td ><div class="circlestatus" style="background:${e.STATUSCOLOR}"></div></td>
                            <td class="text-center" >${e.SETID}</td>
                            <td class="text-center" >${e.STMERCH}</td>
                            <td class="text-center">${e.STNAME}</td>
                            <td class="text-center">${e.STATUSDEF}</td>
                        </tr>
                    `);
                    }
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
    //Dash8 start
    async function getDashAccuracy(para_YYYY) {
        let YYYY;
        if (para_YYYY) {
            YYYY = para_YYYY;
        } else {
            YYYY = await getYYYY();
        }
        let qry = `
    exec CCTSQL..WebCC_DashAccuracy '${YYYY}', '${userId}'
    `;
        ajaxGetQuery(qry, (isok, ret) => {
            $("#tableACCURACY").html('');
            let jsn = JSON.parse(ret);
            console.log(jsn)

            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {

                    if (jsn.dbrows == 1) {
                        let e = jsn.dbitems[0];
                        $("#showACCURACY").text(e.TOT_ACCURACY);
                    } else {

                        for (let i = 0; i < jsn.dbitems.length; i++) {
                            let e = jsn.dbitems[i];
                            if (i == jsn.dbitems.length - 1) {
                                $("#showACCURACY").text(`${e.TOT_ACCURACY}%`);
                            } else {
                                $("#tableACCURACY").append(`
                                <tr style="color:${e.STATUSCOLOR};">
                                    <td class="text-B text-center" >${e.STMERCH}</td>
                                    <td class="text-B text-center" >${e.STMERCH}</td>
                                    <td class="text-B">${e.STNAME}</td>
                                    <td class="text-B">${e.ACCURACY}%</td>
                                </tr>
                            `);
                            }
                        }
                    }

                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
</script>
<style>
    .green-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #4EFF00, #9FFF75);
    }

    .red-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #EC2700, #F06A4F);
    }

    .blue-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #0339EF, #4F74F0);
    }

    .yellow-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #E7C100, #E1C844);
    }

    .font-white {
        color: white;
        font-weight: 600;
    }

    .show-text-line {
        width: 100%;
        text-align: left;
        border-bottom: 2px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        padding: 0 15px;
    }

    .title-text-line {
        float: left;
    }

    .flex-container {
        display: flex;
    }

    .flex-center {
        justify-content: center;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .font-card {
        font-size: 1.5rem;
        font-weight: 900;
        color: black;
    }

    .box-blue-color {
        border: 2px solid #7070ec;
        border-radius: 18px;
    }

    .box-blue-gradient {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(21, 150, 199, 1) 100%);
    }

    .circlestatus {

        width: 15px;
        height: 15px;
        background: white;
        border-radius: 100%;
    }

    .circle {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        background: white;
        border-radius: 100%;
    }

    .circle h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .text-B {
        font-weight: 900;
    }
</style>
<div class="container-fluid">
    <!-- <div id="legend"></div> -->
    <!-- <div class="row mt-3 box-blue-color">
        <div class="col-xs-12">
            <select name="year" id="selectyear">

              </select>
        </div>
    </div> -->
    <div class="row mt-3">
        <div class="col-xs-12 col-md-8 p-0">
            <div class="row">
                <div class="col-xs-12 box-blue-color">
                    <h3 class="text-center">Performance Cycle Count <select onchange="ChartPerformanceChangeYear(this)"
                            name="year" id="selectyear"></select></h3>
                    <canvas id="ChartPerformance"></canvas>
                </div>
                <div class="col-xs-12 p-0 my-4">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 p-2">
                            <div class="green-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="baht_gain">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">Gain</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                                <p class="p-0 m-0 font-white">Qnt</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_gain">-</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 p-2 ">
                            <div class="red-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="baht_loss">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">LOSS</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                                <p class="p-0 m-0 font-white">Qnt</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_loss">-</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 p-2 ">
                            <div class="blue-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="baht_net">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">NET</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                                <p class="p-0 m-0 font-white">Qnt</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_net">-</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 p-2 ">
                            <div class="yellow-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="baht_abs">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">ABSOLUTE</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                                <p class="p-0 m-0 font-white">Qnt</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_abs">-</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p-0 my-4">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 box-blue-color">
                            <h3 class="text-center">Summary Performance <input onchange="summaryperformancedate(this)"
                                    type="date" id="summaryperformancedate" name="summaryperformancedate"></h3>
                            <canvas id="pie-chart"></canvas>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row box-blue-color" style="min-height: 220px;">
                                <h3 class="text-center">Complettion</h3>
                                <div class="col-xs-4">
                                    <p style="color: green;">TOP 5 NET GAIN</p>
                                    <div id="TOPNETGAIN">


                                    </div>
                                </div>
                                <div class="col-xs-4"
                                    style="border-left: 2px solid #7070ec;; border-right: 2px solid#7070ec;;">
                                    <p style="color: red;">TOP 5 NET LOSS</p>
                                    <div id="TOPNETLOSS">

                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <p style="color: blue;">TOP 5 NET ABSOLUTE</p>
                                    <div id="TOPNETABSOLUTE">

                                    </div>
                                </div>
                            </div>
                            <div class="row box-blue-color mt-3">
                                <h3 class="text-center">Statistical Cancel Cycle Count <select
                                        onchange="ChartDashStatCancelCountYear(this)"
                                        name="yearStatisticalCancelCycleCount"
                                        id="selectyearStatisticalCancelCycleCount"></select></h3>
                                <canvas id="bar-chart-horizontal"></canvas>
                                <div class="modal fade" id="ModalStatisticalCancelCycleCount" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Modal Header</h4>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>เลขใบนับ</th>
                                                            <th>สาขา</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="TableStatisticalCancelCycleCount">

                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 p-0 ">
            <div class="row ">
                <div class="col-xs-12 box-blue-color box-blue-gradient p-3 mx-3 ">
                    <div class="row ">
                        <h4 class="text-center " style="font-weight: 900;">ACCURACY <span id="showACCURACY"
                                style=" padding: 5px 15px;border: 3px solid green;">0%</span></h4>
                        <br>
                        <table width="100%">
                            <tbody id="tableACCURACY">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12 box-blue-color box-blue-gradient p-3 mx-3 ">
                    <div class="row ">
                        <h3 class="text-center">Status</h3>
                        <div class="col-xs-12 col-md-4">
                            <div class="circle" style="border:5px solid green;" id="circleG">
                                <h3>-</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="circle" style="border:5px solid yellow;" id="circleY">
                                <h3>-</h3>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="circle" style="border:5px solid red;" id="circleR">
                                <h3>-</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12 box-blue-color box-blue-gradient p-3 mx-3 ">
                    <div class="row ">
                        <div class="flex-container flex-center">
                            <div>ค้นหา :</div>
                            <div><input id="inputnotification" type="text" placeholder="Search.."></div>


                        </div>
                        <h4 class="text-center " style="font-weight: 900;">NOTIFICATION</h4>
                        <br>
                        <div style="height: 300px !important;  overflow: auto;">
                            <table width="100%">
                                <thead>
                                    <th></th>
                                    <th class='text-center'>เลขที่ชุดการนับ</th>
                                    <th class='text-center'>STCODE</th>
                                    <th class='text-center'>STORE</th>
                                    <th class='text-center'>STATUS</th>
                                </thead>
                                <tbody id="tablenotification">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>