<script>
    var charts = [];
    let cntnum;
    $(document).ready(() => {
        startlistcntnum()
        // let cntnum = '60920Z260121001';
        // get_Store_Cycle_Count(cntnum);
        // get_DashCountSKUDetail(cntnum);
        // get_DashNotCountSKUDetail(cntnum);
        // getDashGainLossNetABS(cntnum);
    })

    async function startlistcntnum() {

        let getSTCODE = readCookie("CCSTORE")
        // if (getSTCODE == '%' || getSTCODE == '' || getSTCODE == null || getSTCODE == undefined) {
        //     alert('กรุณาเลือกสาขาก่อน')
        //     window.location.replace("/");
        //     return
        // }
        let qry = `exec CCTSQL..PDACC_ListCntMainByStore '${getSTCODE}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            console.log("🚀 ~ file: Dashboardstore.htm ~ line 15 ~ ajaxGetQuery ~ jsn", jsn)

            if (isok && jsn.dbcode == 0) {
                $("#countnameoptine").html('<option value="" disabled selected>เลือกใบนับ</option>')
                for (let e of jsn.dbitems) {
                    if (e.TIMEUP == true) {
                        //         $("#countnameoptine").append(`
                        //     <option disabled value="${e.CNTNUM}">(หมดเวลานับ) ${e.CNTNUM + ' - ' + e.CNTNAME}</option>
                        // `)
                    } else {
                        $("#countnameoptine").append(`
                        <option ${e.CNTMSTATUS == 'V - ยกเลิก' ? 'disabled' : ''} value="${e.CNTNUM}">${e.CNTNUM + ' - ' + e.CNTNAME}${e.CNTMSTATUS == 'V - ยกเลิก' ? ' (ถูกยกเลิกแล้ว)' : ''}</option>
                    `)
                    }

                }

            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    async function ChangCountName() {
        if(interval) clearInterval(interval);

        cntnum = $("#countnameoptine").val();
        if (cntnum != '') {
            init();
            interval = setInterval(init, 30000);
        }
    }

    function init() {
        get_Store_Cycle_Count(cntnum);
        get_DashCountSKUDetail(cntnum);
        get_DashNotCountSKUDetail(cntnum);
        getDashGainLossNetABS(cntnum);
    }

    //Dash1&2
    async function get_Store_Cycle_Count(para_cntnum) {

        let qry = `exec CCTSQL..WebCC_DashCountSKUSummary '${para_cntnum}' `;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            console.log("🚀 ~ file: Dashboardstore.htm ~ line 15 ~ ajaxGetQuery ~ jsn", jsn)

            if (isok && jsn.dbcode == 0) {
                $("#list_store_Store_Cycle_Count").html('');
                if (jsn.dbrows > 0) {
                    let e = jsn.dbitems[0];
                    $("#showstore_Store_Cycle_Count").html(`${e.STMERCH} ${e.STNAME}`);
                    let data = [e.CNTSKU, e.NOTCNTSKU];
                    Gen_Store_Cycle_Count(data)
                    for (let i = 1; i < jsn.dbitems.length; i++) {
                        let e = jsn.dbitems[i];
                        $("#list_store_Store_Cycle_Count").append(
                            ` <p class="text-center statuscount" style="background-color: ${e.STATUS_COLOR};">${e.STATUS_NAME}</p> `
                        );
                    }
                }

            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }

    async function Gen_Store_Cycle_Count(para_data) {

        if (typeof charts["pie-chart-store"] !== "undefined") // see if passed id exists
        {

            charts["pie-chart-store"].destroy();
        }
        var ctx = document.getElementById("pie-chart-store");
        charts["pie-chart-store"] = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ["Scan Complete", "Not Scan"],
                datasets: [{
                    label: "Summary Performance",
                    backgroundColor: [" #4EFF00", "#EC2700", "#0339EF"],
                    // data: [300, 100, 500]
                    data: para_data
                }]
            },
            options: {

            }
        });
    }
    //Dash3
    async function get_DashCountSKUDetail(para_cntnum) {

        let qry = `
    exec CCTSQL..WebCC_DashCountSKUDetail '${para_cntnum}'
    `;
        ajaxGetQuery(qry, (isok, ret) => {

            let jsn = JSON.parse(ret);

            $("#table_DashCountSKUDetail").html(``);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    for (const e of jsn.dbitems) {
                        $("#table_DashCountSKUDetail").append(`
                        <tr>
                            <td>${e.SKU}</td>
                            <td>${e.LOCATION}</td>
                            <td>${e.PRNAME}</td>
                            <td>${e.QUANT}</td>
                            <td>${e.AMOUNT}</td>
                            <td>${e.TRANDATE}</td>
                        </tr>
                    `);
                    }
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
    //Dash4
    async function get_DashNotCountSKUDetail(para_cntnum) {

        let qry = `
exec CCTSQL..WebCC_DashNotCountSKUDetail '${para_cntnum}'
`;
        ajaxGetQuery(qry, (isok, ret) => {

            let jsn = JSON.parse(ret);

            $("#table_DashNotCountSKUDetail").html(``);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    for (const e of jsn.dbitems) {
                        $("#table_DashNotCountSKUDetail").append(`
                    <tr>
                        <td>${e.SKU}</td>
                        <td>${e.PRNAME}</td>
                        <td>${e.SUBDEPT}</td>
                    </tr>
                `);
                    }
                }
            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
    //Dash5 start
    async function getDashGainLossNetABS(para_cntnum) {

        let qry = `
        exec CCTSQL..WebCC_DashGainLossNetABS '${para_cntnum}'
        `;

        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok && jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    $("#qnt_gain_store").text(jsn.dbitems[0].GAIN.toLocaleString());
                    $("#qnt_loss_store").text(jsn.dbitems[0].LOSS.toLocaleString());
                    $("#qnt_net_store").text(jsn.dbitems[0].NET.toLocaleString());
                    $("#qnt_abs_store").text(jsn.dbitems[0].ABS.toLocaleString());

                }

            } else {
                swalConfirm('error', 'Failed', jsn.dbmessage);
            }
        });
    }
</script>
<style>
    .green-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #4EFF00, #9FFF75);
    }

    .red-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #EC2700, #F06A4F);
    }

    .blue-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #0339EF, #4F74F0);
    }

    .yellow-gradient {
        background-color: #4EFF00;
        /* For browsers that do not support gradients */
        background-image: linear-gradient(to right, #E7C100, #E1C844);
    }

    .font-white {
        color: white;
        font-weight: 600;
    }

    .show-text-line {
        width: 100%;
        text-align: left;
        border-bottom: 2px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        padding: 0 15px;
    }

    .title-text-line {
        float: left;
    }

    .flex-container {
        display: flex;
    }

    .flex-center {
        justify-content: center;
    }

    .flex-grow {
        flex-grow: 1;
    }

    .font-card {
        font-size: 1.5rem;
        font-weight: 900;
        color: black;
    }

    .box-blue-color {
        border: 2px solid #7070ec;
        border-radius: 18px;
    }

    .box-blue-gradient {
        background: rgb(255, 255, 255);
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(21, 150, 199, 1) 100%);
    }

    .circlestatus {

        width: 15px;
        height: 15px;
        background: white;
        border-radius: 100%;
    }

    .circle {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        background: white;
        border-radius: 100%;
    }

    .circle h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .text-B {
        font-weight: 900;
    }

    .statuscount {
        margin: 15px;
        padding: 5px;
        font-weight: 900;
        color: black;
        border: 2px solid blue;
        border-radius: 4px;
    }
</style>
<div class="container-fluid">
    <!-- <div id="legend"></div> -->
    <div class="row mt-3">
        <div class="col form-group">
            <label for="countnameoptine">เลือกใบนับ</label>
            <select class="form-control" onchange="ChangCountName()" id="countnameoptine">
                <option value="" disabled selected>เลือกใบนับ</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xs-12 col-md-4 p-0">
            <div class="row">
                <div class="col-xs-12 box-blue-color">
                    <h3 class="text-center">Store Cycle Count <span id="showstore_Store_Cycle_Count"></span></h3>
                    <canvas id="pie-chart-store"></canvas>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12 box-blue-color box-blue-gradient p-3 ">
                    <h3 class="text-center">STATUS COUNT NAME</h3>
                    <div class="row" id="list_store_Store_Cycle_Count">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-8 p-0 ">

            <div class="row ">
                <div class="col-xs-12 box-blue-color  p-3 mx-3 ">
                    <div class="row " style=" height: 400px;overflow: auto;">
                        <h4 style="color:blue; font-weight: 900; ">Store Count</h4>
                        <table class="table">
                            <thead>
                                <tr style="background-color: lightblue ;">
                                    <th>SKU</th>
                                    <th>Location</th>
                                    <th>Description</th>
                                    <th>QNT</th>
                                    <th>Amount</th>
                                    <th>Date/Time</th>
                                </tr>
                            </thead>
                            <tbody id="table_DashCountSKUDetail">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12 box-blue-color  p-3 mx-3 ">
                    <div class="row " style=" height: 400px;overflow: auto;">
                        <table class="table">
                            <thead>
                                <tr style="background-color: pink ;">
                                    <th>SKU Not Scan</th>
                                    <th>Description</th>
                                    <th>S-Dept</th>

                                </tr>
                            </thead>
                            <tbody id="table_DashNotCountSKUDetail">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12 box-blue-color p-3 my-4 ">
                    <div class="row">
                        <div class="col-xs-12 col-md-3 p-2">
                            <div class="green-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_gain_store">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">Gain</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 p-2 ">
                            <div class="red-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_loss_store">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">LOSS</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 p-2 ">
                            <div class="blue-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_net_store">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">NET</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-3 p-2 ">
                            <div class="yellow-gradient p-2">
                                <p class="p-0 m-0 font-white">Baht</p>
                                <h3 class="p-0 m-0 font-white text-right" id="qnt_abs_store">-</h3>
                                <div class="flex-container">
                                    <div class="font-card">ABSOLUTE</div>
                                    <div class="flex-grow show-text-line"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>