<script>
    $(document).ready(() => {
        $('#sel-store').select2({
            placeholder: 'เลือกสาขา'
        });
        getStoreByUser();
    })

    function getStoreByUser() {
        let qry = `exec WebCC_LoadStoreByUser '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                let append = {
                    id: itm.ST_CODE,
                    text: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`
                }
                let newOption = new Option(append.text, append.id, false, false);
                $('#sel-store').append(newOption).trigger('change');

                if (idx == arr.length - 1) {
                    $('#sel-store').on('select2:select', function (e) {
                        let data = e.params.data;
                        search(data.id)
                    });
                }
            });
        });
    }

    function search(stc) {
        $('#sel-store').attr('disabled', true)
        clearAllTable();
        getMMSLocation(stc).then(() => {
            getMMSSKULocation(stc).then(() => {
                $('#det-div').show();
            })
        });
    }

    async function getMMSLocation(stc) {
        $('#loading-location').show();
        let qry = `select ST_CODE, LOCATION, LCSTATUS, --ZONE, GON, BAY, 
                          --MAXSEQ, ZONENAME, GONNAME, 
                          USERID, FORMAT(INSDATE, 'yyyy-MM-dd HH:mm:ss') as INSDATE,
                          isnull(USERLUPD, '') as USERLUPD, 
                          FORMAT(LUPD, 'yyyy-MM-dd HH:mm:ss') as LUPD
                    from MMS_STLOCATION 
                    where ST_CODE = '${stc}'
                    and LEN(RTRIM(LOCATION)) > 0`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            let header = ``;
            let body = '';
            Object.keys(jsn.dbfields[0]).map((itm, idx, arr) => {
                header += `<th class='text-center'>${itm}</th>`;
                if (arr.length - 1 == idx) {
                    header = `<thead><tr>${header}</tr></thead>`;
                    $('#tb').append(header);
                    if (jsn.dbrows > 0) {
                        jsn.dbitems.map((itms, idx, arr) => {
                            if (idx == arr.length - 1) {
                                let det = '';
                                let values = Object.values(itms);
                                values.map((itm, idxx, arry) => {
                                    det += `<td>${itm}</td>`
                                    if (idxx == arry.length - 1) {
                                        det = `<tr>${det}</tr>`;
                                        body += det;
                                        $('#tb').append(body);
                                        $('#tb').DataTable({
                                            order: [
                                                [1, 'asc']
                                            ]
                                        });
                                        $('#loading-location').hide();
                                        $('#tb-div').show();
                                    }
                                });
                            } else {
                                let det = '';
                                let values = Object.values(itms);
                                values.map((itm, idxx, arry) => {
                                    det += `<td>${itm}</td>`
                                    if (idxx == arry.length - 1) {
                                        det = `<tr>${det}</tr>`;
                                        body += det;
                                    }
                                });
                            }
                        })
                    } else {
                        $('#tb').DataTable();
                        $('#loading-location').hide();
                        $('#tb-div').show();
                    }

                    let table = $('#tb').DataTable();

                    if (table.rows().data().length == 0) {
                        $('#btn-copy').attr('disabled', true);
                    } else {
                        $('#btn-copy').attr('disabled', false);
                    }
                }
            })
        });
    }

    async function getMMSSKULocation(stc) {
        $('#loading-det').show();
        let qry = `select ST_CODE, SKCODE, BARCODE, --ZONE, GON, BAY, 
                          LOCATION, SEQ, LCSTATUS, USERID, 
                          FORMAT(INSDATE, 'yyyy-MM-dd HH:mm:ss') as INSDATE,
                          isnull(USERLUPD, '') as USERLUPD,
                          FORMAT(LUPD, 'yyyy-MM-dd HH:mm:ss') as LUPD
                    from MMS_STLOCATIONDET 
                    where ST_CODE = '${stc}'
                    and LEN(RTRIM(LOCATION)) > 0`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            let header = ``;
            let body = '';
            Object.keys(jsn.dbfields[0]).map((itm, idx, arr) => {
                header += `<th class='text-center'>${itm}</th>`;
                if (arr.length - 1 == idx) {
                    header = `<thead><tr>${header}</tr></thead>`;
                    $('#tb-det').append(header);
                    if (jsn.dbrows > 0) {
                        jsn.dbitems.map((itms, idx, arr) => {
                            if (idx == arr.length - 1) {
                                let det = '';
                                let values = Object.values(itms);
                                values.map((itm, idxx, arry) => {
                                    det += `<td>${itm}</td>`
                                    if (idxx == arry.length - 1) {
                                        det = `<tr>${det}</tr>`;
                                        body += det;
                                        body = `<tbody>${body}</tbody>`
                                        $('#tb-det').append(body);
                                        $('#tb-det').DataTable({
                                            order: [
                                                [3, 'asc'],
                                                [4, 'asc']
                                            ]
                                        });
                                        $('#loading-det').hide();
                                        $('#tb-det-div').show();
                                    }
                                });
                            } else {
                                let det = '';
                                let values = Object.values(itms);
                                values.map((itm, idxx, arry) => {
                                    det += `<td>${itm}</td>`
                                    if (idxx == arry.length - 1) {
                                        det = `<tr>${det}</tr>`;
                                        body += det;
                                    }
                                });
                            }
                        })
                    } else {
                        $('#tb-det').DataTable();
                        $('#loading-det').hide();
                        $('#tb-det-div').show();
                    }
                }
                $('#sel-store').attr('disabled', false)
            })
        });
    }

    function clearAllTable() {
        $('#tb').remove();
        $('#tb-div').html(`<br>
                            <table id='tb' class='table table-striped table-bordered'>
                            </table>`);
        $('#tb-div').hide();

        $('#tb-det').remove();
        $('#tb-det-div').html(`<br>
                                <table id='tb-det' class='table table-striped table-bordered'>
                                </table>`);
        $('#tb-det-div').hide();
    }

    function startProcess(obj) {
        obj.blur();
        let stc = $('#sel-store').val();
        swal({
                title: "คุณต้องการที่จะคัดลอกข้อมูล",
                text: `สาขา : ${stc} ไปยัง DB ใช่หรือไม่?`,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $(".cancel").attr('disabled', true);

                let qry = `declare @result varchar(500)
                           exec WebCC_GetLocationFromMMS '${stc}', '${userId}', @result output
                           select @result as RESULT`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);

                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return
                    }

                    swalConfirm('success', 'Sent successfully.', jsn.dbitems[0].RESULT);
                })
            });
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>ดึง Location จาก MMS</h3>
        </div>
        <div class="col-md-12 col-xs-12 p-0 mb-4">
            <button type='button' class='btn btn-primary' id='btn-copy' onclick='startProcess(this);' disabled><i
                    class="fa fa-clipboard" aria-hidden="true"></i> Copy 2 DB</button>
        </div>
        <div class="col-md-12 p-0">
            <div class="col-md-3 col-xs-12 p-0 mr-3">
                <label for='sel-store'>กรุณาระบุสาขา</label>
                <select id='sel-store' name='sel-store' class='form-control' style='width: 100%;'>
                    <option value=''>เลือกสาขา</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <div class="row" id='det-div' hidden>
        <div class="col-md-12 p-0">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#location">MMS Location</a></li>
                <li><a data-toggle="tab" href="#skulocation">MMS SKU Location</a></li>
            </ul>

            <div class="tab-content">
                <div id="location" class="tab-pane fade in active">
                    <div class="col-md-12">
                        <center><img src="../images/loading.gif" alt="" id='loading-location' style="display: none;">
                            <div id='tb-div' hidden>
                                <br>
                                <table id='tb' class='table table-striped table-bordered'>
                                </table>
                            </div>
                        </center>
                    </div>
                </div>
                <div id="skulocation" class="tab-pane fade">
                    <div class="col-md-12">
                        <center><img src="../images/loading.gif" alt="" id='loading-det' style="display: none;">
                            <div id='tb-det-div' hidden>
                                <br>
                                <table id='tb-det' class='table table-striped table-bordered'>
                                </table>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>