<script>
    let xl_header;
    let stc;
    let count = 0;
    let insitms = [];
    let insitm = '';

    $(document).ready(() => {
        $('#sel-store').select2({
            placeholder: 'เลือกสาขา'
        });
        getStoreByUser();
    })

    function getStoreByUser() {
        let qry = `exec WebCC_LoadStoreByUser '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return
            }

            if (!(jsn.dbrows > 0)) {
                return
            }

            jsn.dbitems.map((itm, idx, arr) => {
                let append = {
                    id: itm.ST_CODE,
                    text: `${itm.STMERCH} - ${itm.ST_SCODE} ${itm.ST_TNAME}`
                }
                let newOption = new Option(append.text, append.id, false, false);
                $('#sel-store').append(newOption).trigger('change');
            });
        });
    }

    function handleFileSelect(evt) {
        stc = $('#sel-store').val();
        if (stc == '') {
            swalConfirm('warning', 'กรุณาเลือกสาขา', '');
            clearInputFile(inpfile);
            return
        }

        clearTable();
        $('#btnProcess').removeAttr("disabled");
        insitms = [];

        $('#inpfile').attr('disabled', true);
        $('#sel-store').attr('disabled', true);

        console.log('File is selected  ')
        let tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        let fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        insitm = '';
        let reader = new FileReader();
        reader.onload = function (event) {
            let data = event.target.result;
            let workbook = XLSX.read(data, {
                type: 'binary'
            });
            let sheetNames = workbook.SheetNames;
            let worksheet = workbook.Sheets[sheetNames[0]];

            let xl_row = XLSX.utils.sheet_to_row_object_array(worksheet);
            xl_header = getHeaders(worksheet);
            let lstheader = xl_header.map((itm) => itm.toLowerCase());
            if (!lstheader.includes('sku') || !lstheader.includes('location')) {
                clearAll();
                swalConfirm('warning', 'กรุณาตรวจสอบไฟล์', 'ไฟล์ Excel ควรมีคอลัมน์ดังนี้\r\nSKU และ LOCATION')
                return
            }

            let skuHeader, locationHeader;
            xl_header.map((itm, idx, arr) => {
                if (itm.toLowerCase() == 'sku') {
                    skuHeader = itm;
                }

                if (itm.toLowerCase() == 'location') {
                    locationHeader = itm
                }

                if (idx == arr.length - 1) {
                    let header =
                        `<tr><th class='text-center'>SKU</th><th class='text-center'>LOCATION</th></tr>`;
                    $('#header').html(header);
                    let detail = '';
                    let idx = 0;

                    for (let i = 0; i < xl_row.length; i++) {
                        let itm = xl_row[i];

                        let sku = itm[skuHeader]
                        // if (!sku) continue;

                        sku = sku ? sku.replace(/\./g, '').replace(/\+/g, '')
                            .replace(/\//g, '') : sku;
                        let location = itm[locationHeader];
                        // if (!location) continue;
                        location = location ? location.trim().replace('\r\n', '') : location;

                        // if (sku == '' || sku.length != 8 || sku.includes('E') || IsNullOrEmpty(location)) {
                        //     continue;
                        // }

                        if (i % 1000 == 0) {
                            insitm = insitm.substring(0, insitm.length - 1)
                            insitms[idx] = insitm;
                            ++idx;
                            insitm = '';
                        }

                        insitm += `(''${loginId}'',''${i+1}'',''${sku}'',''${location}'',null),`;
                        // insitm +=
                        //     `{"SKU":${sku},"LOCATION":"${location.trim().replace('\r\n','')}"},`;
                        detail += `<tr><td>${sku}</td><td>${location ? location.trim() : ''}</td></tr>`;

                    }

                    if (insitm != '') {
                        insitm = insitm.substring(0, insitm.length - 1)
                        insitms[idx] = insitm;
                    }
                    // insitm = "[" + insitm.substring(0, insitm.length - 1) + "]";
                    $('#body').html(detail);
                    $('#importTB').DataTable({
                        "pageLength": 10
                    });
                    $('#btnAll').show();
                    $('#importDiv').show();

                    // xl_row.map((itm, i, arr) => {
                    //     let sku = itm[skuHeader]
                    //     if (!sku) continue;

                    //     sku = sku.replace(/\./g, '').replace(/\+/g, '')
                    //         .replace(/\//g, '');
                    //     let location = itm[locationHeader];
                    //     if (!location) continue;
                    //     location = location.trim().replace('\r\n', '');

                    //     if (i % 1000 == 0) {
                    //         insitm = insitm.substring(0, insitm.length - 1)
                    //         insitms[idx] = insitm;
                    //         ++idx;
                    //         insitm = '';
                    //     }

                    //     insitm += `(''${loginId}'',''${i}'',''${sku}'',''${location}'',null),`;
                    //     // insitm +=
                    //     //     `{"SKU":${sku},"LOCATION":"${location.trim().replace('\r\n','')}"},`;
                    //     detail += `<tr><td>${sku}</td><td>${location.trim()}</td></tr>`;

                    //     if (arr.length - 1 == i) {
                    //         if (insitm != '') {
                    //             insitm = insitm.substring(0, insitm.length - 1)
                    //             insitms[idx] = insitm;
                    //         }
                    //         console.log(insitms)
                    //         // insitm = "[" + insitm.substring(0, insitm.length - 1) + "]";
                    //         $('#body').html(detail);
                    //         $('#importTB').DataTable({
                    //             "pageLength": 100
                    //         });
                    //         $('#btnAll').show();
                    //         $('#importDiv').show();
                    //     }
                    // })
                }
            })
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    async function process(obj) {
        obj.blur();
        swal({
                title: 'คุณต้องการเพิ่มข้อมูล Location ใช่ หรือไม่?',
                text: '',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ยกเลิก",
                confirmButtonClass: 'btn-danger',
                cancelButtonText: "ตกลง",
                cancelButtonClass: 'btn-primary',
                closeOnCancel: false,
            },
            function (isConfirm) {
                if (isConfirm) return;
                $('.cancel, #btnProcess, #btnCancel').attr('disabled', true);
                $('#btnClear').css('display', 'unset');
                importData();
            }
        );
    }

    async function importData() {
        let table = $('#importTB').DataTable();

        if (table.rows().data().length == 0) {
            swalConfirm('warning', 'เงื่อนไข!!!',
                'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
            clearAll();
            return;
        }
        stc = $('#sel-store').val();
        if (stc == '') {
            swalConfirm('warning', 'Failed!!!', 'กรุณาระบุสาขา');
            return;
        }

        count = table.rows().data().length;

        let delTmp = await deleteTmpImportLocation(loginId);
        if (delTmp != '') {
            swalConfirm('error', 'ไม่สำเร็จ', delTmp)
            return
        }

        let insertNewTmp = await insertNewTmpLocation();
        if (insertNewTmp != '') {
            swalConfirm('error', 'ไม่สำเร็จ', insertNewTmp)
            await deleteTmpImportLocation(loginId);
            return
        }

        let qry = `
                    declare @result varchar(500)
                    EXEC WebCC_ImportLocation '${stc}', '${userId}', ${loginId}, @result output
                    select @result as RESULT`;
        let pdata = {
            query: qry
        }

        ajaxExec(pdata, async function (isok, ret) {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                await deleteTmpImportLocation(loginId);
                clearInputFile(inpfile);
                return
            }

            if (jsn.dbitems[jsn.dbitems.length - 1].RESULT == 'OKOK') {
                if (jsn.dbrows == 1) {
                    swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count +
                        ' แถว');
                    await deleteTmpImportLocation(loginId);
                    clearInputFile(inpfile);
                    return;
                } else {
                    swalConfirm('success', 'อัพเดทสำเร็จ!!!',
                        'จำนวนทั้งหมด ' + (count - (jsn.dbrows - 1)) + ' แถว');
                    clearInputFile(inpfile);
                    // swalConfirm('warning', 'กรุณาแก้ไขไฟล์', jsn.dbitems[jsn.dbitems.length - 1].RESULT);
                    let header =
                        `<tr><th class='text-center'>SKU</th><th class='text-center'>LOCATION</th><th class='text-center'>ERROR MESSAGE</th></tr>`;
                    $('#failheader').html(header);

                    let body = '';
                    jsn.dbitems.map(async (itm, idx, arr) => {
                        if (idx <= arr.length - 2) {
                            body +=
                                `<tr><td>${itm.SKU ? itm.SKU : ''}</td><td>${itm.LOCATION ? itm.LOCATION : ''}</td><td>${itm.ERRMSG}</td></tr>`;
                            if (idx == arr.length - 2) {
                                $('#failbody').html(body);
                                $('#failTB').DataTable({
                                    dom: 'Bfrtip',
                                    buttons: [{
                                        extend: 'excel',
                                        filename: 'รายการ Location ที่ไม่สำเร็จ',
                                        title: null
                                    }]
                                });
                                $('#failDiv').show();
                            }
                        }

                        if (idx == arr.length - 1) {
                            await deleteTmpImportLocation(loginId);
                        }
                    })
                }

            } else {
                swalConfirm('warning', 'กรุณาแก้ไขไฟล์', jsn.dbitems[jsn.dbitems.length - 1].RESULT);
                clearInputFile(inpfile);
                let header =
                    `<tr><th class='text-center'>SKU</th><th class='text-center'>LOCATION</th><th class='text-center'>ERROR MESSAGE</th></tr>`;
                $('#failheader').html(header);

                let body = '';
                jsn.dbitems.map(async (itm, idx, arr) => {
                    if (idx <= arr.length - 2) {
                        body +=
                            `<tr><td>${itm.SKU ? itm.SKU : ''}</td><td>${itm.LOCATION ? itm.LOCATION : ''}</td><td>${itm.ERRMSG}</td></tr>`;
                        if (idx == arr.length - 2) {
                            $('#failbody').html(body);
                            $('#failTB').DataTable({
                                dom: 'Bfrtip',
                                buttons: [{
                                    extend: 'excel',
                                    filename: 'รายการ Location ที่ไม่สำเร็จ',
                                    title: null
                                }]
                            });
                            $('#failDiv').show();
                        }
                    }

                    if (idx == arr.length - 1) {
                        await deleteTmpImportLocation(loginId);
                    }
                })
            }
        });
    }

    async function deleteTmpImportLocation(loginId) {
        return new Promise((res, rej) => {
            let qry = `delete TMPIMPORTLOCATION where LOGINID = '${loginId}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, (isok, ret) => {
                let jsn = JSON.parse(ret);
                if (!(isok && jsn.dbcode === 0)) {
                    rej(jsn.dbmessage);
                }

                res('')
            })
        })
    }

    async function insertNewTmpLocation() {
        var countins = 0;
        var msg = '';
        return new Promise((res, rej) => {
            try {
                insitms.forEach(async (itm, idx, arr) => {
                    if (itm != '')
                        await insertStep1000Rows(itm);
                    if (idx == arr.length - 1) {
                        res('')
                    }
                })
            } catch (err) {
                rej(err.message)
            }

        })
    }

    async function insertStep1000Rows(insitm) {
        return new Promise((res, rej) => {
            var qry = `exec ('insert into TMPIMPORTLOCATION values ${insitm}') `;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                var jsn = JSON.parse(ret);
                if (jsn.dbcode == 888)
                    rej(new Error(jsn.dbmessage))

                res('')
            });
        })
    }

    function clearAll(obj) {
        obj ? obj.blur() : '';
        $('#btnClear').css('display', 'none');
        clearInputFile(inpfile);
        clearTable();
        insitms = [];
        insitm = '';
        $('#btnAll, #importDiv').hide();
        $('#sel-store').val('').trigger('change');
        $('#btnProcess, #btnCancel, #inpfile, #sel-store').removeAttr("disabled");
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<h4>รายการ Location By Store ที่ต้องการอัพโหลด</h4>
                              <table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
        $('#failTB').remove();
        $('#failDiv').html(`<h4 class='red'>รายการ Location ที่มีปัญหา</h4>
                        <table id="failTB" class="table table-striped table-bordered red">
                            <thead id="failheader">

                            </thead>
                            <tbody id="failbody">

                            </tbody>
                        </table>`);
        $('#failDiv').hide();
    }
</script>
<style>
    .red {
        color: red !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-0">
            <h3>Import Location</h3>
        </div>
        <div class="col-md-12 p-0">
            <pre><h4>Yan can upload location by store from this page and you must have content like this: SKU, Location. in your excel file</h4></pre>
        </div>
        <div class="col-md-12 p-0">
            <div class="col-md-3 col-xs-12 p-0 mr-2 mb-2">
                <label for='sel-store'>กรุณาระบุสาขา</label>
                <select id='sel-store' name='sel-store' class='form-control' style='width: 100%;'>
                    <option value=''>เลือกสาขา</option>
                </select>
            </div>
            <div class="col-md-4 col-xs-12 p-0 mb-2">
                <label for="inpfile">เลือกไฟล์</label>
                <input type="file" onchange="handleFileSelect()" name="inpfile" id="inpfile" accept=".xls, .xlsx">
            </div>
        </div><br>
        <div class="col-md-12 p-0">
            <button class='btn btn-info' onclick='clearAll(this)' id='btnClear' style='display: none;'>Clear
                ข้อมูล</button>
        </div>
        <br>
        <div class="col-md-12 p-0">
            <div class="col-md-6 col-xs-12 p-0">
                <div id="importDiv" hidden>
                    <h4>รายการ Location ที่ต้องการอัพโหลด</h4>
                    <table id="importTB" class="table table-striped table-bordered">
                        <thead id="header">

                        </thead>
                        <tbody id="body">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 p-0">
                <div id="failDiv" hidden>
                    <h4 class='red'>รายการ Location ที่มีปัญหา</h4>
                    <table id="failTB" class="table table-striped table-bordered red">
                        <thead id="failheader">

                        </thead>
                        <tbody id="failbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div id="btnAll" hidden>
                <div class="col-md-12 col-xs-12 p-0">
                    <button onclick='javascript:process(this);' class='btn btn-primary mr-2 mb-2' id="btnProcess"><i
                            class="fa fa-upload" aria-hidden="true"></i> Process</button>
                    <button onclick='javascript:clearAll(this);' class='btn btn-danger mb-2' id="btnCancel"><i
                            class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>